<template>
  <div id="BIMRootView">
    <!-- 3D渲染容器 -->
    <div id="CanvasRoot"
         style="width:100%;height:100%;position:relative"></div>
  </div>
</template>
<script>

import SceneController from '../Web3D/SceneController'
import _ from 'lodash'
/**
负责初始化3D容器以及逻辑控制器
 */
export default {
  props:{
    //场景配置文件
    sceneConfig:{
      type:Object,
      default:function(){
        return null
      }
    }
  },
  data: function () {
    return {
    };
  },
  components: {
  },
  created: function () {
  },
  mounted: function () {
    if (this.sceneConfig==null || this.sceneConfig.url==null) {
      console.error('场景配置配置项不全面');
      return;
    }    
    //初始化场景控制器
    let scene = new SceneController();
    this.scene=scene;
    //获取Canvas渲染容器
    let canvasPanel = document.getElementById('CanvasRoot');
    if (canvasPanel == undefined) {
      console.error('获取容器DOM失败')
    } else {
      //初始化场景
      scene.Init(canvasPanel,_.merge({
        backgroundColor:'#808080', 	
        isDebug:false
      },this.sceneConfig));
    }
    window.scene=scene;
  },
  methods: {    
    /**
   * 加载整个FBX模型
   * @param {String} source model_id+'|'+modle_verison_id
   */
    LoadMesh (source) {
      this.scene.LoadMesh(source);
    },
    /**
   *添加节点
   * @param {String} parentSource 父节点所属Source  model_id+'|'+modle_verison_id
   * @param {String} ParentNodeName 父节点名称
   * @param {String} addSource 添加的FBX路径 model_id+'|'+modle_verison_id
   * @memberof SceneController
   */
    AddMesh (parentSource, ParentNodeName,addSource) {
      this.scene.AddMesh(parentSource, ParentNodeName,addSource);
    },    
    /**
     * 卸载整个场景
     */
    ClearScene () {
      this.scene.ClearScene();
    },
    /**
   * 卸载整个FBX
   * @param {String} source FBX路径地址 model_id+'|'+modle_verison_id
   */
    RemoveMesh (source) {
      this.scene.RemoveMesh(source);
    },
    /**
   * 卸载Node列表
   * @param {Array} source FBX中的node节点列表 model_id+'|'+modle_verison_id
   * @param {Array} nodeNameList FBX中的node节点列表
   */
    RemoveNodeList (source, nodeNameList) {
      this.scene.RemoveNodeList(source, nodeNameList);
    },
  },
  destroyed: function () {
    if (this.scene!=null) {
      this.scene.RemoveScene();
      this.scene=null;
    }
  },
};
</script>

<style scoped>
#BIMRootView {
  height: 100%;
  width: 100%;
}
#CanvasRoot {
  width: 100%;
  height: 100%;
}
</style>