<template>
  <div id="AuditStandard" class="wh100 bgfff br10 padd20">
    <div style="text-align: right">
      <el-button class="bgButton" @click="clickCUHandler">新建</el-button>
    </div>
    <div class="tableClass56 mt20">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData" style="width: 100%">
          <el-table-column :width="$ModelGF.selfAdaption(55)" align="center" type="index" label="序号"></el-table-column>
          <el-table-column align="center" v-for="item in tabHeader" :key="item.key" show-overflow-tooltip :prop="item.prop" :label="item.label"></el-table-column>
          <el-table-column :width="$ModelGF.selfAdaption(240)" align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation"><span @click="clickCUHandler($event, scope.row)">修改</span>|<span>删除</span></div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div class="rightList_main_pagination" v-show="tabIndex != 1">
        <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size="pageSize" :current-page="currentPage" :total="total"> </el-pagination>
        <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
      </div>
    </div>
    <el-dialog class="aduitDialog" lock-scroll :title="textCU" :visible.sync="visible" width="30%" top="8vh" @close="closeHandler">
      <el-form ref="form" class="form" :rules="rules" :model="form" label-position="left">
        <el-form-item prop="name">
          <div style="display: flex; align-items: center">
            <span class="formlabel"><i class="star">*</i>标准名称:</span>
            <el-input v-model="form.name" placeholder="请输入内容"></el-input>
            <el-upload class="upload-demoaaa" action="/api/v1/upload/file" multiple ref="uploadel" :limit="1" :on-success="successHandler" :before-upload="beforeUpload" :show-file-list="false">
              <el-button class="bgButton" size="small">导入标准文件</el-button>
            </el-upload>
          </div>
        </el-form-item>
        <el-form-item prop="audit_type">
          <div style="display: flex; align-items: center">
            <span class="formlabel"><i class="star">*</i>审核类型:</span>
            <el-checkbox-group v-model="form.audit_type" @change="auditChange">
              <el-checkbox :label="1">结构审核</el-checkbox>
              <el-checkbox :label="2">属性审核</el-checkbox>
            </el-checkbox-group>
          </div>
        </el-form-item>

        <el-form-item prop="file_type">
          <span class="formlabel"><i class="star">*</i>模型用途:</span>
          <el-select v-model="form.file_type" placeholder="请选择">
            <el-option v-for="m in filetypeListS" :label="m.name" :value="m.id" :key="m.id + 239"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="sbxhc" prop="device_num">
          <span class="formlabel"><i class="star">*</i>设备型号:</span>
          <el-input @change="changed" @input="blurCompany = false" v-model="form.device_num" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item prop="device_voltage">
          <span class="formlabel"><i class="star">*</i>电压等级:</span>
          <el-select v-model="form.device_voltage" placeholder="请选择">
            <el-option v-for="item in device_voltageList" :label="item.name" :value="item.name" :key="item.name + item.id"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item prop="device_company">
          <span class="formlabel"><i class="star">*</i>生产厂商:</span>
          <el-dropdown placement="bottom" trigger="click" @command="commandHandler">
            <el-input class="width200" placeholder="请输入设备生产厂商" v-model="form.device_company" @input="inputHandler" @change="blurHandler"> </el-input>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item v-for="(item, index) in dropdownList" :command="item" :key="index + 239">
                {{ item }}
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-form-item>
        <el-form-item prop="device_type">
          <span class="formlabel"><i class="star">*</i>设备分类:</span>
          <el-cascader checkStrictly v-model="form.device_type" :options="device_typeList" :props="props" :show-all-levels="false"></el-cascader>
        </el-form-item>

        <el-form-item>
          <span class="formlabel" style="vertical-align: top; box-sizing: border-box"><i class="star" style="color: rgba(0, 0, 0, 0)">*</i>标准说明:</span>
          <el-input :rows="5" type="textarea" v-model="form.describe" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item style="text-align: center">
          <el-button class="bgButton" @click="onSubmit('form', 0)">确定</el-button>
          <el-button @click="visible = false" class="marginL20">返回</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog class="jsonDialog" lock-scroll :visible.sync="jsonVisible" @opened="openHandler" fullscreen width="100%" top="0">
      <div style="width: 100%; height: 100%">
        <b-code-editor @on-change="onchange" v-model="jsonStr" :indent-unit="4" theme="idea" />
        <div class="diafooter">
          <el-button type="primary" @click="fullHandler">{{ fullBtnText }}</el-button>
          <el-button type="primary" @click="fullSubmit">保存</el-button>
          <el-button @click="fullCancel">取消</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
// import JsonEdit from "../../components/jsonEdit.vue";
// import vueJsonEditor from "vue-json-editor";
import { beFull, exitFull } from 'be-full'
import { auditStandard, auditAdd, searchList, geTemConver } from '@/http/api'
import { getGroupsHandler } from '@/utils/shUtils.js'
export default {
  name: 'AuditStandard',
  components: {
    // JsonEdit,
    // vueJsonEditor,
  },
  data() {
    return {
      tableData: [],
      total: 0,
      tabIndex: 0,
      fvisible: false,
      visible: false,
      tableData1: [],
      filetypeListS: [
        { id: 1, name: '数字化移交' },
        { id: 2, name: '精细化模型' },
        { id: 3, name: '实景三维点云' }
      ],
      tabHeader: [
        { label: '标准名称', key: 0, prop: 'name' },
        { label: '标准说明', key: 1, prop: 'describe' }
        // { label: "审核项个数", key: 2, prop: "" },
      ],
      table_ref: null,

      pageSize: 20,
      currentPage: 1,
      textCU: '',
      form: {
        describe: '',
        name: '',
        file_type: '',
        device_num: '',
        device_type: '',
        device_company: '',
        device_voltage: '',
        audit_type: []
      },
      rules: {
        name: [{ required: true, message: '请输入标准名称' }],
        file_type: [{ required: true, message: '请输入模型用途' }],
        device_num: [{ required: true, message: '请输入设备型号' }],
        device_type: [{ required: true, message: '请输入设备分类' }],
        device_company: [{ required: true, message: '请输入设备生产厂商' }],
        device_voltage: [{ required: true, message: '请输入设备电压等级' }],
        audit_type: [{ required: true, message: '请选择审核类型' }]
      },
      file_path: '',
      rowData: {},
      device_typeList: [],
      modelBaseGroups: null,
      jsonVisible: false,
      blurCompany: false,
      jsonStr: '',
      device_voltageList: [],
      dropdownList: [],
      isfull: false,
      fullBtnText: '全屏',
      props: {
        expandTrigger: 'hover',
        children: 'sub_list',
        label: 'name',
        value: 'id',
        emitPath: false
        // checkStrictly: true,
      }
    }
  },
  computed: {},
  watch: {},
  created() {
    getGroupsHandler().then(res => {
      this.device_voltageList = res.device_voltageList
      this.device_typeList = res.device_typeList
      //   this.fileTypeList = res.fileTypeList
    })
  },
  mounted() {
    this.table_ref = this.$refs.tableRef.$refs.table
    this.getHandler_0()
  },
  methods: {
    auditChange(val) {
      console.log(val, '909999999999')
    },
    fullHandler() {
      this.isfull = !this.isfull
      if (this.isfull) {
        beFull()
        this.fullBtnText = '退出全屏'
      } else {
        this.fullBtnText = '全屏'
        exitFull()
      }
    },
    fullCancel() {
      this.isfull = false
      this.fullBtnText = '全屏'
      this.jsonStr = ''
      this.jsonVisible = false
      //   fullHandler();
    },
    fullSubmit() {
      this.jsonVisible = false
      this.isfull = false
      this.fullBtnText = '全屏'
      console.log({
        text: this.jsonStr.replaceAll('\n', '').replaceAll(' ', '')
      })
    },
    inputHandler() {
      this.blurCompany = false
      this.debounce()
    },
    blurHandler() {
      this.blurCompany = true
    },
    debounce() {
      const that = this
      if (that.debounceTime) {
        clearTimeout(that.debounceTime)
      }
      that.debounceTime = setTimeout(function () {
        that.searchListHandler()
        that.debounceTime = null
      }, 1000)
    },
    searchListHandler() {
      searchList({ type: 2, name: this.form.device_company }).then(res => {
        this.dropdownList = res.data
      })
    },
    commandHandler(command) {
      this.form.device_company = command
    },

    changed() {
      const t = this.form.device_num
      this.form.device_num = 1
      this.$set(this.form, 'device_num', t + ' ')
      this.blurCompany = true
      setTimeout(() => {
        this.$set(this, 'device_num', t)
      }, 100)
    },

    onchange(value) {
      //   console.log(value, typeof value, "9999999");
    },
    clickCUHandler(e, row) {
      this.textCU = row ? '修改标准' : '新建标准'
      if (row) {
        this.rowData = row
        this.file_path = row.file_path
        let obj = JSON.parse(JSON.stringify(this.form))
        switch (this.tabIndex) {
          case 0:
            for (const key in obj) {
              if (key == 'audit_type') {
                this.form[key] = row[key] ? row[key].split(',') : []
              } else {
                this.form[key] = row[key]
              }
            }
            this.file_path = row.file_path ? row.file_path : ''
            break

          default:
            break
        }
      }
      this.visible = true
    },

    getHandler_0() {
      auditStandard({ page: this.currentPage, page_size: this.pageSize }).then(res => {
        const data = res.list
        let arr = []
        for (const key in data) {
          arr = arr.concat(data[key])
        }
        this.tableData = arr
        this.total = res.pager.total_rows
      })
    },

    currentChange(currentPage) {
      this.currentPage = currentPage
      this.getHandler_0()
    },
    formClearData() {},
    closeHandler() {
      this.$refs.form.resetFields()
      this.file_path = ''
    },
    openHandler() {},

    // 标准弹框
    successHandler(response) {
      this.$message.success('文件导入成功')
      this.file_path = response.file_access_url
      geTemConver({ file_path: response.file_access_url }).then(res => {
        this.jsonStr = JSON.stringify(res.data)
        this.jsonVisible = true
      })
    },

    // templateConversionHandler() {
    //   templateConversion.then({ file_path: this.file_path }).then(res => {})
    // },

    beforeUpload(file) {
      //   if (file.type == "application/json") {
      return true
      //   } else {
      //     this.$message.warning("仅支持json格式");
      //     return false;
      //   }
    },
    auditAddHandler() {
      if (!this.file_path || this.file_path == '') {
        this.$message.warning('请先导入标准文件')
        return
      }
      const text = this.jsonStr.includes('{') ? this.jsonStr.replaceAll('/\n', '').replaceAll(' ', '') : ''
      const params = {
        file_path: this.file_path,
        text
      }
      this.form.audit_type = this.form.audit_type.join()
      Object.assign(params, this.form)
      auditAdd(params).then(res => {
        if (res.code == 0) {
          this.$message.success('新建成功')
          this.file_path = ''
          this.$refs.uploadel.clearFiles()
          this.visible = false
          this.getHandler_0()
        } else {
          // this.$message.error("新建失败")
        }
      })
    },
    onSubmit(formName, type) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.auditAddHandler()
        } else {
          return false
        }
      })
    }
  }
  //
}
</script>

<style lang="less" scoped>
.upload-demoaaa {
  display: inline-block;
  margin-left: 40px;
}
.form {
  width: 100%;
  padding: 0 20px;
  .example {
    font-size: 16px;
    margin-left: 20px;
  }
  .el-form-item {
    margin-bottom: 20px;
    /deep/.el-form-item__content {
      line-height: 36px;
    }
  }
  /deep/.el-input,
  /deep/.el-select,
  /deep/.el-cascader {
    width: 200px;
  }
  .el-textarea {
    width: 350px;
  }
  /deep/.el-form-item__error {
    left: 125px;
  }
  .formlabel {
    font-size: 16px;
    text-align: left;
    color: #333;
    width: 100px;
    display: inline-block;
    margin-right: 20px;
  }
}
</style>
<style lang="less">
.aduitDialog {
  div.el-dialog__body {
    padding: 20px 20px 1px 20px;
  }
}
.jsonDialog {
  .el-dialog {
    // height: 100%;
    margin: 0;
    .el-dialog__header {
      display: none;
    }
    .el-dialog__body {
      padding: 0;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      .bin-json-editor {
        height: calc(100% - 50px) !important;
        .CodeMirror {
          height: 100%;
        }
      }
      .diafooter {
        display: flex;
        justify-content: flex-end;
        padding: 20px 20px 0 0;
      }
    }
  }
}
</style>
