<template>
  <div id="dictionary" class="wh100 bgfff br10 padd20">
    <div style="text-align: right">
      <el-button class="bgButton" @click="visible = true">新建</el-button>
    </div>
    <div class="tableClass56 mt20">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData" style="width: 100%">
          <el-table-column :width="$ModelGF.selfAdaption(55)" align="center" type="index" label="序号"></el-table-column>
          <el-table-column align="center" v-for="item in tabHeader" :key="item.key" show-overflow-tooltip :prop="item.prop" :label="item.label"></el-table-column>
          <el-table-column :width="$ModelGF.selfAdaption(240)" align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation"><span @click="setHandler(scope.row)">设置</span>|<span>删除</span></div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div class="rightList_main_pagination" v-show="tabIndex != 1">
        <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size="pageSize" :current-page="currentPage" :total="total"> </el-pagination>
        <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
      </div>
    </div>
    <el-dialog class="udDialog" lock-scroll title="新建字典" :visible.sync="visible" width="20%" top="25vh" @close="closeHandler" @open="openHandler">
      <el-form ref="zdform" class="form" :rules="zdrules" :model="zdform" label-position="left">
        <el-form-item prop="name">
          <span class="formlabel"><i class="star">*</i>类型名称:</span>
          <el-input v-model="zdform.name" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item prop="address">
          <span class="formlabel"><i class="star">*</i>类型标识:</span>
          <el-input v-model="zdform.address" placeholder="请输入内容"></el-input>
        </el-form-item>

        <el-form-item style="text-align: center">
          <el-button class="bgButton" @click="onSubmit('zdform')">保存</el-button>
          <el-button @click="visible = false" class="ml20">返回</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog lock-scroll title="地区" :visible.sync="fvisible" width="40%" top="15vh" @close="zdCloseHandler">
      <div class="FFF">
        <div class="TTTheader FFFheader">
          <span>字典名称</span>
          <span>字典值</span>
          <span>操作</span>
        </div>
        <div style="max-height: 500px; overflow: auto">
          <div
            v-for="(item, index) in zdRowData"
            :style="{
              background: parseInt(index / 2) == index / 2 ? '#fff' : 'rgb(245, 251, 250)'
            }"
            class="TTTheader"
            :key="index + 54"
          >
            <span>
              <el-input class="zd_input" placeholder="请输入" v-model="item.name"> </el-input>
            </span>

            <span>
              <el-input class="zd_input" placeholder="请输入" v-model="item.name"> </el-input>
            </span>
            <div class="btnsClass">
              <img class="imgWH_24" src="../../assets/image/topa.png" alt="" @click="clickHandler({ item, index }, 'add_top')" title="上方添加行" />
              <img class="imgWH_24" src="../../assets/image/bota.png" alt="" @click="clickHandler({ item, index }, 'add_bot')" title="下方添加行" />
              <img class="imgWH_24" src="../../assets/image/topb.png" @click="clickHandler({ item, index }, 'move_top')" alt="" title="上移一行" />
              <img class="imgWH_24" src="../../assets/image/botb.png" @click="clickHandler({ item, index }, 'move_bot')" alt="" title="下移一行" />
              <img class="imgWH_24" src="../../assets/image/error.png" @click="clickHandler({ item, index }, 'delete')" alt="" title="删除" />
            </div>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
// import { pushHandler } from "@/utils/shUtils.js";
// import JsonEdit from "../../components/jsonEdit.vue";
// import vueJsonEditor from "vue-json-editor";
import { beFull, exitFull } from 'be-full'
import { getGroups, auditStandard, deleteGroups, createGroups, auditAdd } from '@/http/api'
import { getGroupsHandler } from '@/utils/shUtils'
export default {
  name: 'Dictionary',
  components: {
    // JsonEdit,
    // vueJsonEditor,
  },
  data() {
    return {
      tableData: [],
      total: 0,
      tabIndex: 0,
      fvisible: false,
      visible: false,
      tableData1: [],
      tabHeader: [
        { label: '类型名称', key: 19, prop: 'name' },
        { label: '类型标识', key: 20, prop: 'type' }
      ],
      table_ref: null,
      pageSize: 20,
      currentPage: 1,
      textCU: '',
      zdKeys: [
        { name: '所属地区', key: 'areaList', type: 1 },
        { name: '变电站电压等级', key: 'voltageList', type: 2 },
        { name: '所属站点', key: 'site_nameList', type: 3 },
        { name: '设备间隔', key: 'device_spaceList', type: 4 },
        { name: '设备电压等级', key: 'device_voltageList', type: 5 },
        //   {name:"设备分类",key:"device_typeList",type:7},
        { name: '模型用途', key: 'fileTypeList', type: 8 }
      ],
      zdform: {
        name: '',
        sdress: ''
      },
      zdRowData: [],
      zdrules: {
        name: [{ required: true, message: '请输入类型名称' }],
        sdress: [{ required: true, message: '请输入类型标识' }]
      },

      rowData: {},
      //   device_typeList: [],
      modelBaseGroups: null
    }
  },
  computed: {},
  watch: {},
  created() {
    getGroupsHandler().then(res => {
      this.modelBaseGroups = res
    })
  },
  mounted() {
    this.table_ref = this.$refs.tableRef.$refs.table
    this.getHandler_5()
  },
  methods: {
    addtypeHandler(params) {
      // params.id
      // params.name
      // params.parent_id
      // params.sub_list
      // params.type
      if (!params.isInput) {
        let obj = {
          name: '',
          parent_id: params.id,
          id: 99998 + params.id,
          isInput: true
        }
        if (params.sub_list) {
          params.sub_list.push(obj)
        } else {
          params.sub_list = [obj]
        }
      }
    },
    clearData() {},
    // clickCUHandler(row) {
    //   this.visible = true
    // },
    getHandler_5() {
      let zdKeys = JSON.parse(JSON.stringify(this.zdKeys))
      // tableData
      let modelBaseGroups = this.modelBaseGroups
      zdKeys.forEach(item => {
        for (const key in modelBaseGroups) {
          if (item.key == key) {
            item.childrenlist = modelBaseGroups[key]
          }
        }
      })
      this.tableData = zdKeys
      // modelBaseGroups
    },

    currentChange(currentPage) {
      this.currentPage = currentPage
      this.getHandler_5()
    },
    setHandler(row) {
      this.zdRowData = row.childrenlist
      this.fvisible = true
    },
    zdCloseHandler() {
      this.zdRowData = []
    },
    clickHandler(params, type) {
      let { item, index } = { ...params }
      let arrVar = JSON.parse(JSON.stringify(this.zdRowData))
      this.zdRowData = []
      switch (type) {
        case 'add_top':
          arrVar.splice(index, 0, { name: '' })
          break
        case 'add_bot':
          arrVar.splice(index + 1, 0, { name: '' })
          break
        case 'move_top':
          if (index > 0) {
            arrVar.splice(index, 1)
            arrVar.splice(index - 1, 0, item)
          }
          break
        case 'move_bot':
          if (index < arrVar.length - 1) {
            arrVar.splice(index, 1)
            arrVar.splice(index + 1, 0, item)
          }
          break
        case 'delete':
          arrVar.splice(index, 1)
          break

        default:
          break
      }
      //    = ;
      this.zdRowData = arrVar
    },

    formClearData() {
      this.rowData = {}
      if (this.$refs.zdform) {
        this.zdform.name = ''
        this.zdform.address = ''
        this.$refs.zdform.resetFields()
      }
    },
    closeHandler() {
      this.formClearData()
    },
    openHandler() {},
    onSubmit(formName, type) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          console.log('11')
        } else {
          return false
        }
      })
    }
  }
  //
}
</script>

<style lang="less" scoped>
.FFF {
  .TTTheader {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    > span {
      display: inline-block;
      width: 200px;
    }
  }
  .FFFheader {
    background: rgb(206, 227, 213);
    color: #333;
    font-weight: bold;
  }
  .btnsClass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    img {
      margin: 0 5px;
      cursor: pointer;
    }
  }
  .zd_input {
    .el-input__inner {
      border: 0;
      background: transparent;
      text-align: center;
    }
  }
}
.form {
  width: 100%;
  // border: 1px solid var(--borderColor);
  //   margin-top: 20px;
  //   border-radius: 10px;
  //   padding: 20px;
  //   box-sizing: border-box;
  .example {
    font-size: 16px;
    margin-left: 20px;
  }
  .el-input {
    width: 200px;
  }
  .el-textarea {
    width: 380px;
  }
  .el-form-item__error {
    left: 150px;
  }
  .formlabel {
    font-size: 16px;
    text-align: left;
    color: #333;
    width: 100px;
    display: inline-block;
    margin-right: 20px;
  }
}
</style>
<style lang="less">
.udDialog {
  div.el-dialog__body {
    padding: 20px 20px 1px 20px;
  }
}
</style>
