<template>
  <div id="modelClassification" class="bgfff br10 padd20">
    <div style="text-align: right">
      <el-button class="bgButton" @click="addHandlerBtn">添加</el-button>
    </div>
    <div class="tableClass56 mt20">
      <Table ref="tableRef" :data="tableData" class="yuyu">
        <el-table-column class="haveInputCalss" prop="name" label="名称">
          <template slot-scope="scope">
            <el-input :disabled="!scope.row.isInput" class="table_input" v-model="scope.row.name" @change="inputChangeHandler($event, scope.row)" placeholder="请输入内容"></el-input>
          </template>
        </el-table-column>
        <el-table-column :width="$ModelGF.selfAdaption(240)" align="center" label="操作">
          <template slot-scope="scope">
            <div class="operation">
              <span @click="addtypeHandler(scope.row)" :class="scope.row.isInput ? 'margin5 isdisabled' : 'margin5'">添加</span>|<span
                @click="deltypeHandler(scope.row)"
                :class="scope.row.isInput ? 'margin5 isdisabled' : 'margin5'"
                >删除</span
              >
            </div>
          </template>
        </el-table-column>
      </Table>
    </div>
  </div>
</template>

<script>
import { getGroups, deleteGroups, createGroups } from '@/http/api'
import { getGroupsHandler } from '@/utils/shUtils'
export default {
  name: 'ModelClassification',
  components: {},
  data() {
    return {
      tableData: []
    }
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {
    // this.table_ref = this.$refs.tableRef.$refs.table;
    this.getDeviceTypeList()
  },
  methods: {
    getDeviceTypeList() {
      getGroupsHandler().then(res => {
        this.tableData = res.device_typeList
      })
    },
    addtypeHandler(params) {
      // params.id
      // params.name
      // params.parent_id
      // params.sub_list
      // params.type
      if (!params.isInput) {
        let obj = {
          name: '',
          parent_id: params.id,
          id: 99998 + params.id,
          isInput: true
        }
        if (params.sub_list) {
          params.sub_list.push(obj)
        } else {
          params.sub_list = [obj]
        }
      }
    },
    inputChangeHandler(text, row) {
      let { name, parent_id } = { ...row }
      let para = {
        paraent_id: parent_id,
        name,
        type: 7,
        uid: 1000,
        describe: 'none'
      }
      this.createGroupsHandler(para)
    },
    createGroupsHandler(params) {
      createGroups(params).then(res => {
        if (res.code == 0) {
          this.$message.success('创建成功')
          this.getDeviceTypeList()
        }
      })
    },
    deltypeHandler(row) {
      if (!row.isInput) {
        this.$confirm('您确定要删除吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        })
          .then(() => {
            deleteGroups({ id: row.id }).then(res => {
              if (res.code == 0) {
                this.$message({
                  type: 'success',
                  message: '删除成功!'
                })
                this.getDeviceTypeList()
              }
            })
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            })
          })
      }
    },
    addHandlerBtn() {
      this.tableData.push({
        name: '',
        parent_id: 0,
        id: 6666,
        isInput: true
      })
    }
  }
  //
}
</script>

<style lang="less">
#modelClassification {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .table_input {
    display: inline-block;
    max-width: 600px;
    .el-input__inner {
      background: transparent !important;
      border: 0;
      color: #666666;
    }
  }
}

.isdisabled {
  color: rgb(144, 147, 153);
  cursor: not-allowed;
}
.yuyu {
  width: 100%;
  height: calc(100% - 50px);
}
</style>
