<template>
  <div id="vendorManagement" class="wh100 bgfff br10 padd20">
    <div style="text-align: right">
      <el-button class="bgButton" @click="clickCUHandler">新建</el-button>
    </div>
    <div class="tableClass56 mt20">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData" style="width: 100%">
          <el-table-column width="55" align="center" type="index" label="序号"></el-table-column>
          <el-table-column align="center" label="名称"></el-table-column>
          <el-table-column align="center" label="简称"></el-table-column>
          <el-table-column align="center" label="说明"></el-table-column>
          <el-table-column width="240" align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation"><span @click="clickCUHandler($event, scope.row)">修改</span>|<span>删除</span></div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div class="rightList_main_pagination">
        <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size="pageSize" :current-page="currentPage" :total="total"> </el-pagination>
        <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
      </div>
    </div>
    <el-dialog class="aduitDialog" lock-scroll :title="textCU" :visible.sync="visible" width="30%" top="20vh" @close="closeHandler">
      <el-form ref="form" class="form" :rules="rules" :model="form" label-position="left">
        <el-form-item prop="name">
          <div style="display: flex; align-items: center">
            <span class="formlabel"><i class="star">*</i>名称:</span>
            <el-input v-model="form.name" placeholder="请输入内容"></el-input>
          </div>
        </el-form-item>
        <el-form-item prop="name1">
          <div style="display: flex; align-items: center">
            <span class="formlabel"><i class="star">*</i>简称:</span>
            <el-input v-model="form.name" placeholder="请输入内容"></el-input>
          </div>
        </el-form-item>

        <el-form-item>
          <span class="formlabel" style="vertical-align: top; box-sizing: border-box"><i class="star" style="color: rgba(0, 0, 0, 0)">*</i>标准说明:</span>
          <el-input :rows="5" type="textarea" v-model="form.describe" placeholder="请输入内容"></el-input>
        </el-form-item>
        <el-form-item style="text-align: center">
          <el-button class="bgButton" @click="onSubmit('form', 0)">确定</el-button>
          <el-button @click="visible = false" class="marginL20">返回</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import {} from '@/http/api'
export default {
  name: 'VendorManagement',
  data() {
    return {
      tableData: [],
      total: 0,
      visible: false,
      pageSize: 20,
      currentPage: 1,
      textCU: '',
      form: {
        describe: '',
        name: '',
        name1: ''
      },
      rules: {
        name: [{ required: true, message: '请输入名称' }]
      },
      rowData: {}
    }
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  methods: {
    clickCUHandler(e, row) {
      this.textCU = row ? '修改厂商' : '新建厂商'
      if (row) {
        this.rowData = row
      }
      this.visible = true
    },

    currentChange(currentPage) {
      this.currentPage = currentPage
    },
    closeHandler() {
      this.$refs.form.resetFields()
    },
    onSubmit(formName, type) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          console.log()
        } else {
          return false
        }
      })
    }
  }
  //
}
</script>

<style lang="less" scoped>
.upload-demoaaa {
  display: inline-block;
  margin-left: 40px;
}
.form {
  width: 100%;
  padding: 0 20px;
  .example {
    font-size: 16px;
    margin-left: 20px;
  }
  .el-form-item {
    margin-bottom: 20px;
    /deep/.el-form-item__content {
      line-height: 36px;
    }
  }
  /deep/.el-input,
  /deep/.el-select,
  /deep/.el-cascader {
    width: 200px;
  }
  .el-textarea {
    width: 350px;
  }
  /deep/.el-form-item__error {
    left: 125px;
  }
  .formlabel {
    font-size: 16px;
    text-align: left;
    color: #333;
    width: 100px;
    display: inline-block;
    margin-right: 20px;
  }
}
</style>
<style lang="less">
.aduitDialog {
  div.el-dialog__body {
    padding: 20px 20px 1px 20px;
  }
}
</style>
