<template>
  <div class="wh100 padd20 bgfff br10">
    <ShareForm ref="ShareForm" :statusList="statusList" :searchStatus="1" :propsForm="propsForm" @change="shareFormChange"></ShareForm>
    <div class="tableClass56">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData">
          <!-- <el-table-column type="selection" align="center" width="55"></el-table-column> -->
          <el-table-column :width="$ModelGF.selfAdaption(55)" align="center" type="index" show-overflow-tooltip label="序号"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="name" label="模型名称">
            <!-- <template slot-scope="scope">
              <el-input class="tableInput" v-model="scope.row.name" @change="inputHandler($event, scope.row, 'name')" placeholder=""></el-input>
            </template> -->
          </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_num" label="设备型号">
            <!-- <template slot-scope="scope">
                <el-input class="tableInput" v-model="scope.row.device_num" @change="inputHandler($event, scope.row, 'device_num')" placeholder=""></el-input>
              </template> -->
          </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_voltage" label="电压等级"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_company" label="生产厂商"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="site_name" label="所属站点"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_type_name" label="设备分类"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="create_time" label="创建时间"> </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="site_name" label="版本号"></el-table-column>
          <el-table-column :width="$ModelGF.selfAdaption(250)" align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation">
                <span @click="updateDia(scope.row)">修改</span>|<span>删除</span>|
                <model-preview-btn :modelId="scope.row">预览</model-preview-btn>
                |<span>下载</span>|<span @click="detaildialog(scope.row)">详情</span>
              </div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div class="rightList_main_pagination">
        <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size.sync="pageSize" :current-page.sync="currentPage" :total="total"> </el-pagination>
        <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
      </div>
    </div>
    <el-dialog title="模型详情-设备模型" top="3%" width="85%" lock-scroll :visible.sync="detailVisible">
      <DetailVisible :dataInfo="currRowInfo" :modelInfoList="modelInfoList" :category="'isEquip'"></DetailVisible>
    </el-dialog>
    <el-dialog title="模型信息修改-全站模型" top="5%" width="30%" lock-scroll :visible.sync="updateVisible">
      <UpdateModelInfo category="isEquip" @updateHandler="updateHandler"></UpdateModelInfo>
    </el-dialog>
    <el-dialog title="区域分布" top="5%" width="50%" lock-scroll :visible.sync="quyuVisible">
      <div class="topTab flex flex-jc F16 ml20 mr20">
        <div v-for="item in file_type_list" :class="{ activeClass: quyuActiveIndex == item.id }" @click="clickHandler(item.id)" :key="item.id">
          {{ item.name }}
        </div>
      </div>
      <div class="quyuClass">
        <Regdistribution></Regdistribution>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import DetailVisible from './modelDetails.vue'
import UpdateModelInfo from './updateModelInfo.vue'
import Regdistribution from './regdistribution.vue'
import { getSHJZlist } from '../../http/api'
import { statusHandler } from '../../utils/shUtils'
import Bus from '@/store/bus.js'
export default {
  name: '',
  components: {
    DetailVisible,
    UpdateModelInfo,
    Regdistribution
  },
  data() {
    return {
      quyuActiveIndex: 0,
      propsForm: {
        site_name: '',
        device_type: '',
        device_voltage: '',
        status: ''
      },
      file_type_list: [
        { id: 1, name: '数字化移交' },
        { id: 2, name: '精细化模型' },
        { id: 3, name: '实景三维点云' }
      ],
      tableData: [],
      total: 0,
      pageSize: 20,
      currentPage: 1,
      detailVisible: false,
      updateVisible: false,
      quyuVisible: false,
      formData: {},
      statusList: statusHandler.status,
      currRowInfo: {},
      modelInfoList: [
        { name: '变电站电压等级', key: 'voltage', content: '' },
        { name: '所属站点名称', key: 'site_name', content: '' },
        { name: '设备间隔', key: 'device_space', content: '' },
        { name: '设备电压等级', key: 'device_voltage', content: '' },
        { name: '设备生产厂商', key: '', content: 'device_company' }
      ]
    }
  },
  computed: {},
  watch: {},
  created() {
    Bus.$on()
  },
  mounted() {},
  methods: {
    shareFormChange(val) {
      this.formData = val
      this.getSHJZlistHandler()
    },
    getSHJZlistHandler() {
      let params = {
        page: this.currentPage,
        page_size: this.pageSize
        // uid: this.userID
      }
      Object.assign(params, this.formData)
      getSHJZlist(params).then(res => {
        this.tableData = res.list ? res.list : []
        this.total = res.pager.total_rows
      })
    },

    clickHandler(id) {
      this.quyuActiveIndex = id
    },
    updateDia() {
      this.updateVisible = true
    },
    updateHandler() {
      this.updateVisible = false
    },
    detaildialog(params) {
      this.currRowInfo = params
      this.modelInfoList.forEach(item => {
        item.content = params[item.key] || ''
      })

      this.detailVisible = true
    },
    currentChange(val) {
      this.currentPage = val
    }
  }
}
</script>

<style lang="less" scoped>
.topTab {
  border-bottom: 1px solid var(--borderColor);
  div {
    padding: 15px 40px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.5s;
  }
  div:hover,
  .activeClass {
    color: #00a187;
    border-bottom: 2px solid #00a187;
  }
}
</style>
<style lang="less">
.quyuClass {
  width: 100%;
  height: 700px;
}
</style>
