<template>
  <div id="modeldetails" class="wh100 F14 padd20">
    <!-- <TabBar ref="taBar" class="tabBar" :data="fileTypeList" @change="tabHandler"></TabBar> -->
    <ModeldetaTop v-bind="$attrs" v-on="$listeners" @fileTypeHandler="fileTypeHandler" :category="$props.category"></ModeldetaTop>
    <div class="modeldetailsbot">
      <ModelInfo v-bind="$attrs" v-on="$listeners" v-if="$props.category == 'isEquip'" :data="modelInfoList"></ModelInfo>
      <ModeldetaBotTable v-bind="$attrs" v-on="$listeners" v-else></ModeldetaBotTable>
    </div>
  </div>
</template>

<script>
import ModeldetaTop from './components/modeldetaTop.vue'
import ModelInfo from './components/modelInfo.vue'
import ModeldetaBotTable from './components/modeldetaBotTable.vue'
export default {
  name: 'Modeldetails',
  components: {
    ModelInfo,
    ModeldetaTop,
    ModeldetaBotTable
  },
  props: {
    category: {
      type: String,
      default: () => {
        return ''
      }
    }
  },
  data() {
    return {
      modelInfoList: []
    }
  },
  computed: {},
  created() {},
  mounted() {},
  methods: {
    fileTypeHandler(params) {
      this.file_type = params.id
      this.filterHandler()
    },
    tabHandler(params) {
      this.file_type = params.id
      this.filterHandler()
    }
    // pushHandlerBtn(name, params) {
    //   if (params.id) {
    //     this.$ModelGF.pushHandler(name, this, params)
    //   }
    // }
    // moreVerHandler() {
    //   uploadVerison({ model_id: this.row.id }).then(res => {})
    //   this.visible = true
    // },

    // filterHandler() {
    //   this.detailFilterData = {}
    //   let { name, area, device_type_name, num, voltage, device_num } = { ...this.detailData }
    //   let data = {}
    //   let keys = this.keysName[this.category]
    //   this.mvList.forEach(item => {
    //     if (item.file_type == this.file_type) {
    //       let path = item.file_path ? item.file_path.split('.') : null
    //       if (path) {
    //         item.fileformat = path[path.length - 1]
    //         if (item.fileformat == 'max') {
    //           item.thumbnail_url = 'none'
    //         }
    //       }
    //       keys.forEach(m => {
    //         data[m.key] = item[m.key]
    //       })
    //       this.detailFilterData = data
    //       Object.assign(data, { name, area, device_type_name, num, voltage, device_num })
    //     }
    //   })
    // },

    // getModeldetails() {
    //   modeldetails({ id: this.row.id, status: this.row.status }).then(res => {
    //     let data = res.data
    //     let mcdata = res.data.ModelVersionList ? res.data.ModelVersionList : []
    //     this.modelInfoList = [
    //       { name: '变电站电压等级', content: data.voltage },
    //       { name: '所属站点名称', content: data.site_name },
    //       { name: '设备间隔', content: data.device_space },
    //       { name: '设备电压等级', content: data.device_voltage },
    //       { name: '设备生产厂商', content: data.device_company }
    //     ]
    //     this.detailData = data
    //     this.mvList = mcdata
    //     this.filterHandler()
    //   })
    // }
  }
}
</script>

<style lang="less">
#modeldetails {
  .tabBar {
    margin: 20px 0;
    justify-content: center;
  }
  .modeldetailsbot {
    width: 100%;
    height: calc(100% - 280px);
  }
}
.moreVerClass {
  margin-left: 20px;
  cursor: pointer;
  color: var(--shareColor);
}
</style>
