<template>
  <div class="wh100 oauto br10">
    <div class="w100">
      <div class="w100 div1 flex flex-jb">
        <div class="bgfff h100 padd20 br10 div1item1">
          <p class="publicTitle">
            <img src="../../assets/image/icon-yscmxzl.png" alt="" />
            <i>已上传模型种类</i>
          </p>
          <div class="horLine mt20"></div>
          <div class="publicChart w100">
            <RingChart :legend="{ bottom: '5%' }"></RingChart>
          </div>
        </div>
        <div class="bgfff h100 padd20 br10 div1item2">
          <p class="publicTitle">
            <img src="../../assets/image/icon-mxdb.png" alt="" />
            <i>模型发布比例</i>
          </p>
          <div class="horLine mt20"></div>
          <div class="publicChart w100 flex">
            <div class="h100 chart50">
              <MoreRingChart ref="moreRingChart"></MoreRingChart>
            </div>
            <div class="h100 chart50">
              <PieChart ref="PieChart"></PieChart>
            </div>
          </div>
        </div>
      </div>

      <div class="bgfff h100 padd20 br10 mt20 div2">
        <p class="publicTitle">
          <img src="../../assets/image/icon-sbmxfl.png" alt="" />
          <i>设备模型分类</i>
        </p>
        <div class="horLine mt20"></div>
        <div class="publicChart w100 flex">
          <div class="h100 chart50">
            <RingChart :legend="{ bottom: '5%' }"></RingChart>
          </div>
          <div class="h100 chart50">
            <HistogramChart></HistogramChart>
          </div>
        </div>
      </div>

      <div class="bgfff h100 padd20 br10 mt20 div2">
        <p class="publicTitle">
          <img src="../../assets/image/icon-sbdydj.png" alt="" />
          <i>设备模型电压等级</i>
        </p>
        <div class="horLine mt20"></div>
        <div class="publicChart w100 flex">
          <div class="h100 chart50">
            <RingChart :legend="{ bottom: '5%' }"></RingChart>
          </div>
          <div class="h100 chart50">
            <HistogramChart></HistogramChart>
          </div>
        </div>
      </div>
    </div>
    <!-- <el-dialog class="fullSClass" lock-scroll :visible.sync="jsonVisible" fullscreen>
      <ModelPreview></ModelPreview>
    </el-dialog> -->
  </div>
</template>

<script>
import RingChart from '@/components/echarts/ringChart.vue'
import PieChart from '@/components/echarts/pieChart.vue'
import MoreRingChart from '@/components/echarts/moreRingChart.vue'
import HistogramChart from '@/components/echarts/histogramChart.vue'
// import ModelPreview from '../../views/modelPreview/modelPreview.vue'
export default {
  name: 'Statistics',
  components: {
    RingChart,
    PieChart,
    MoreRingChart,
    HistogramChart
    // ModelPreview
  },
  data() {
    return {
      jsonVisible: true
    }
  },
  computed: {},
  watch: {},
  mounted() {
    window.onresize = e => {
      console.log(e, 'onresize')
      this.$refs.RingChart.chart.resize()
    }
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.chart50 {
  width: 50%;
}
.div1 {
  height: 500px;
  .div1item1 {
    width: calc(33.33% - 20px);
    height: 100%;
  }
  .div1item2 {
    width: calc(66.66%);
    height: 100%;
  }
}
.div2 {
  height: 500px;
}
</style>
