<template>
  <div class="wh100 padd20 bgfff br10">
    <ShareForm :propsForm="propsForm" :searchStatus="2" :statusList="statusList" @change="shareFormChange"></ShareForm>
    <div class="tableClass56">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData">
          <el-table-column width="55" align="center" type="index" show-overflow-tooltip label="序号"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="name" label="模型名称">
            <!-- <template slot-scope="scope">
              <el-input class="tableInput" v-model="scope.row.name" @change="inputHandler($event, scope.row, 'name')" placeholder=""></el-input>
            </template> -->
          </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="area" label="所属地区"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="voltage" label="电压等级"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="upload_time" label="创建时间"> </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="" label="浏览">
            <template>
              <span>-</span>
            </template>
          </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="" label="下载">
            <template>
              <span>-</span>
            </template>
          </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="" label="价格">
            <template>
              <span>-</span>
            </template>
          </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="status" label="状态">
            <template slot-scope="scoped">
              <span>{{ getStatus(scoped.row.status) }}</span>
            </template>
          </el-table-column>
          <el-table-column :width="$ModelGF.selfAdaption(250)" align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation">
                <span @click="updateDia(scope.row)">修改</span>|<span>删除</span>|
                <model-preview-btn :modelId="scope.row">预览</model-preview-btn>
                |<span @click="downloadHandler">下载</span>|<span @click="detaildialog(scope.row)">详情</span>
              </div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div class="rightList_main_pagination">
        <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size.sync="pageSize" :current-page.sync="currentPage" :total="total"> </el-pagination>
        <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
      </div>
    </div>
    <el-dialog title="模型详情-全站模型" class="detailVisibleClass" top="2%" width="85%" lock-scroll :visible.sync="detailVisible">
      <DetailVisible :dataInfo="currRowInfo" :category="'isAll'"></DetailVisible>
    </el-dialog>
    <el-dialog title="模型信息修改-全站模型" class="detailVisibleClass" top="10%" width="30%" lock-scroll :visible.sync="updateVisible">
      <UpdateModelInfo :data="currRowInfo" category="isAll" @updateHandler="updateHandler"></UpdateModelInfo>
    </el-dialog>
    <DownloadModel ref="downloadModel"></DownloadModel>
  </div>
</template>

<script>
import DetailVisible from './modelDetails.vue'
import UpdateModelInfo from './updateModelInfo.vue'
import DownloadModel from '../downloadModel/downloadModel'
import { getQZlist, getEquipInfo } from '@/http/api'
import { statusHandler } from '@/utils/shUtils'
import ModelPreview from '../modelPreview/modelPreview.vue'
export default {
  name: '',
  components: {
    DetailVisible,
    UpdateModelInfo,
    DownloadModel,
    ModelPreview
  },
  // "id": "2147d1b6-1208-41da-ae25-67d7cc1a954d",
  // "device_voltage": "66KV",
  // "device_num": "ddd-eee",
  // "device_company": "ceshi ",
  // "device_type": 23,
  // "desc": "",
  // "name": "测试426-1607",
  // "status": 1,
  // "user_id": "",
  // "file_ids": null

  data() {
    return {
      propsForm: {
        area: '',
        device_voltage: '',
        status: ''
      },
      tableData: [],
      total: 0,
      pageSize: 20,
      currentPage: 1,
      detailVisible: false,
      updateVisible: false,
      statusList: statusHandler.statusList,
      currRowInfo: {}
    }
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    getStatus(id) {
      console.log(id)
      return statusHandler.getNameById(id)
    },
    shareFormChange(val) {
      this.formData = val
      this.getQZlistHandler()
    },
    getQZlistHandler() {
      let params = {
        // page: this.currentPage,
        // page_size: this.pageSize
        // uid: this.userID
        // all_sites: this.tabIndex
      }
      Object.assign(params, this.formData)
      getQZlist(params).then(res => {
        this.tableData = res.list ? res.list : []
        this.total = res.pager.total_rows
      })
    },
    downloadHandler() {
      this.$refs.downloadModel.downloadVisible = true
    },
    updateDia(row) {
      this.currRowInfo = row
      this.updateVisible = true
    },
    updateHandler() {
      this.updateVisible = false
    },
    detaildialog(params) {
      this.currRowInfo = params
      console.log(params, '--------')

      this.detailVisible = true
    },
    currentChange(val) {
      this.currentPage = val

      // 审核 :
      //     未通过
      //     审核中
      // 校正 :
      //     未通过(审核通过)
      //     校正中
      // 发布 :
      //     待发布(校正通过)
      //     已发布
    }
  }
}
</script>

<style></style>
