<template>
  <div id="modelEdit">
    <el-form ref="form" class="form" :rules="rules" :model="form" label-position="left">
      <el-form-item v-if="category == 'isAll'" prop="area">
        <span class="formlabel"><i class="star">*</i>所属地区:</span>
        <el-select v-model="form.area" placeholder="请选择">
          <el-option v-for="item in areaList" :label="item.name" :value="item.name" :key="item.name"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item prop="site_name">
        <span class="formlabel"><i class="star">*</i>所属站点:</span>
        <el-select v-model="form.site_name" placeholder="请选择">
          <el-option v-for="item in site_nameList" :label="item.name" :value="item.name" :key="item.name"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item prop="voltage">
        <span class="formlabel"><i class="star">*</i>变电站电压等级:</span>
        <el-select v-model="form.voltage" placeholder="请选择">
          <el-option v-for="item in voltageList" :label="item.name" :value="item.name" :key="item.name"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item v-if="category == 'isEquip'" prop="device_space">
        <span class="formlabel"><i class="star">*</i>设备间隔:</span>
        <el-select v-model="form.device_space" placeholder="请选择">
          <el-option v-for="item in device_spaceList" :label="item.name" :value="item.name" :key="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item v-if="category == 'isEquip'" prop="device_voltage">
        <span class="formlabel"><i class="star">*</i>设备电压等级:</span>
        <el-select v-model="form.device_voltage" placeholder="请选择">
          <el-option v-for="item in device_voltageList" :label="item.name" :value="item.name" :key="item.name"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item v-if="category == 'isEquip'" prop="device_type">
        <span class="formlabel"><i class="star">*</i>设备分类:</span>
        <el-cascader @change="handleNodeClick" v-model="form.device_type" :options="device_typeList" :props="props" :show-all-levels="false"></el-cascader>
      </el-form-item>
      <el-form-item prop="name">
        <span class="formlabel"><i class="star">*</i>模型名称:</span>
        <el-input v-model="form.name" placeholder="请输入内容"></el-input>
      </el-form-item>

      <el-form-item v-if="category == 'isEquip'" prop="device_company">
        <span class="formlabel"><i class="star">*</i>设备生产厂商:</span>
        <el-dropdown placement="bottom" trigger="click" @command="commandHandler">
          <el-input class="width200" placeholder="请输入设备生产厂商" v-model="form.device_company" @input="inputHandler" @change="blurHandler"> </el-input>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item v-for="(item, index) in dropdownList" :command="item" :key="index + 239">
              {{ item }}
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </el-form-item>
      <el-form-item v-if="category == 'isEquip'" prop="device_num">
        <!-- <span style="color: rgba(0, 0, 0, 0)" class="example">例：csc-103a</span> -->
        <span class="formlabel"><i class="star">*</i>设备型号:</span>
        <el-input v-model="form.device_num" placeholder="请输入内容"></el-input>
        <!-- <span class="example">例：csc-103a</span> -->
      </el-form-item>
      <el-form-item>
        <span class="formlabel descClass">说明:</span>
        <el-input :rows="5" type="textarea" v-model="form.describe" placeholder="请输入内容"></el-input>
      </el-form-item>
      <el-form-item style="text-align: left">
        <el-button class="bgButton" @click="onSubmit('form')">确定</el-button>
        <el-button class="ml20" @click="$emit('updateHandler')">返回</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import {
  updateModel,
  modeldetails,
  searchList,
  checkUpload,
  // new
  allUpdate
} from '@/http/api'
import { getGroupsHandler } from '@/utils/shUtils.js'
export default {
  name: 'ModelEdit',
  props: {
    category: {
      type: String,
      default: () => {
        return 'isAll'
      }
    },
    data: {
      type: Object
    }
  },
  data() {
    return {
      rules: {},
      isAllrules: {
        area: [{ required: true, message: '请输入所属地区' }],
        voltage: [{ required: true, message: '请输入变电站电压等级' }],
        site_name: [{ required: true, message: '请输入所属站点' }],
        name: [
          { required: true, message: '请输入模型名称' },
          { min: 1, max: 39, message: '长度不能超过40个字符' }
        ]
      },
      defaultProps: {
        children: 'sub_list',
        label: 'name'
      },
      isEquiprules: {
        voltage: [{ required: true, message: '请输入变电站电压等级' }],
        site_name: [{ required: true, message: '请输入所属站点' }],
        device_space: [{ required: true, message: '请输入设备间隔' }],
        device_voltage: [{ required: true, message: '请输入设备电压等级' }],
        device_type: [{ required: true, message: '请输入设备分类' }],
        name: [
          { required: true, message: '请输入模型名称' },
          { min: 1, max: 39, message: '长度不能超过40个字符' }
        ],
        device_company: [{ required: true, message: '请输入设备生产厂商' }],
        device_num: [{ required: true, message: '请输入设备型号' }]
      },
      props: {
        expandTrigger: 'hover',
        children: 'sub_list',
        label: 'name',
        value: 'id',
        emitPath: false
      },
      isAllform: {
        area: '',
        site_name: '',
        voltage: '',
        name: '',
        describe: ''
      },
      isEquipform: {
        site_name: '',
        voltage: '',
        device_space: '',
        device_voltage: '',
        device_type: '',
        name: '',
        device_company: '',
        device_num: '',
        describe: ''
      },
      form: {},
      areaList: [],
      site_nameList: [],
      voltageList: [],
      device_spaceList: [],
      device_voltageList: [],
      device_typeList: [],
      device_companyList: [],
      debounceTime: null,
      //    1-单体模型 2- 全站模型
      all_sites: 2,
      row: null,
      dropdownList: []
    }
  },
  computed: {},
  watch: {},
  created() {
    console.log(this.category, this[this.category + 'form'], 'this.category')
    this.form = JSON.parse(JSON.stringify(this[this.category + 'form']))
    this.rules = JSON.parse(JSON.stringify(this[this.category + 'rules']))
    getGroupsHandler().then(res => {
      this.areaList = res.areaList
      this.voltageList = res.voltageList
      this.site_nameList = res.site_nameList
      this.device_spaceList = res.device_spaceList
      this.device_voltageList = res.device_voltageList
      this.device_typeList = res.device_typeList
      //   if (this.$route.query.query) {
      //     this.row = JSON.parse(this.$ModelGF.Base64.decode(this.$route.query.query))
      //     this.getModeldetails()
      //   }
      for (const key in this.form) {
        this.form[key] = this.data[key]
      }
    })
  },
  mounted() {},
  methods: {
    updateModelHandler() {
      let obj = {
        id: this.row.id
      }
      Object.assign(obj, this.form)
      updateModel(obj).then(res => {
        if (res.code == 0) {
          this.$message.success('修改成功')
        } else {
          this.$message.error('修改失败')
        }
      })
    },
    allUpdateHandler() {
      console.log(this.form)
      //   allUpdate().then(res => {})
    },
    searchListHandler() {
      searchList({ type: 2, name: this.form.device_company }).then(res => {
        this.dropdownList = res.data
      })
    },
    inputHandler() {
      this.debounce()
    },
    blurHandler() {
      setTimeout(() => {
        // this.checkUploadHandler();
      }, 300)
    },
    debounce() {
      let that = this
      if (that.debounceTime) {
        clearTimeout(that.debounceTime)
      }
      that.debounceTime = setTimeout(function () {
        that.searchListHandler()
        that.debounceTime = null
      }, 1000)
    },
    commandHandler(command) {
      this.form.device_company = command
      //   this.checkUploadHandler();
      //   this.searchValue = "";
      //   this.searchValueCompany = "";
      //   if (this.selectVal == 1) {
      //     this.searchValue = command;
      //   } else {
      //     this.searchValueCompany = command;
      //   }
      //   this.modelListHandler();
    },
    getModeldetails() {
      modeldetails({ id: this.row.id, status: this.row.status }).then(res => {
        let index = res.data.all_sites
        let obj = {
          device_space: [{ required: true, message: '请输入设备间隔' }],
          device_voltage: [{ required: true, message: '请输入设备电压等级' }],
          device_type: [{ required: true, message: '请输入设备分类' }],
          //   name: [{ required: true, message: "请输入模型名称" },,{ min: 1, max: 39, message: "长度不能超过40个字符" }],
          device_company: [{ required: true, message: '请输入设备生产厂商' }],
          device_num: [{ required: true, message: '请输入设备型号' }]
        }
        this.rules = {
          area: [{ required: true, message: '请输入所属地区' }],
          voltage: [{ required: true, message: '请输入变电站电压等级' }],
          site_name: [{ required: true, message: '请输入所属站点' }],
          name: [
            { required: true, message: '请输入模型名称' },
            { min: 1, max: 39, message: '长度不能超过40个字符' }
          ]
        }
        if (index == 1) {
          Object.assign(this.rules, obj)
        }
        this.$nextTick(() => {
          this.form.area = res.data.area
          this.form.voltage = res.data.voltage
          this.form.site_name = res.data.site_name
          this.form.device_space = res.data.device_space
          this.form.device_voltage = res.data.device_voltage
          this.form.device_type = res.data.device_type
          this.form.name = res.data.name
          this.form.device_company = res.data.device_company
          this.form.device_num = res.data.device_num
          this.form.describe = res.data.describe
          this.all_sites = index
          this.$refs.form.clearValidate()
        })
      })
    },
    checkUploadHandler() {
      let params = {
        site_name: this.form.site_name, // 站点名称
        device_num: this.form.device_num, // 设备型号
        device_company: this.form.device_company, // 厂商
        all_sites: this.all_sites, // 模型的分类 1- 单体模型 2-全站模型
        device_voltage: this.form.device_voltage // 设备电压等级
      }
      checkUpload(params).then(res => {
        if (!res.list || res.list == '') {
          this.isAllowUpload = [true, true, true]
        } else {
          console.log('22')
        }
      })
    },
    remoteMethod(query) {
      //   this.searchListHandler(query);
      this.debounce(query)
    },
    handleNodeClick(data, node) {},
    onSubmit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.category == 'isAll') {
            this.allUpdateHandler()
          }
          //   this.updateModelHandler()
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
#modelEdit {
  width: 100%;
  height: 100%;
  padding: 20px;
  .form {
    width: 100%;
    // text-align: center;
    // border-radius: 10px;
    // padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .example {
      font-size: 16px;
      margin-left: 20px;
    }
    .el-form-item {
      margin-bottom: 20px;
      /deep/.el-form-item__content {
        line-height: 36px;
      }
    }
    /deep/.el-input {
      width: 240px;
    }
    .el-textarea {
      width: 240px;
    }
    /deep/.el-form-item__error {
      left: 160px;
    }
    .el-select {
      width: auto;
    }
    .formlabel {
      font-size: 16px;
      text-align: left;
      color: #333;
      width: 150px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.el-dropdown-menu.el-popper {
  width: 360px;
}
</style>
