<template>
  <div id="favorites" class="bgfff br10 padd20">
    <div class="centerHeader">
      <TabBar
        class="tabBar"
        :data="[
          { id: 0, name: '全部' },
          { id: 1, name: '待付款' },
          { id: 2, name: '已付款' },
          { id: 3, name: '已取消' }
        ]"
        @change="tabHandler"
      ></TabBar>
      <span class="datespan F14">下单时间:</span>
      <el-date-picker
        v-model="date"
        type="daterange"
        clearable
        format="yyyy-MM-dd"
        value-format="yyyy-MM-dd"
        @change="dateChange"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
      >
      </el-date-picker>
      <el-input class="searchInput pointer ml20 mr15" v-model="searchVal" placeholder="模型名称/设备型号/用户名称"> </el-input>
      <el-button class="bgButton" size="small" @click="searchHandler"><i class="el-icon-search F14"></i> 搜索</el-button>
    </div>
    <div class="tableClass56 mt20">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData" style="width: 100%">
          <el-table-column align="center" show-overflow-tooltip label="订单编号"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="name" label="模型名称"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_num" label="设备型号"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_voltage" label="设备电压等级"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_company" label="生产厂商"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="site_name" label="模型用途"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="price" label="价格">
            <template slot-scope="scope">
              <span style="color: red"> {{ scope.row.price ? '￥' : '' }}{{ scope.row.price }} </span>
            </template>
          </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="site_name" label="下单时间"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="site_name" label="支付时间"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="site_name" label="用户名称"></el-table-column>
          <el-table-column width="200" align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation"><span @click="downloadBtn(scope.row)">预览</span>|<span @click="downloadBtn(scope.row)">下载</span>|<span>取消</span></div>
            </template>
          </el-table-column>
        </Table>
        <div class="rightList_main_pagination">
          <el-pagination background @current-change="currentChange" layout="prev, pager, next" :total="total"> </el-pagination>
          <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
        </div>
      </div>
    </div>
    <el-dialog lock-scroll title="模型下载" :visible.sync="visible" width="30%" top="25vh">
      <div class="dialogMain">
        <p>
          <span>优化格式</span>
          <i>aa.mo</i>
        </p>
        <p>
          <span>数字化移交</span>
          <i>aa.gim</i>
        </p>
        <p>
          <span>精细化模型</span>
          <i>aa.max</i>
        </p>
        <p>
          <span>实景三维点云</span>
          <i>aa.e571</i>
          <i>aa.e571</i>
          <i>aa.e571</i>
          <i>aa.e571</i>
        </p>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Favorites',
  components: {},
  data() {
    return {
      tableData: [],
      total: 0,
      date: [],
      visible: false,
      currentRow: {},
      searchVal: ''
    }
  },
  computed: {},
  watch: {},
  mounted() {
    this.table_ref = this.$refs.tableRef.$refs.table
  },
  methods: {
    searchHandler() {},
    downloadBtn(row) {
      this.currentRow = row
      this.visible = true
    },
    dateChange(date) {},
    tabHandler(params) {
      let { item, index } = { ...params }
      //   this.tableData = [{ address: '20200001' }, { address: '零序电流互感器' }, { address: '电气一次/变压器/220v' }]
      this.tabIndex = params.index
    },
    deleteHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning('请选择模型')
        return
      }
    },
    moveHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning('请选择模型')
        return
      }
    },
    currentChange(currentPage) {}
  }
}
</script>

<style lang="less" scoped>
#favorites {
  width: 100%;
  height: 100%;

  .centerHeader {
    width: 100%;
    display: flex;
    align-items: center;
    .datespan {
      margin: 0 10px 0 20px;
    }
  }
  .jyClass {
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
  }
  .jyClass:hover {
    color: var(--shareColor);
  }
  .el-date-editor--daterange.el-input,
  .el-date-editor--daterange.el-input__inner,
  .el-date-editor--timerange.el-input,
  .el-date-editor--timerange.el-input__inner {
    width: 300px;
  }
  .el-date-editor /deep/ span.el-range-separator {
    padding: 0;
  }
  .searchInput.el-input {
    width: 210px;
    /deep/ div.el-input-group__append {
      padding: 0 10px;
    }
  }
}
.dialogMain {
  font-size: 16px;
  p {
    margin: 10px;
    > span {
      display: inline-block;
      width: 120px;
    }
    i {
      display: inline-block;
      margin: 0 5px;
      color: var(--shareColor);
      cursor: pointer;
    }
  }
}
</style>
