<template>
  <!-- 四川设计院 -->
  <div class="wh100">
    <!-- <div class="GWAPP_header">
      <img class="imgee" src="@/assets/image/header.png" alt="" />
    </div>
    <div class="GWAPP_content">
      <div class="GWAPP_aside"></div>
      <div class="GWAPP_main padd20">
        <Header></Header>
        <div class="GWAPP_main_main w100"> -->
    <router-view></router-view>
    <!-- </div>
      </div>
    </div> -->
  </div>
</template>

<script>
// import Header from './header.vue'
export default {
  name: '',
  components: {
    // Header
  },
  data() {
    return {}
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {}
}
</script>

<style lang="less" scoped>
.GWAPP_header {
  height: 70px;
  width: 100%;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  .imgee {
    width: 100%;
    height: 70px;
  }
}
.GWAPP_content {
  display: flex;
  height: calc(100% - 70px);
  .GWAPP_main {
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 310px);
    .GWAPP_main_main {
      height: calc(100% - 210px);
    }
  }
  .GWAPP_aside {
    width: 310px;
    height: 100%;
    background: rgb(234, 246, 243);
  }
}
</style>
