<template>
  <!-- 漏斗图 -->
  <div class="wh100" id="funnelId"></div>
</template>
<script>
import * as echarts from 'echarts'
export default {
  name: 'Funnel',
  props: {
    data: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      chartId: parseInt(Math.random() * 1000),
      chart: null
    }
  },
  computed: {},
  watch: {
    data: {
      handler(val) {
        this.init()
      },
      deep: true
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      if (this.chart) {
        this.chart.clear()
        this.chart = null
      }
      let el = document.getElementById('funnelId')
      this.chart = echarts.init(el)
      var value = [987, 634, 413, 312, 123, 123]
      var temp = 0
      let centerLable = {
        label: {
          show: true,
          formatter: function (params) {
            return params.percent + ' %'
          },
          color: '#fff',
          fontSize: 13,
          position: 'center'
        },
        z: 2
      }
      let rightLable = {
        label: {
          show: true,
          color: '#000000',
          formatter: function (e) {
            return e.data.name + '   ' + e.data.value
          }
        },
        z: 1
      }

      let seriesChildren = {
        name: '通过率',
        type: 'funnel',
        minSize: '10%',
        labelLine: {
          show: true
        },
        itemStyle: {
          opacity: 1
        },
        emphasis: {
          label: {
            position: 'inside'
          }
        },
        data: [
          { value: 100, name: 'TOP1' },
          { value: 80, name: 'TOP2' },
          { value: 60, name: 'TOP3' },
          { value: 40, name: 'TOP4' },
          { value: 20, name: 'TOP5' },
          { value: 20, name: 'TOP5' }
        ]
      }
      Object.assign(rightLable, seriesChildren)
      Object.assign(centerLable, seriesChildren)

      let option = {
        series: [centerLable, rightLable]
      }
      this.chart.setOption(option)
    }
  }
}
</script>
