<template>
  <!-- 柱状图 -->
  <div class="wh100" :id="'histogramChart_' + chartId"></div>
</template>

<script>
import * as echarts from 'echarts'
import { mapState } from 'vuex'
export default {
  name: 'HistogramChart',
  props: {
    data: {
      type: Array,
      default: () => {
        return []
      }
    },
    legend: {
      type: Object,
      default: () => {
        return {
          //   right: '0',
          //   orient: 'vertical'
        }
      }
    }
  },
  data() {
    return {
      chartId: parseInt(Math.random() * 1000),
      chart: null
      //   color:
    }
  },
  computed: {
    ...mapState({
      color: state => state.moduleStore.color
    })
  },
  watch: {
    data: {
      handler(val) {
        this.init()
      },
      deep: true
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      let that = this
      if (this.chart) {
        this.chart.clear()
        this.chart = null
      }
      let el = document.getElementById('histogramChart_' + this.chartId)
      this.chart = echarts.init(el)
      let option = {
        tooltip: {
          trigger: 'axis',
          textStyle: {
            fontSize: this.$ModelGF.selfAdaption(14)
          },
          formatter: function (params) {
            console.log(params[0], '0-0-0-00')
            let { color, name, value } = params[0]
            return `<span>
            <i style="
            display:inline-block;
            border-radius:50%;
            background:${color};
            width:${that.$ModelGF.selfAdaption(10)}px;
            height:${that.$ModelGF.selfAdaption(10)}px
            "></i>
            ${name} : ${value}</span>`
          }
        },
        grid: {
          containLabel: true,
          left: this.$ModelGF.selfAdaption(20),
          right: this.$ModelGF.selfAdaption(20),
          bottom: this.$ModelGF.selfAdaption(30),
          top: this.$ModelGF.selfAdaption(40)
        },
        xAxis: {
          axisLabel: {
            color: '#999',
            fontSize: this.$ModelGF.selfAdaption(16),
            interval: 0
          },
          axisTick: {
            show: false
          },
          splitLine: {
            show: false,
            lineStyle: {
              color: 'rgba(180, 180, 180, 0.2)'
            }
          },
          axisLine: {
            show: false,
            lineStyle: {
              color: 'rgba(180, 180, 180, 0.2)'
            }
          },
          data: ['01-01', '01-05', '01-10', '01-15', '01-20', '01-25', '01-30'],
          type: 'category'
        },
        yAxis: {
          axisLabel: {
            color: '#999',
            fontSize: this.$ModelGF.selfAdaption(16)
          },
          axisTick: {
            show: false
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: 'rgba(180, 180, 180, 0.2)'
            }
          },
          axisLine: {
            show: true,
            lineStyle: {
              color: 'rgba(180, 180, 180, 0.2)'
            }
          },
          name: ''
        },
        series: [
          {
            data: [353, 66, 112, 270, 315, 418, 500],
            type: 'bar',
            barMaxWidth: 'auto',
            // barGap: '190%',
            barWidth: this.$ModelGF.selfAdaption(20),
            itemStyle: {
              color: function (params) {
                return that.color[params.dataIndex]
              }
            },
            label: {
              show: true,
              position: 'top',
              color: '#666',
              fontSize: this.$ModelGF.selfAdaption(14),
              formatter: function (params) {
                return params.name + ' ' + params.value
              }
            }
          },
          {
            data: [353, 66, 112, 270, 315, 418, 500],
            type: 'bar',
            barMaxWidth: 'auto',
            barWidth: this.$ModelGF.selfAdaption(40),
            barGap: '-150%',
            zlevel: -1,
            itemStyle: {
              color: function (params) {
                let color = that.color[params.dataIndex].split(',')
                let c = color.splice(color.indexOf(' 1)'), 1, ' 0.2)')
                return color.join()
              }
            }
          }
        ]
      }
      this.chart.setOption(option)
    }
  }
}
</script>
<style scoped>
div {
}
</style>
