<template>
  <!-- 环形图 -->
  <div class="wh100" :id="'moreRingChart_' + chartId"></div>
</template>

<script>
import * as echarts from 'echarts'
export default {
  name: 'MoreRingChart',
  props: {
    data: {
      type: Array,
      default: () => {
        return []
      }
    },
    legend: {
      type: Object,
      default: () => {
        return {
          //   right: '0',
          //   orient: 'vertical'
        }
      }
    }
  },
  data() {
    return {
      chartId: parseInt(Math.random() * 1000),
      chart: null
    }
  },
  computed: {},
  watch: {
    data: {
      handler(val) {
        this.init()
      },
      deep: true
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      if (this.chart) {
        this.chart.clear()
        this.chart = null
      }
      let el = document.getElementById('moreRingChart_' + this.chartId)
      this.chart = echarts.init(el)
      let chartData = [
        {
          name: '正常运行',
          value: 50,
          color: '#32CFB6'
        },
        {
          name: '预警点位',
          value: 30,
          color: '#65B7FE'
        }
      ]
      let sum = chartData.reduce((pre, cur) => pre + cur.value, 0)
      let pieSeries = [
        {
          type: 'pie',
          clockwise: false,
          emphasis: {
            disabled: true
          },
          radius: ['25%', '68%'],
          center: ['50%', '50%'],
          avoidLabelOverlap: false,

          data: [100],
          itemStyle: {
            color: '#edfaf9'
          },
          labelLine: {
            // 引导线设置
            show: false // 引导线显示
          },
          zlevel: 0
        }
      ]
      // 图表option整理
      chartData.forEach((v, i) => {
        pieSeries.push(
          {
            //   name: chartData[i].name,
            type: 'pie',
            clockwise: false,
            emphasis: {
              disabled: true
            },

            radius: [50 - i * 16 + '%', 60 - i * 16 + '%'],
            center: ['50%', '50%'],
            label: {
              show: false
            },
            data: [
              {
                value: 100,
                name: '',
                itemStyle: {
                  color: '#e7f3f1'
                }
              }
            ]
          },
          {
            //   name: chartData[i].name,
            type: 'pie',
            clockwise: false,
            radius: [50 - i * 16 + '%', 60 - i * 16 + '%'],
            center: ['50%', '50%'],
            label: {
              show: false
            },
            emphasis: {
              disabled: true
            },
            itemStyle: {
              color: chartData[i].color,
              borderRadius: this.$ModelGF.selfAdaption(10),
              // borderColor: '#fff',
              borderWidth: 1
            },
            data: [
              {
                value: v.value,
                name: v.name
              },
              {
                value: sum - v.value,
                name: v.name,
                itemStyle: {
                  color: '#e7f3f1'
                }
              }
            ]
          }
        )
      })

      let option = {
        title: {
          text: '全站模型',
          textStyle: {
            fontSize: this.$ModelGF.selfAdaption(18),
            color: '#999999'
          },
          textAlign: 'center',
          left: '50%',
          top: '6%'
        },
        legend: {
          show: true,
          orient: 'vertical',
          itemWidth: this.$ModelGF.selfAdaption(14),
          itemHeight: this.$ModelGF.selfAdaption(14),
          icon: 'rect',
          bottom: '5%',
          //   backgroundColor: '#fff',
          textStyle: {
            color: '#9facaf',
            fontSize: this.$ModelGF.selfAdaption(14)
          },
          borderRadius: 0,
          itemGap: this.$ModelGF.selfAdaption(30),
          itemStyle: {
            borderWidth: this.$ModelGF.selfAdaption(4),
            borderColor: '#edfaf9'
          }
        },
        series: pieSeries
      }

      this.chart.setOption(option)
    }
  }
}
</script>
