<template>
  <!-- 环形图 -->
  <div class="wh100" :id="'ringChart_' + chartId"></div>
</template>

<script>
import * as echarts from 'echarts'
import { mapState } from 'vuex'
export default {
  name: 'RingChart',
  props: {
    data: {
      type: Array,
      default: () => {
        return []
      }
    },
    legend: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data() {
    return {
      chartId: parseInt(Math.random() * 1000),
      chart: null
    }
  },
  computed: {
    ...mapState({
      color: state => state.moduleStore.color
    })
  },
  watch: {
    data: {
      handler(val) {
        this.init()
      },
      deep: true
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      if (this.chart) {
        this.chart.clear()
        this.chart = null
      }
      let el = document.getElementById('ringChart_' + this.chartId)
      this.chart = echarts.init(el)
      let obj = {
        show: true,
        itemWidth: this.$ModelGF.selfAdaption(14),
        itemHeight: this.$ModelGF.selfAdaption(14),
        icon: 'rect',
        backgroundColor: '#fff',
        textStyle: {
          color: '#9facaf',
          fontSize: this.$ModelGF.selfAdaption(14)
        },
        borderRadius: 0,
        itemGap: this.$ModelGF.selfAdaption(30),
        itemStyle: {
          borderWidth: this.$ModelGF.selfAdaption(4),
          borderColor: '#edfaf9'
        }
      }
      let legend = Object.assign(obj, this.legend)
      let option = {
        // tooltip: {
        //   trigger: 'item',
        //   textStyle: {
        //     fontSize: this.$ModelGF.selfAdaption(14)
        //   }
        // },
        legend,
        color: this.color,
        series: [
          {
            type: 'pie',
            radius: ['40%', '60%'],
            center: ['50%', '50%'],
            avoidLabelOverlap: false,
            label: {
              show: true,
              //   formatter: '{b}: {d}%',
              fontSize: this.$ModelGF.selfAdaption(14),
              position: 'outside',
              formatter: params => {
                return '{name|' + params.name + '}{value|' + Math.round(params.percent) + '%}'
              },
              padding: [0, this.$ModelGF.selfAdaption(-80), this.$ModelGF.selfAdaption(30), this.$ModelGF.selfAdaption(-80)],
              rich: {
                icon: {
                  width: this.$ModelGF.selfAdaption(12),
                  height: this.$ModelGF.selfAdaption(12),
                  borderRadius: this.$ModelGF.selfAdaption(6),
                  color: 'inherit',
                  backgroundColor: 'inherit'
                },
                name: {
                  color: '#666',
                  padding: [0, 0, 0, this.$ModelGF.selfAdaption(0)],
                  lineHeight: this.$ModelGF.selfAdaption(14),
                  fontSize: this.$ModelGF.selfAdaption(14)
                },
                value: {
                  color: '#666',
                  lineHeight: this.$ModelGF.selfAdaption(14),
                  fontSize: this.$ModelGF.selfAdaption(14)
                }
              }
            },
            labelLine: {
              show: true,
              length: this.$ModelGF.selfAdaption(25),
              length2: this.$ModelGF.selfAdaption(80)
            },
            data: [
              { value: 1048, name: 'Search' },
              { value: 735, name: 'Direct' },
              { value: 580, name: 'Email' },
              { value: 484, name: 'Union' },
              { value: 300, name: 'Video' }
            ],
            zlevel: 2
          },
          {
            type: 'pie',
            radius: ['35%', '65%'],
            center: ['50%', '50%'],
            avoidLabelOverlap: false,
            data: [100],
            emphasis: {
              disabled: true
            },
            itemStyle: {
              color: '#edfaf9'
            },
            labelLine: {
              // 引导线设置
              show: false // 引导线显示
            },
            zlevel: 1
          }
        ]
      }

      this.chart.setOption(option)
    }
  }
}
</script>
