<template>
  <div class="uploader-wrap relative">
    <div v-if="!isAllowUpload" class="mask wh100 absolute"></div>
    <uploader
      :options="options"
      :file-status-text="statusText"
      :auto-start="false"
      :class="{ 'uploader-example': true, isDragover: dragover }"
      ref="uploaderRef"
      @file-added="onFileAdded"
      @file-success="onFileSuccess"
      @file-error="onFileError"
      @file-removed="fileRemoved"
      @file-progress="onFileProgress"
      @file-retry="onFileRetry"
      @drop.prevent="dragover = false"
      @dragover.prevent="dragover = true"
      @dragleave.prevent="dragover = false"
    >
      <uploader-unsupport></uploader-unsupport>
      <uploader-drop :class="{ isDisabled: !isAllowUpload }">
        <!-- <i class="uploader-drop-icon el-icon-upload"></i> -->
        <img class="uploader-drop-icon" :src="isAllowUpload ? upload_ICON : upload_disabled_ICON" alt="" />
        <div class="uploader-drop-text">
          <!-- <uploader-btn :directory="true">上传文件夹</uploader-btn> -->
          <p>
            将文件拖到此处，或
            <uploader-btn :attrs="attrs">点击上传</uploader-btn>
            {{ fileTypeName }}文件
          </p>
          <p>支持文件格式：{{ fileTypes }}</p>
        </div>
      </uploader-drop>
      <uploader-list></uploader-list>
    </uploader>
  </div>
</template>

<script>
import { getGroupsHandler } from '@/utils/shUtils'
import SparkMD5 from 'spark-md5'
export default {
  name: '',
  props: {
    fileTypes: {
      type: String,
      default: function () {
        return ''
      }
    },
    model_id: {
      //   type: String,
      default: function () {
        return null
      }
    },
    fileTypeName: {
      type: String,
      default: function () {
        return ''
      }
    },
    // isDisabledupload: {
    //   // 是否禁用
    //   type: Boolean,
    //   default: function () {
    //     return true
    //   }
    // },
    isAllowUpload: {
      // 是否允许上传
      type: Boolean,
      default: function () {
        return false
      }
    },
    all_sites: {
      // 全站 2 单体 1
      type: Number,
      default: function () {
        return 1
      }
    }
  },
  computed: {},
  data() {
    return {
      upload_disabled_ICON: require('@/assets/image/upload_disabled.png'),
      upload_ICON: require('@/assets/image/upload.png'),
      dragover: false,
      percentage: 0,
      percentageMd5: 0,
      visible: false,
      filtStatusText: '文件校验中',
      options: {
        // 服务器分片校验函数，秒传及断点续传基础
        checkChunkUploadedByResponse: function (chunk, message) {
          chunk.uploader.files[0].uniqueIdentifier
          const objMessage = JSON.parse(message)
          if (objMessage.isupload) {
            return true
          }
          let arr = []
          if (objMessage.list) {
            arr = objMessage.list.map(item => {
              return parseInt(item.split('_')[1]) - 1
            })
          }
          return arr.indexOf(chunk.offset) >= 0
        },
        target: 'api/v2/file/uploadfile',
        maxChunkRetries: undefined,
        testChunks: true,
        fileParameterName: 'file',
        chunkSize: 100 * 1024 * 1024,
        simultaneousUploads: 3,
        forceChunkSize: true,
        query: {},
        headers: {
          // 'Authorization': token
        }
      },
      statusText: {
        success: '上传成功',
        error: '上传失败',
        uploading: '上传中',
        paused: '暂停中',
        waiting: '等待中'
      },
      attrs: {
        accept: []
      },
      user_id: 1000,
      file_total: 0, // 本次文件上传的总数
      errorfilelist: [], // 上传失败信息列表
      uploader: null,
      //   process: '0',
      //   process1: '0',
      //   process2: `MD5计算完毕：文件名： \nMD5： \n分片：\n 大小:\n 用时：0ms`,
      file: null,
      fileTypeList: []
    }
  },
  watch: {
    percentage(newval) {
      this.$emit('process', newval)
    },
    percentageMd5(newval) {
      this.$emit('processMd5', newval)
    }
  },
  created() {
    getGroupsHandler().then(res => {
      this.fileTypeList = res.fileTypeList
    })
  },
  mounted() {
    window.addEventListener('online', this.updateOnlineStatus)
    window.addEventListener('offline', this.updateOnlineStatus)
    this.$nextTick(() => {
      this.uploader = this.$refs.uploaderRef.uploader
    })
  },
  methods: {
    updateOnlineStatus(e) {
      if (e.type == 'online') {
        this.uploader.resume()
      }
      if (e.type == 'offline') {
        this.uploader.pause()
      }
    },
    onFileAdded(file) {
      if (this.isAllowUpload) {
        const className = 'myStatus_' + file.id
        this.$nextTick(() => {
          setTimeout(() => {
            const fileStatusClass = document.getElementsByClassName('uploader-file-status')
            for (let i = 0; i < fileStatusClass.length; i++) {
              if (!fileStatusClass[i].className.includes('myStatus_')) {
                fileStatusClass[i].classList.add(className)
              }
            }
            const name = file.name.split('.')
            const type = name[name.length - 1]
            if (this.fileTypes.indexOf(type) < 0) {
              this.$message.warning('所选文件格式不符')
              this.uploader.cancel()
            } else {
              this.computeMD5(file)
            }
          }, 500)
        })
      } else {
        this.uploader.cancel()
      }
    },
    // 每个文件传输给后端之后，返回的信息
    onFileSuccess(rootFile, file, response, chunk) {
      console.log(response, '上传成功')
      this.$emit('success', { rootFile, file, response, chunk })
    },
    // 上传错误触发，文件还未传输到后端
    onFileError(rootFile, file, response, chunk) {
      this.$emit('error', { response, file })
      console.log(response, '上传失败')
    },
    onFileProgress(rootFile, file, chunk) {
      const process = this.uploader.progress()
      this.percentage = parseInt((process * 100).toFixed(0))
    },
    onFileRetry(rootFile, file, chunk) {
      console.log(rootFile, file, chunk, '文件上传重试中')
    },
    // 移除文件
    fileRemoved(file) {
      this.$nextTick(() => {
        this.file_total = this.uploader.files.length
      })
    },
    // 添加md5校验状态
    statusSet(id, status) {
      const className = 'myStatus_' + id
      this.$nextTick(() => {
        const myStatus = document.getElementsByClassName(className)
        const dom = document.createElement('span')
        const i = document.createElement('i')
        const ipro = document.createElement('i')
        i.className = 'myStatusI_' + id
        i.style = 'margin-right:10px'
        i.innerHTML = '校验中'
        ipro.className = 'myStatusIPRO_' + id
        dom.appendChild(i)
        dom.appendChild(ipro)
        dom.className = 'myStatuSpan_' + id
        dom.style = 'position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;background:#fff'
        myStatus[0].appendChild(dom)
      })
    },
    statusRemove(id) {
      this.$nextTick(() => {
        const className = 'myStatus_' + id
        const classNameSpan = 'myStatuSpan_' + id
        const dom = document.getElementsByClassName(className)[0]
        const domSpan = document.getElementsByClassName(classNameSpan)[0]
        dom.removeChild(domSpan)
      })
    },

    computeMD5(file) {
      const fileReader = new FileReader()
      const time = new Date().getTime()
      const blobSlice = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice
      let currentChunk = 0
      const chunkSize = this.options.chunkSize
      const chunks = Math.ceil(file.size / chunkSize)
      const spark = new SparkMD5.ArrayBuffer()
      this.statusSet(file.id, 'md5')
      const myStatusIPRO = 'myStatusIPRO_' + file.id
      loadNext()
      fileReader.onload = e => {
        spark.append(e.target.result)
        if (currentChunk < chunks) {
          currentChunk++
          loadNext()
          // 实时展示MD5的计算进度
          this.$nextTick(() => {
            const html = parseInt(((currentChunk / chunks) * 100).toFixed(0))
            document.getElementsByClassName(myStatusIPRO)[0].innerHTML = html + '%'
          })
        } else {
          const md5 = spark.end()
          this.statusRemove(file.id)
          this.computeMD5Success(md5, file)
        }
      }
      fileReader.onerror = function () {
        this.error(`文件${file.name}读取出错，请检查该文件`)
        this.uploader.cancel()
      }
      function loadNext() {
        const start = currentChunk * chunkSize
        const end = start + chunkSize >= file.size ? file.size : start + chunkSize
        fileReader.readAsArrayBuffer(blobSlice.call(file.file, start, end))
      }
    },

    computeMD5Success(md5, file) {
      file.uniqueIdentifier = md5
      let file_type = null
      this.fileTypeList.forEach(item => {
        if (item.name == this.fileTypeName) {
          file_type = item.id
        }
      })
      Object.assign(this.uploader.opts, {
        query: {
          modelId: this.model_id,
          uid: this.user_id,
          fileType: file_type,
          upload_type: this.all_sites,
          fromType: this.all_sites
        }
      })
      this.uploader.resume()
    }
  }
}
</script>

<style lang="less">
.uploader-wrap {
  width: 500px;
  height: auto;
  .mask {
    z-index: 999;
    // background: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
  }
  .uploader-example:hover {
    border: 1px dashed var(--shareColor);
  }
  .uploader-example.isDragover {
    border: 1px dashed var(--shareColor);
    //   .uploader-list {
    //     border-top: 1px dashed var(--shareColor);
    //   }
  }
  .uploader-example {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 10px 0;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px dashed var(--borderColor);
    border-radius: 5px;
    //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    .uploader-drop {
      width: 100%;
      height: 200px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #fff;
      border: none;
      .uploader-drop-icon {
        width: 32px;
        height: 32px;
        margin: 20px 0;
      }
      .uploader-drop-text {
        text-align: center;
        .uploader-btn {
          border: none;
          color: #65b7fe;
        }
        .uploader-btn:hover {
          background: rgba(0, 0, 0, 0);
        }
      }
    }
    .isDisabled {
      color: rgb(205, 204, 207);
      cursor: not-allowed;
      .uploader-drop-text {
        text-align: center;
        .uploader-btn {
          border: none;
          color: rgb(205, 204, 207);
          cursor: not-allowed;
        }
        .uploader-btn:hover {
          background: rgba(0, 0, 0, 0);
        }
      }
    }
    .uploader-list {
      // border-top: 1px dashed var(--borderColor);
      .uploader-file {
        border: 1px dashed var(--borderColor);
        .uploader-file-icon {
          display: none;
        }
        .uploader-file-name {
          width: 35%;
        }
        .uploader-file-size {
          width: 20%;
        }
        .uploader-file-meta {
          display: none;
        }
        .uploader-file-actions {
          width: 20%;
        }
        .uploader-file-status {
          > span:nth-child(2) {
            display: none !important;
          }
          > span:nth-child(1) {
            display: block !important;
          }
        }
      }
      .uploader-file-progress {
        background: rgba(0, 161, 135, 0.1);
      }
    }
  }
  .uploader-file-resume {
    background: url(../../assets/image/uploader-file-resume.png) no-repeat !important;
    background-size: 100%;
  }
  .uploader-file-pause {
    background: url(../../assets/image/uploader-file-pause.png) no-repeat !important;
    background-size: 100%;
  }
  .uploader-file-remove {
    background: url(../../assets/image/uploader-file-remove.png) no-repeat !important;
    background-size: 100%;
  }
}
</style>
