<template>
  <div class="wh100 uploadForm oauto">
    <el-form ref="uploadForm" class="form" :rules="rules" :model="form" label-position="left">
      <el-form-item prop="area" v-if="form.area == '' || form.area">
        <span class="formlabel"><i class="star">*</i>所属地区:</span>
        <el-select v-model="form.area" placeholder="请选择">
          <el-option v-for="item in areaList" :label="item.name" :value="item.name" :key="item.name + item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item prop="site_name" v-if="form.site_name == '' || form.site_name">
        <span class="formlabel"><i class="star">*</i>所属站点:</span>
        <el-select v-model="form.site_name" placeholder="请选择">
          <el-option v-for="item in site_nameList" :label="item.name" :value="item.name" :key="item.name + item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item class="sbxhc" v-if="form.device_num == '' || form.device_num" prop="device_num">
        <span style="color: rgba(0, 0, 0, 0)" class="example">例：csc-103a</span>
        <span class="formlabel"><i class="star">*</i>设备型号:</span>
        <el-input v-model="form.device_num" placeholder="请输入内容"></el-input>
        <span class="example">例：csc-103a</span>
      </el-form-item>
      <el-form-item v-if="form.device_voltage == '' || form.device_voltage" prop="device_voltage">
        <span class="formlabel"><i class="star">*</i>电压等级:</span>
        <el-select v-model="form.device_voltage" placeholder="请选择">
          <el-option v-for="item in device_voltageList" :label="item.name" :value="item.name" :key="item.name + item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item v-if="form.device_company == '' || form.device_company" prop="device_company">
        <span class="formlabel"><i class="star">*</i>生产厂商:</span>
        <el-autocomplete
          :trigger-on-focus="false"
          :debounce="1000"
          v-model="form.device_company"
          :fetch-suggestions="querySearchAsync"
          placeholder="请输入设备生产厂商"
          @select="handleSelect"
        ></el-autocomplete>
      </el-form-item>
      <el-form-item prop="name" v-if="form.name == '' || form.name">
        <span class="formlabel"><i class="star">*</i>模型名称:</span>
        <el-input :disabled="disabled && category == 'isEquip'" v-model="form.name" placeholder="请输入内容"></el-input>
      </el-form-item>
      <el-form-item prop="voltage" v-if="form.voltage == '' || form.voltage">
        <span class="formlabel"><i class="star">*</i>变电站电压等级:</span>
        <el-select :disabled="disabled && category == 'isEquip'" class="height36" v-model="form.voltage" placeholder="请选择">
          <el-option v-for="item in voltageList" :label="item.name" :value="item.name" :key="item.name + item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item v-if="form.device_space == '' || form.device_space" prop="device_space">
        <span class="formlabel"><i class="star">*</i>设备间隔:</span>
        <el-select :disabled="disabled && category == 'isEquip'" class="height36" v-model="form.device_space" placeholder="请选择">
          <el-option v-for="item in device_spaceList" :label="item.name" :value="item.name" :key="item.name + item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item v-if="form.device_type == '' || form.device_type" prop="device_type">
        <span class="formlabel"><i class="star">*</i>设备分类:</span>
        <el-cascader :disabled="disabled && category == 'isEquip'" checkStrictly v-model="form.device_type" :options="device_typeList" :props="props" :show-all-levels="false"></el-cascader>
      </el-form-item>
      <el-form-item v-if="form.describe == '' || form.describe">
        <span class="formlabel descClass">说明:</span>
        <el-input :disabled="disabled && category == 'isEquip'" :rows="3" type="textarea" v-model="form.describe" placeholder="请输入内容"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button class="bgButton paddLR40" @click="onSubmit">下一步</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { getGroupsHandler } from '@/utils/shUtils'
import { checkUpload, searchList } from '@/http/api'
export default {
  name: 'UploadForm',
  props: {
    formData: {
      type: Object,
      default: () => {
        return {
          area: '', // 地区
          site_name: '', // 所属站点
          device_num: '', // 设备型号
          device_voltage: '', // 设备电压等级
          device_company: '', // 生产厂商
          name: '', // 模型名称
          voltage: '', // 变电站电压等级
          device_space: '', // 设备间隔
          describe: '' // 说明
        }
      }
    },
    category: {
      type: String,
      default: () => {
        return 'isAll'
      }
    }
  },
  data() {
    return {
      props: {
        expandTrigger: 'hover',
        children: 'sub_list',
        label: 'name',
        value: 'id',
        emitPath: false
        // checkStrictly: true,
      },
      areaList: [],
      voltageList: [],
      site_nameList: [],
      device_spaceList: [],
      device_voltageList: [],
      device_typeList: [],
      fileTypeList: [],
      rulesArr: {
        area: [{ required: true, message: '请输入所属地区' }],
        voltage: [{ required: true, message: '请输入变电站电压等级' }],
        site_name: [{ required: true, message: '请输入所属站点' }],
        device_space: [{ required: true, message: '请输入设备间隔' }],
        device_voltage: [{ required: true, message: '请输入设备电压等级' }],
        device_type: [{ required: true, message: '请输入设备分类' }],
        name: [
          { required: true, message: '请输入模型名称' },
          { min: 1, max: 39, message: '长度不能超过40个字符' }
        ],
        device_company: [{ required: true, message: '请输入设备生产厂商' }],
        device_num: [{ required: true, message: '请输入设备型号' }]
      },
      form: {},
      rules: {}
    }
  },
  computed: {
    disabled() {
      let bol = true
      let { area, site_name, device_voltage, device_num, device_company } = { ...this.form }
      console.log(this.category, 'this.category')
      if (
        this.category == 'isEquip' &&
        area &&
        area != '' &&
        site_name &&
        site_name != '' &&
        device_voltage &&
        device_voltage != '' &&
        device_num &&
        device_num != '' &&
        device_company &&
        device_company != ''
      ) {
        // this.checkUploadHandler()
        bol = false
      } else {
        bol = true
      }
      return bol
    }
  },
  watch: {
    formData: {
      handler(val) {
        this.form = JSON.parse(JSON.stringify(val))
        for (const key in val) {
          if (this.rulesArr[key]) {
            this.rules[key] = this.rulesArr[key]
          }
        }
        this.$nextTick(() => {
          this.$refs.uploadForm.resetFields()
        })
      },
      deep: true,
      immediate: true
    },
    form: {
      handler(val) {}
    }
    // category: {
    //   handler(val) {
    //     console.log(val, '0-0-0000000000000-----')
    //   }
    // }
  },
  created() {
    getGroupsHandler().then(res => {
      this.areaList = res.areaList
      this.voltageList = res.voltageList
      this.site_nameList = res.site_nameList
      this.device_spaceList = res.device_spaceList
      this.device_voltageList = res.device_voltageList
      this.device_typeList = res.device_typeList
      this.fileTypeList = res.fileTypeList
    })
  },
  mounted() {},
  methods: {
    checkUploadHandler() {
      let params = {
        site_name: this.form.site_name, // 站点名称
        device_num: this.form.device_num, // 设备型号
        device_company: this.form.device_company, // 厂商
        all_sites: this.category == 'isEquip' ? 1 : 2, // 模型的分类 1- 单体模型 2-全站模型
        device_voltage: this.form.device_voltage // 设备电压等级
      }
      checkUpload(params).then(res => {
        if (!res.data || res.data == '') {
          this.uploadModeId = ''
          this.form.device_space = ''
          this.form.device_type = ''
          this.form.name = ''
          this.form.describe = ''
          this.form.voltage = ''
          this.$nextTick(() => {
            this.$refs.uploadForm.clearValidate()
          })
        } else {
          //   this.modeldetailsHandler(res.data)
        }
      })
    },
    onSubmit() {
      this.$refs.uploadForm.validate(valid => {
        if (valid) {
          this.$emit('formChange', this.form)
        } else {
          return false
        }
      })
    },
    querySearchAsync(queryString, cb) {
      searchList({ type: 2, name: queryString }).then(res => {
        let arr = []
        if (res.data) {
          res.data.forEach(item => {
            arr.push({ value: item })
          })
        }
        cb(arr)
      })
    },
    handleSelect(item) {}
  }
}
</script>

<style lang="less" scoped>
.uploadForm {
  .form {
    width: 100%;
    // border: 1px solid var(--borderColor);
    text-align: center;
    border-radius: 10px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    .example {
      font-size: 16px;
      margin-left: 20px;
    }
    .el-form-item {
      margin-bottom: 20px;
      /deep/.el-form-item__content {
        line-height: 36px;
      }
    }
    /deep/.el-input {
      width: 360px;
    }
    .el-textarea {
      width: 360px;
    }
    /deep/.el-form-item__error {
      left: 160px;
    }
    .sbxhc {
      /deep/.el-form-item__error {
        left: 280px;
      }
    }
    .el-select {
      width: auto;
    }
    .formlabel {
      font-size: 16px;
      text-align: left;
      color: #333;
      width: 150px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
</style>
