<template>
  <div class="headerNav flex">
    <div class="headerNav_item pointer flex flex-ac" :class="{ activeHeader: actIndex == index }" @click="clickHandler(item, index)" v-for="(item, index) in currData" :key="index + 22">
      <div style="color: #666666" class="textcenter pathname F16">{{ item.name }}</div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  name: 'TaskHeaderNav',
  props: {
    data: {
      default: () => {
        return []
      }
    },
    activeIndex: {
      default: () => {
        return 10000
      }
    }
  },
  data() {
    return {
      actIndex: 10000
      //   currData: []
    }
  },
  computed: {
    currData() {
      return this.data
    }
    // actIndex() {
    //   return this.activeIndex
    // }
  },
  watch: {
    activeIndex: {
      handler(val) {
        this.actIndex = val
      }
    }
  },
  mounted() {},
  methods: {
    clickHandler(item, index) {
      this.actIndex = index
      this.$ModelGF.pushHandler(item)
    }
  }
}
</script>

<style lang="less" scoped>
.headerNav {
  font-size: 14px;
  .headerNav_item {
    padding: 0 10px;
    margin: 0 10px;
    transition: 0.5s all;
    border-bottom: 2px solid transparent;
    .pathname {
      padding: 10px 10px;
    }
  }
  .activeHeader,
  .headerNav_item:hover {
    border-bottom: 2px solid var(--shareColor);
  }
}
</style>
