<template>
  <div class="w100 bgfff br10 paddl20 paddr20 paddt10 mb20">
    <div class="shareHeader">
      <div class="wh100 flex flex-ac flex-jb">
        <span class="publicTitle">
          <img src="../../assets/image/icon-sw.png" alt="" />
          <i>三维模型智能管理平台</i>
        </span>
        <div class="flex flex-ac">
          <img class="imgWH_24_20 mr20 pointer" src="../../assets/image/icon-sc.png" @click="$ModelGF.pushHandler('收藏')" alt="" />
          <el-badge is-dot :value="messageVal" type="warning" :hidden="!messageVal" class="item">
            <img @click="$ModelGF.pushHandler('消息')" class="imgWH_24 pointer" src="../../assets/image/icon-xx.png" alt="" />
          </el-badge>
          <el-button class="bgButton ml20" size="small" @click="$ModelGF.pushHandler('上传模型')">上传模型</el-button>
          <!-- <el-button class="ml20" size="small" @click="$ModelGF.pushHandler('我的模型')">我的模型</el-button> -->
        </div>
      </div>
    </div>
    <div class="horLine"></div>
    <Divider :data="topNavData"></Divider>
    <div v-show="currentData.length > 0" class="horLine mb5"></div>
    <TaskHeaderNav v-show="showRW" :data="currentData" :activeIndex="activeIndex"></TaskHeaderNav>
    <HeaderNav v-show="!showRW" :data="currentData" :activeIndex="activeIndex"></HeaderNav>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import TaskHeaderNav from './taskHeaderNav.vue'
import HeaderNav from './headerNav.vue'
export default {
  name: '',
  components: {
    TaskHeaderNav,
    HeaderNav
  },
  data() {
    return {
      currentData: [],
      activeIndex: 10000,
      topNavData: [],
      showRW: false
    }
  },
  computed: {
    ...mapState({
      messageVal: state => state.moduleStore.messageVal
    })
  },
  created() {
    let arr = this.$router.options.routes
    arr.forEach(item => {
      if (item.meta && !item.meta.noRenderRoute) {
        this.topNavData.push(item.meta.name)
      }
    })
  },
  mounted() {},
  watch: {
    $route: {
      handler(newval) {
        this.currentData = []
        if (this.$route.meta.pname == '任务管理') {
          this.showRW = true
        } else {
          this.showRW = false
        }
        const path = this.$route.path
        let currentData = []
        this.$router.options.routes.forEach(item => {
          if (item.children && path.includes(item.path)) {
            currentData = item.children.filter((item, index) => {
              return item.meta.isShow !== false
            })
          }
        })
        this.currentData = currentData.map((item, index) => {
          return {
            name: item.meta.name,
            // id: index + 902,
            path: item.path
          }
        })
        // this.$nextTick(() => {
        let touteTitle = this.$route.meta.name
        this.currentData.forEach((item, index) => {
          if (touteTitle == item.name) {
            this.activeIndex = index
          }
        })
        // console.log(this.currentData, 'this.currentData')
      },
      //   immediate: true,
      deep: true
    }
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.shareHeader {
  display: flex;
  height: 36px;
  justify-content: space-between;
  align-content: center;
  padding: 0;
  margin-bottom: 10px;
}
.mb5 {
  margin-bottom: 5px;
}
.imgWH_24_20 {
  width: 24px;
  height: 20px;
}
</style>
