<template>
  <!-- 国网子应用 -->
  <div class="wh100">
    <div v-if="!modelPreview" class="wh100">
      <div class="GWAPP_header">
        <img class="imgee" src="@/assets/image/header.png" alt="" />
      </div>
      <div class="GWAPP_content">
        <div class="GWAPP_aside">
          <img src="../../assets/image/leftNav.png" alt="" />
        </div>
        <div class="GWAPP_main_WRAP">
          <div class="GWAPP_main flex flex-column">
            <Header id="headerId"></Header>
            <div id="ooo" class="GWAPP_main_main w100" :style="GWAPPmmStyle">
              <router-view v-if="render"></router-view>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-view v-if="modelPreview"></router-view>
  </div>
</template>

<script>
import * as ERD from 'element-resize-detector'
import Header from './header.vue'
export default {
  name: '',
  components: {
    Header
  },
  data() {
    return {
      GWAPPmmStyle: '',
      render: false,
      modelPreview: false
    }
  },
  computed: {},
  watch: {
    $route: {
      handler(val) {
        this.modelPreview = val.path == '/modelPreview'
      }
    }
  },
  mounted() {
    if (!this.modelPreview) {
      let elrd = ERD()
      let that = this
      elrd.listenTo(document.getElementById('headerId'), function (e) {
        let t = that.$ModelGF.selfAdaption(20) + e.offsetHeight
        that.GWAPPmmStyle = `height:calc(100% - ${t}px)`
        // 延迟渲染，否则echarts图表初始高度多于正常高度
        setTimeout(() => {
          that.render = true
        }, 300)
      })
    }
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.GWAPP_header {
  height: 70px;
  width: 100%;
  //   background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  .imgee {
    width: 100%;
    height: 70px;
  }
}
.GWAPP_content {
  display: flex;
  height: calc(100% - 70px);
  .GWAPP_main_WRAP {
    width: calc(100% - 310px);
    height: 100%;
    padding: 20px 20px 20px 0;
    background: #f5f8f7;
  }
  .GWAPP_main {
    height: 100%;
    width: 100%;
    padding: 0;
    // .GWAPP_main_main {
    //   height: calc(100% - 170px);
    // }
  }
  .GWAPP_aside {
    width: 310px;
    height: 100%;
    background: #f5f8f7;
    img {
      width: 100%;
    }
  }
}
</style>
