<template>
  <div class="taskHeaderNav flex">
    <div class="taskHeaderNav_item pointer flex flex-ac" :class="{ activeHeader: actIndex == index }" @click="clickHandler(item, index)" v-for="(item, index) in currData" :key="index + 22">
      <div class="textcenter pathname F16">
        <p style="color: #666666">{{ item.name }}</p>
        <p v-if="item.name == '统计'" style="color: #999999">28769</p>

        <p v-else style="color: #999999">9000/28769</p>
      </div>
      <div v-if="item.name !== '统计'">
        <el-progress type="circle" color="#00a187" :percentage="60" :stroke-width="10"></el-progress>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  name: 'TaskHeaderNav',
  props: {
    data: {
      default: () => {
        return []
      }
    },
    activeIndex: {
      default: () => {
        return 10000
      }
    }
  },
  data() {
    return {
      actIndex: 10000
      //   currData: []
    }
  },
  computed: {
    currData() {
      return this.data
    }
    // actIndex() {
    //   return this.activeIndex
    // }
  },
  watch: {
    activeIndex: {
      handler(val) {
        this.actIndex = val
      }
    }
  },
  mounted() {},
  methods: {
    clickHandler(item, index) {
      this.actIndex = index
      this.$ModelGF.pushHandler(item)
    }
  }
}
</script>

<style lang="less" scoped>
.taskHeaderNav {
  font-size: 14px;
  .taskHeaderNav_item {
    padding: 0 10px;
    margin: 0 10px;
    transition: 0.5s all;
    border-bottom: 2px solid transparent;
    .pathname {
      padding: 5px 10px;
    }
  }
  .activeHeader,
  .taskHeaderNav_item:hover {
    border-bottom: 2px solid var(--shareColor);
  }
  /deep/.el-progress-circle {
    width: 34px !important;
    height: 34px !important;
  }
  /deep/.el-progress__text {
    font-size: 12px !important;
    transform: scale(0.9);
    top: 32%;
  }
}
</style>
