* {
  box-sizing: border-box;
}

html,
body,
#modelbase {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #333;
  font-family: 'Microsoft YaHei', '微软雅黑';
}

p {
  margin: 0;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #333;
}
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 6px;
  //   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #d6dddc;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  //   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: #fff;
}
div {
  scrollbar-color: #d6dddc #fff; //设置滚动条颜色
  scrollbar-width: thin;
}
.scrollbar {
  height: 100%;
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  //   .el-scrollbar__bar {
  //     background-color: #eeeeee;
  //   }
  .el-scrollbar__thumb {
    background-color: #d6dddc;
  }
  .el-scrollbar__wrap {
    margin-right: -10px !important;
  }
}
div[data-name='modelbase'] {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
:root {
  --borderColor: rgb(210, 210, 210);
  --shareColor: rgb(0, 161, 135);
  --priceColor: #ff715e;
}
// ******************第三方组件通用样式******************
div.shareTable {
  width: 100%;
  .el-table__body tr.current-row > td.el-table__cell {
    background: transparent !important;
  }
  .headerRowclassName {
    height: 50px;
    // background-color: rgba(0,161,135,0.1);
    th.el-table__cell {
      background-color: rgba(0, 161, 135, 0.1);
      color: #333333;
      font-size: 16px;
      font-weight: normal;
    }
  }

  tr.el-table__row {
    font-size: 16px;
    color: #666666;
  }

  .sort-caret.ascending {
    border-bottom-color: #333333;
  }
  .sort-caret.descending {
    border-top-color: #333333;
  }
  .ascending .sort-caret.ascending {
    border-bottom-color: var(--shareColor);
  }
  .descending .sort-caret.descending {
    border-top-color: var(--shareColor);
  }

  .el-table__row:hover {
    background: rgba(0, 161, 135, 0.15) !important;
    color: #333333 !important;
  }
  //   col[width='55'] {
  //     width: 55px;
  //   }
  //   col[width='100'] {
  //     width: 100px;
  //   }
  //   col[width='110'] {
  //     width: 110px;
  //   }
  //   col[width='120'] {
  //     width: 120px;
  //   }
  //   col[width='130'] {
  //     width: 130px;
  //   }
  //   col[width='140'] {
  //     width: 140px;
  //   }
  //   col[width='150'] {
  //     width: 150px;
  //   }
  //   col[width='160'] {
  //     width: 160px;
  //   }
  //   col[width='170'] {
  //     width: 170px;
  //   }
  //   col[width='180'] {
  //     width: 180px;
  //   }
  //   col[width='200'] {
  //     width: 200px;
  //   }
  //   col[width='210'] {
  //     width: 210px;
  //   }
  //   col[width='220'] {
  //     width: 220px;
  //   }
  //   col[width='230'] {
  //     width: 230px;
  //   }
  //   col[width='250'] {
  //     width: 250px;
  //   }
  .cell {
    width: 100% !important;
  }
}
.shareTable.el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
  color: #333333;
  background: none;
}
.formw70 {
  width: 70px !important;
}
// ================================
button.el-button {
  background: #fff;
  color: var(--shareColor);
  border: 1px solid var(--shareColor);
  border-radius: 4px;
  //   padding: 12px 20px;
  font-size: 14px;
}
button.el-button:hover,
button.el-button.is-active,
button.el-button:active,
button.el-button:focus {
  background: #fff;
  color: var(--shareColor);
}
button.bgButton {
  background: var(--shareColor);
  color: #fff;
  border: 1px solid var(--shareColor);
  border-radius: 4px;
  //   padding: 12px 20px;
  font-size: 14px;
}
button.bgButton:hover,
button.bgButton.is-active,
button.bgButton:active,
button.bgButton:focus {
  background: var(--shareColor);
  border-color: var(--shareColor);
  color: #fff;
}

button.bgButton.is-disabled,
button.bgButton.is-disabled:active,
button.bgButton.is-disabled:focus,
button.bgButton.is-disabled:hover {
  background-color: rgba(0, 161, 135, 0.5);
  border-color: rgba(0, 161, 135, 0.5);
}

div.el-input-group__append,
div.el-input-group__prepend {
  background-color: var(--shareColor);
  color: #fff;
  border: 1px solid var(--shareColor); /*no*/
}

.el-button.inputButton {
  height: 36px;
  padding: 0 10px;
  line-height: 36px;
}
.el-icon-arrow-up:before {
  content: '' !important;
  color: rgb(153, 153, 153);
  font-size: 20px;
}
.el-icon-arrow-down:before {
  content: '' !important;
  color: rgb(153, 153, 153);
  font-size: 20px;
}

button.bigPadd.el-button {
  padding: 12px 50px;
  margin: 20px 50px;
}

// ================================
.el-dropdown-menu.el-popper {
  min-width: 200px;
  text-align: center;
}

// ================================
.el-pagination {
  text-align: center;
}
.el-pagination.is-background ul.el-pager li:not(.disabled).active {
  background: var(--shareColor);
}
.el-pagination.is-background ul.el-pager li:not(.disabled):hover {
  color: #fff;
  background: var(--shareColor);
}
div.el-pagination.is-background .btn-next,
div.el-pagination.is-background .btn-prev,
div.el-pagination.is-background .el-pager li {
  color: var(--shareColor);
}
div.el-pagination.is-background .el-pager li {
  background: none;
  border: 1px solid var(--shareColor);
}
div.el-pagination.is-background .btn-next,
div.el-pagination.is-background .btn-prev {
  background: var(--shareColor);
  color: #fff;
}
div.el-pagination.is-background .btn-next.disabled,
div.el-pagination.is-background .btn-next:disabled,
div.el-pagination.is-background .btn-prev.disabled,
div.el-pagination.is-background .btn-prev:disabled {
  color: #fff;
  background: rgba(0, 161, 135, 0.5);
}
// ================================
div.el-dialog {
  border-radius: 8px;
  margin-bottom: 0;
  div.el-dialog__header {
    background: #e7e7e7;
    padding: 0 0 0 30px;
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 16px;
    border-radius: 8px 8px 0 0;
    button.el-dialog__headerbtn {
      top: 16px;
      right: 30px;
      font-size: 20px;
    }
  }
  .el-dialog__body {
    padding: 0;
  }
  .el-dialog__footer {
    padding: 10px 20px;
    .el-button {
      margin: 0 10px;
    }
  }
}
// .el-dialog__wrapper {
//   background: rgba(0, 0, 0, 0.55);
// }
// =======================
.el-input {
  .el-input__inner {
    height: 36px;
    padding-left: 10px;
    border-color: var(--borderColor);
  }
  .el-input__inner:hover {
    border-color: var(--shareColor);
  }
}
.el-input.is-active input.el-input__inner,
input.el-input__inner:focus {
  border-color: var(--shareColor);
}

.el-checkbox__input.is-checked + span.el-checkbox__label {
  color: #333;
}
span.el-checkbox__input.is-checked .el-checkbox__inner,
span.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: var(--shareColor);
  border-color: var(--shareColor);
}
span.el-checkbox__inner:hover,
span.el-checkbox__inner:focus {
  border-color: var(--shareColor);
}

// =======================
.el-select {
  width: 210px;
}
div.el-select .el-input.is-focus .el-input__inner,
div.el-select .el-input__inner:focus,
div.el-select:hover .el-input__inner {
  border-color: var(--shareColor);
}
// =======================

// ******************end******************

.horLine {
  display: block;
  width: 100%;
  height: 1px /*no*/;
  background: #eeeeee;
}
.verLine {
  display: inline-block;
  height: 100%;
  width: 1px; /*no*/
  background: var(--borderColor);
}
.star {
  color: #ff0000;
  margin: 0 10px;
}
// 图标尺寸
.imgWH_14 {
  width: 14px;
  height: 14px;
}
.imgWH_24 {
  width: 24px;
  height: 24px;
}
.imgWH_32 {
  width: 32px;
  height: 32px;
}
.imgWH_64 {
  width: 64px;
  height: 64px;
}
.imgWH_128 {
  width: 128px;
  height: 128px;
}
.imgWH_192 {
  width: 192px;
  height: 192px;
}
.imgWH_256 {
  width: 256px;
  height: 256px;
}

.operation {
  color: var(--shareColor);
  a {
    color: var(--shareColor);
  }
  > span {
    margin: 0 5px;
    cursor: pointer;
  }
}
.breadcrumb {
  margin-bottom: 20px;
}

.tableInput {
  .el-input__inner {
    border: none;
    background-color: transparent;
    text-align: center;
  }
}

.el-image {
  border-radius: 10px;
  // border: 1px solid var(--borderColor);
  .el-image__inner {
    border-radius: 10px;
  }
}

.image-slot {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #ccc;
  border: 1px solid var(--borderColor);
  i {
    font-size: 30px;
    color: #ccc;
  }
}

.form20 {
  margin-top: 20px;
}
.tableClass42 {
  width: 100%;
  height: calc(100% - 42px);
}
.tableClass56 {
  width: 100%;
  height: calc(100% - 56px);
}
.tableClass76 {
  width: 100%;
  height: calc(100% - 76px);
}
.tableQP {
  width: 100%;
  height: calc(100% - 42px);
}
.tabtoggle {
  position: absolute;
  right: 20px;
  top: -60px;
}
.width200 {
  width: 200px;
}
.descClass {
  padding-left: 30px;
  vertical-align: top;
  box-sizing: border-box;
}
.el-table__empty-block {
  width: auto !important;
}
.height36 {
  .el-input__inner {
    height: 36px !important;
  }
}
// ====================
.textleft {
  text-align: left;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}
.clear {
  clear: both;
  height: 0px;
  width: 100%;
  font-size: 1px;
  line-height: 0px;
  visibility: hidden;
  overflow: hidden;
}

.FB {
  font-weight: bold;
}

.FN {
  font-weight: normal;
}
.F12 {
  font-size: 12px;
}

.F13 {
  font-size: 13px;
}

.F14 {
  font-size: 14px;
}

.F16 {
  font-size: 16px;
}
.F16IM {
  font-size: 16px !important;
}
.F18 {
  font-size: 18px;
}
.F18IM {
  font-size: 18px !important;
}
.F20 {
  font-size: 20px;
}
.F22 {
  font-size: 22px;
}
.F24 {
  font-size: 24px;
}
.F24IM {
  font-size: 24px !important;
}
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-ac {
  align-items: center;
}

.flex-jb {
  justify-content: space-between;
}

.flex-ja {
  justify-content: space-around;
}

.flex-jc {
  justify-content: center;
}
.flex1 {
  flex: 1;
}
.padd10 {
  padding: 10px;
}
.paddt10 {
  padding-top: 10px;
}
.padd20 {
  padding: 20px;
}
.paddt20 {
  padding-top: 20px;
}
.paddb20 {
  padding-bottom: 20px;
}
.paddl20 {
  padding-left: 20px;
}
.paddr20 {
  padding-right: 20px;
}
.el-button.paddLR20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.el-button.paddLR40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.el-button.paddLR60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
button.el-button--small,
button.el-button--small.is-round {
  padding: 10px 15px;
}
.mr10 {
  margin-right: 10px;
}
.m15 {
  margin: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mr15 {
  margin-right: 15px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.m20 {
  margin: 20px;
}
.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.textShadow {
  text-shadow: 0px 0px 20px #fff;
}
.ohidden {
  overflow: hidden;
}
.oauto {
  overflow: auto;
}
.nowrap {
  white-space: nowrap;
}
.wh100 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.h100 {
  height: 100%;
}
.inlineblock {
  display: inline-block;
}
.block {
  display: block;
}
.textoverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.oxhidden {
  overflow-x: hidden;
}
.vam {
  vertical-align: middle;
}
.pointer {
  cursor: pointer;
}
.w200 {
  width: 200px;
}
/* 设置input框placeholder的属性 */
input.el-input__inner::-webkit-input-placeholder {
  font-size: 14px;
}
input.el-input__inner::-moz-placeholder {
  font-size: 14px;
} /* Mozilla Firefox 19+ */
input.el-input__inner:-moz-placeholder {
  font-size: 14px;
} /* Mozilla Firefox 4 to 18 */
input.el-input__inner:-ms-input-placeholder {
  font-size: 14px;
} /* Internet Explorer 10-11 */
.el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange {
  height: 36px;
  line-height: 36px;
  .el-range__icon,
  .el-range-separator {
    line-height: 28px;
  }
}

.rightList_main_pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  .info {
    font-size: 14px;
    margin: 0 20px;
  }
}

.botClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  .el-checkbox.checkclass {
    margin: 0 10px 0 20px;
  }
  .jyClass {
    font-size: 14px;
    cursor: pointer;
  }
  .jyClass:hover {
    color: var(--shareColor);
  }
  .rightList_main_pagination {
    margin-top: 0;
  }
}
.bgfff {
  background: #fff;
}
.br10 {
  border-radius: 10px;
}
.publicTitle {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #333333;
  img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}
.publicChart {
  height: calc(100% - 45px);
}
.fullSClass {
  .el-dialog__body {
    height: calc(100% - 50px);
  }
}
