<template>
  <div class="wh100 bgfff br10 padd20">
    <div class="mb20" style="text-align: right">
      <el-button class="bgButton" @click="addHandler">新建</el-button>
    </div>
    <div class="tableClass56">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData" style="width: 100%">
          <el-table-column align="center" show-overflow-tooltip label="ID"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="name" label="角色"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_num" label="描述"></el-table-column>
          <el-table-column width="240" align="center" label="操作">
            <template slot-scope="scope">
              {{ scope.row }}
              <div class="operation"><span>修改</span>|<span>删除</span></div>
            </template>
          </el-table-column>
        </Table>
        <div class="rightList_main_pagination">
          <el-pagination background @current-change="currentChange" layout="prev, pager, next" :total="total"> </el-pagination>
          <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: '',
  data() {
    return {
      tableData: [],
      total: 0
    }
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    addHandler() {},
    currentChange() {}
  }
}
</script>

<style lang="less" scoped>
.twrap {
  height: calc(100% - 60px);
}
</style>
