<template>
  <div class="wh100 bgfff br10 padd20">
    <div class="tableQP">
      <Table ref="tableRef" :data="tableData" @selectionChange="selectionChange">
        <el-table-column type="selection" align="center" width="55"></el-table-column>
        <el-table-column width="55" align="center" type="index" show-overflow-tooltip label="序号"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="name" label="模型名称">
          <!-- <template slot-scope="scope">
              <el-input class="tableInput" v-model="scope.row.name" @change="inputHandler($event, scope.row, 'name')" placeholder=""></el-input>
            </template> -->
        </el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="device_num" label="设备型号">
          <!-- <template slot-scope="scope">
                <el-input class="tableInput" v-model="scope.row.device_num" @change="inputHandler($event, scope.row, 'device_num')" placeholder=""></el-input>
              </template> -->
        </el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="device_voltage" label="电压等级"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="device_company" label="生产厂商"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="site_name" label="所属站点"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="device_type_name" label="设备分类"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="site_name" label="模型类别"></el-table-column>
        <el-table-column align="center" label="操作">
          <template slot-scope="scope">
            <div class="operation"><span>取消收藏</span>|<model-preview-btn :modelId="scope.row">预览</model-preview-btn>|<span>下载</span></div>
          </template>
        </el-table-column>
      </Table>
    </div>
    <div class="botClass">
      <div>
        <el-checkbox @change="checkboxChange" :indeterminate="indeterminate" class="checkclass" v-model="checkboxVal"></el-checkbox>
        <span class="jyClass" @click="clickHandler">批量定价</span>
      </div>
      <div></div>
      <div class="rightList_main_pagination">
        <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size.sync="pageSize" :current-page.sync="currentPage" :total="total"> </el-pagination>
        <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: '',
  data() {
    return {
      tableData: [],
      total: 0,
      pageSize: 20,
      currentPage: 1,
      indeterminate: false,
      selectTable: [],
      checkboxVal: false
    }
  },
  computed: {},
  watch: {},
  mounted() {
    this.table_ref = this.$refs.tableRef.$refs.table
  },
  methods: {
    currentChange() {},
    clickHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning('请选择模型')
        return
      }
    },
    checkboxChange(bol) {
      this.table_ref.clearSelection()
      if (bol) {
        this.table_ref.toggleAllSelection()
      }
    },
    selectionChange(params) {
      this.selectTable = params
      this.checkboxVal = this.tableData.length == params.length
      this.indeterminate = params.length > 0 && this.tableData.length > params.length
    }
  }
}
</script>

<style lang="less" scoped>
.botClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  .checkclass {
    margin: 0 20px;
  }
  .jyClass {
    font-size: 14px;
    cursor: pointer;
  }
  .jyClass:hover {
    color: var(--shareColor);
  }
}
</style>
