<template>
  <el-dialog title="***下载" top="15%" width="50%" lock-scroll :visible.sync="downloadVisible">
    <div class="downloadClass F16 padd20">
      <div class="wh100">
        <div class="dlf flex" v-for="(item, index) in data" :key="index + 112">
          <span class="inlineblock">{{ item.name }}</span>
          <div class="dlfchil flex flex-ac">
            <i class="inlineblock textoverflow" :title="m.name" v-for="(m, n) in item.children" :key="n + 800">
              {{ m.name }}
            </i>
          </div>
        </div>
      </div>
    </div>
  </el-dialog>
</template>

<script>
export default {
  name: 'DownloadModel',
  props: {
    data: {
      type: Array,
      default: () => {
        return [
          {
            name: '默认',
            children: [
              { name: 'aa.ydm', url: '' },
              { name: 'aa.fbx', url: '' }
            ]
          },
          { name: '数字化移交', children: [{ name: 'aa.gim', url: '' }] },
          { name: '精细化模型', children: [{ name: 'aa.max', url: '' }] },
          { name: '实景三维点云', children: [{ name: 'aa.las', url: '' }] }
        ]
      }
    }
  },
  data() {
    return {
      downloadVisible: false
    }
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {}
}
</script>

<style lang="less">
.downloadClass {
  > div {
    background: rgba(54, 161, 135, 0.04);
    border-radius: 10px;
    .dlf {
      border-bottom: 1px solid rgba(238, 238, 238, 1);
      .dlfchil {
      }
      span {
        width: 150px;
        padding: 10px 20px;
        background: rgba(54, 161, 135, 0.04);
      }

      i {
        text-align: center;
        width: 150px;
        color: var(--shareColor);
        cursor: pointer;
        padding: 0 10px;
      }
    }
  }
}
</style>
