<template>
  <!-- <el-scrollbar class="scrollbar"> -->
  <div id="modelRelease">
    <p class="ptitle" style="margin-top: 0">模型名称：{{ row ? row.name : '' }}</p>
    <div class="contentWrap">
      <div class="rightContent w100">
        <!-- 设备模型 -->
        <div v-if="category == 'isEquip'" class="rightContentCenter F16">
          <div>设备分类：{{ data ? data.device_type_name : '' }}</div>
          <div>来源：自有/第三方</div>
          <div>生产厂商：{{ data ? data.device_company : '' }}</div>
          <div>设备型号：{{ data ? data.device_num : '' }}</div>
          <div>所属站点：{{ data ? data.site_name : '' }}</div>
          <div>使用站点数：{{ data ? data.num : '' }}</div>
          <div>最新版本：{{ data ? data.update_time : '' }}</div>
        </div>
        <div v-if="category == 'isAll'" class="rightContentCenter F16">
          <div>所属地区：{{ data ? data.area : '' }}</div>
          <div>来源：自有/第三方</div>
          <div>最新版本：{{ data ? data.update_time : '' }}</div>
          <div>电压等级：{{ data ? data.voltage : '' }}</div>
          <div>未通过校正设备模型：{{ data ? data.site_name : '' }}</div>
          <div>与系统重复设备模型：{{ data ? data.num : '' }}</div>
        </div>
      </div>
    </div>

    <p class="ptitle mt20">价格</p>
    <el-form ref="form" class="form textcenter" :rules="rules" :model="form">
      <el-form-item prop="all">
        <span class="formlabel"><i class="star">*</i>全部打包价格</span>
        <el-input v-model.number="form.all" placeholder="请输入内容"></el-input>
      </el-form-item>
      <el-form-item prop="digitalHand">
        <span class="formlabel"><i class="star">*</i>数字化移交</span>
        <el-input v-model.number="form.digitalHand" placeholder="请输入内容"></el-input>
      </el-form-item>
      <el-form-item prop="refineModel">
        <span class="formlabel"><i class="star">*</i>精细化模型</span>
        <el-input v-model.number="form.refineModel" placeholder="请输入内容"></el-input>
      </el-form-item>
      <el-form-item prop="realPointcloud">
        <span class="formlabel"><i class="star">*</i>实景三维点云</span>
        <el-input v-model.number="form.realPointcloud" placeholder="请输入内容"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button class="bgButton paddLR40" @click="onSubmit('form', 'send')">发布</el-button>
        <el-button @click="$emit('btnHandler')" class="paddLR40 ml20">取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import {
  auditStanDetail,
  priceRelea,
  modeldetails,
  // new
  deVerUpdate
} from '@/http/api'
export default {
  name: 'ModelRelease',
  components: {
    // ModelInfo
  },
  props: {
    category: {
      type: String,
      default: () => {
        return 'isAll'
      }
    },
    data: {
      type: Object
    }
  },
  data() {
    return {
      modelInfoList: [],
      form: {
        // default: '',
        digitalHand: '',
        refineModel: '',
        realPointcloud: '',
        version: '',
        all: ''
        // fbx: ''
      },
      rules: {
        all: [
          { required: true, message: '请输入全部打包价格' },
          { type: 'number', message: '价格必须为数字值' }
        ],
        // default: [
        //   { required: true, message: '请输入YDM价格' },
        //   { type: 'number', message: '价格必须为数字值' }
        // ],
        // fbx: [
        //   { required: true, message: '请输入FBX价格' },
        //   { type: 'number', message: '价格必须为数字值' }
        // ],
        digitalHand: [
          { required: true, message: '请输入数字化移交价格' },
          { type: 'number', message: '价格必须为数字值' }
        ],
        refineModel: [
          { required: true, message: '请输入精细化模型价格' },
          { type: 'number', message: '价格必须为数字值' }
        ],
        realPointcloud: [
          { required: true, message: '请输入实景三维点云价格' },
          { type: 'number', message: '价格必须为数字值' }
        ]
      },
      row: {}
    }
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  methods: {
    priceReleaHandler() {
      let str = ''
      this.data.ModelVersionList.forEach((item, index) => {
        str += `model_verison_ids[${item.file_type}]=${item.id}&`
      })
      if (!str.includes('model_verison_ids[8]')) {
        str += 'model_verison_ids[8]=&'
      }
      str += `modle_id=${this.data.id}&price=${this.form.all}&gim_price=${this.form.digitalHand}&ydm_price=${this.form.default}&max_price=${this.form.refineModel}&fbx_price=${this.form.fbx}&point_price=${this.form.realPointcloud}&status=8`
      // version: this.form.version,
      priceRelea(str).then(res => {
        if (res.code == 0) {
          this.$message.success('发布成功')
          //   sessionStorage.setItem('MODELVERINDEX', 8)
          //   pushHandler('发布管理', this)
        }
      })
    },
    deVerUpdateHandler() {
      console.log(this.data, '-=====------------')
      //   deVerUpdate().then(res => {})
    },
    onSubmit(formName, type) {
      // send 发布  save保存
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.deVerUpdateHandler()
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
#modelRelease {
  width: 100%;
  height: 100%;
  padding: 20px;
  .ptitle {
    line-height: 50px;
    font-weight: bold;
    font-size: 18px;
    padding-right: 40px;
    background: rgba(0, 161, 128, 0.1);
    border-radius: 4px 4px 0px 0px;
    padding: 0 20px;
  }
  .contentWrap {
    width: 100%;
    height: auto;
    // border: 1px solid var(--borderColor);
    background: rgba(54, 161, 135, 0.04);
    // border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
    img {
      border-radius: 10px;
    }
    .rightContent {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
      p {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .rightContentCenter {
        display: flex;
        flex-wrap: wrap;
        div {
          width: 33.3%;
          overflow: hidden;
          margin: 10px 0;
        }
      }
    }
  }
  .form {
    // margin-top: 20px;
    padding: 20px;
    background: rgba(54, 161, 135, 0.04);
    .el-form-item {
      margin-bottom: 20px;
      /deep/.el-form-item__content {
        line-height: 36px;
      }
      .formlabel {
        text-align: left;
      }
    }
  }
  /deep/.el-input {
    width: 210px;
  }
  /deep/.el-form-item__error {
    left: 410px;
  }
  .formlabel {
    font-size: 16px;
    text-align: right;
    color: rgb(112, 188, 254);
    width: 130px;
    display: inline-block;
    margin-right: 10px;
  }
}
</style>
