<template>
  <div class="wh100 flex flex-column bgfff br10 padd20 relative">
    <TabBar class="tabBar tabtoggle" ref="taBar" :index="2" :data="tabData" @change="tabHandler"></TabBar>
    <ShareForm ref="ShareForm" :statusList="statusList" :searchStatus="tabIndex" :propsForm="propsForm" @change="shareFormChange"></ShareForm>
    <div v-if="aginrender" class="w100 flex1">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData" @selectionChange="selectionChange">
          <el-table-column type="selection" align="center" width="55"></el-table-column>
          <el-table-column width="55" align="center" type="index" show-overflow-tooltip label="序号"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="name" label="模型名称"> </el-table-column>
          <el-table-column v-if="tabIndex == 1" align="center" show-overflow-tooltip prop="device_num" label="设备型号"> </el-table-column>
          <el-table-column v-if="tabIndex == 2" align="center" show-overflow-tooltip prop="area" label="所属地区"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_voltage" label="电压等级"></el-table-column>
          <el-table-column v-if="tabIndex == 1" align="center" show-overflow-tooltip prop="device_company" label="生产厂商"></el-table-column>
          <el-table-column v-if="tabIndex == 1" align="center" show-overflow-tooltip prop="site_name" label="所属站点"></el-table-column>
          <el-table-column v-if="tabIndex == 1" align="center" show-overflow-tooltip prop="device_type_name" label="设备分类"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="create_time" label="创建时间"> </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="update_time" label="版本号"></el-table-column>
          <el-table-column align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation"><model-preview-btn :modelId="scope.row">预览</model-preview-btn>|<span @click="djfbHandler(scope.row)">定价发布</span></div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div class="botClass">
        <div>
          <el-checkbox @change="checkboxChange" :indeterminate="indeterminate" class="checkclass" v-model="checkboxVal"></el-checkbox>
          <span class="jyClass" @click="clickHandler">批量定价</span>
        </div>
        <div></div>
        <div class="rightList_main_pagination">
          <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size.sync="pageSize" :current-page.sync="currentPage" :total="total"> </el-pagination>
          <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
        </div>
      </div>
    </div>
    <el-dialog title="定价发布" class="detailVisibleClass" top="5%" width="50%" lock-scroll :visible.sync="detailVisible">
      <PriceRelease :data="currRow" :category="category" @btnHandler="btnHandler"></PriceRelease>
    </el-dialog>
  </div>
</template>

<script>
import {
  modelAdminList,
  updateModel,
  getModelList,
  modelIndex,
  // new
  getFBlist,
  getQZlist
} from '@/http/api'
import { statusHandler } from '../../utils/shUtils'
import PriceRelease from './priceRelease.vue'
export default {
  name: 'WaitingRelease',
  components: {
    PriceRelease
  },
  data() {
    return {
      detailVisible: false,
      aginrender: true,
      checkboxVal: false,
      tableData: [],
      table_ref: null,
      total: 0,
      //     -1=删除 1= //待校验 2 //校验失败 3 比对失败 5 待修正
      // 6 修正中 7 待待发布 8 已发布
      tabData: [
        { id: 2, name: '全站模型', key: 'isAll' },
        { id: 1, name: '单体模型', key: 'isEquip' }
      ],
      props: {
        expandTrigger: 'hover',
        children: 'sub_list',
        label: 'name',
        value: 'id',
        emitPath: false,
        checkStrictly: true
      },
      tabIndex: 2,
      category: 'isAll',
      indeterminate: false,
      selectTable: [],
      userID: 1000,
      pageSize: 20,
      currentPage: 1,
      inputOptions: [
        {
          value: 1,
          label: '模型'
        }
      ],
      allsPForm: {
        area: '',
        device_voltage: '',
        file_type: ''
        // status: ''
      },
      singPForm: {
        site_name: '',
        device_type: '',
        device_voltage: '',
        file_type: ''
        // status: 5
      },
      propsForm: {},
      formData: {},
      currRow: {},
      statusHandler: []
    }
  },
  computed: {},
  created() {
    this.statusList = statusHandler.getStatusByKey()
    this.propsForm = JSON.parse(JSON.stringify(this.allsPForm))
  },
  mounted() {
    this.table_ref = this.$refs.tableRef.$refs.table
  },
  beforeDestroy() {
    window.onresize = null
  },
  methods: {
    init() {
      if (this.tabIndex == 1) {
        this.getFBlistHandler()
      }
      if (this.tabIndex == 2) {
        this.getQZlistHandler()
      }
    },
    getFBlistHandler() {
      let params = {
        page: this.currentPage,
        page_size: this.pageSize,
        status: 5
        // uid: this.userID
        // all_sites: this.tabIndex
      }
      Object.assign(params, this.formData)
      getFBlist(params).then(res => {
        this.tableData = res.list ? res.list : []
        this.total = res.pager.total_rows
      })
    },
    getQZlistHandler() {
      let params = {
        status: 5,
        page: this.currentPage,
        page_size: this.pageSize
        // uid: this.userID
        // all_sites: this.tabIndex
      }
      Object.assign(params, this.formData)
      getQZlist(params).then(res => {
        this.tableData = res.list ? res.list : []
        this.total = res.pager.total_rows
      })
    },
    djfbHandler(params) {
      this.currRow = params
      this.detailVisible = true
    },
    btnHandler() {
      this.detailVisible = false
    },
    aginrenderHandler() {
      this.aginrender = false
      this.$nextTick(() => {
        this.aginrender = true
      })
    },
    shareFormChange(val) {
      this.formData = val
      this.init()
    },

    checkboxChange(bol) {
      this.table_ref.clearSelection()
      if (bol) {
        this.table_ref.toggleAllSelection()
      }
    },
    selectionChange(params) {
      this.selectTable = params
      this.checkboxVal = this.tableData.length == params.length
      this.indeterminate = params.length > 0 && this.tableData.length > params.length
    },

    clickHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning('请选择模型')
        return
      }
    },
    clearData() {
      this.currentPage = 1
      this.total = 0
      this.table_ref.clearSelection()
      this.tableData = []
      this.formData = {}
    },
    tabHandler(params) {
      const index = params.id
      this.clearData()
      this.tabIndex = params.id
      this.category = params.key
      // 1-单体模型 2- 全站模型
      if (params.id == 2) {
        this.propsForm = JSON.parse(JSON.stringify(this.allsPForm))
      }
      if (params.id == 1) {
        this.propsForm = JSON.parse(JSON.stringify(this.singPForm))
      }
      //   重新渲染高度
      this.aginrenderHandler()
      //   this.modelAdminListHandler()
    },
    currentChange(currentPage) {
      this.currentPage = currentPage
      this.table_ref.clearSelection()
      this.modelAdminListHandler()
    }
  }
}
</script>

<style lang="less" scoped>
.el-table--enable-row-transition .el-table__body td.el-table__cell {
  padding: 2px 0;
}
.jyClass {
  font-size: 14px;
  cursor: pointer;
}
.jyClass:hover {
  color: var(--shareColor);
}
.botClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-top: 10px;
}
.checkclass {
  margin: 0 5px 0 20px;
}
.el-table__body-wrapper {
  overflow: auto;
}
</style>
