<template>
  <div class="wh100 bgfff br10 padd20">
    <div class="tableQP">
      <Table ref="tableRef" :data="tableData" @selectionChange="selectionChange">
        <el-table-column type="selection" align="center" width="55"></el-table-column>
        <el-table-column width="55" align="center" type="index" show-overflow-tooltip label="序号"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="name" label="内容"> </el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="device_voltage" label="时间"></el-table-column>
        <el-table-column width="100" align="center" show-overflow-tooltip prop="device_company" label="状态"></el-table-column>
        <el-table-column width="150" align="center" label="操作">
          <template slot-scope="scope">
            {{ scope.row }}
            <div class="operation"><span>删除</span>|<span>详情</span></div>
          </template>
        </el-table-column>
      </Table>
    </div>
    <div class="botClass">
      <div>
        <el-checkbox @change="checkboxChange" :indeterminate="indeterminate" class="checkclass" v-model="checkboxVal"></el-checkbox>
        <span class="jyClass" @click="clickHandler">删除选中</span>
      </div>
      <div></div>
      <div class="rightList_main_pagination">
        <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size.sync="pageSize" :current-page.sync="currentPage" :total="total"> </el-pagination>
        <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  name: 'MessageManage',
  data() {
    return {
      tableData: [],
      total: 0,
      pageSize: 20,
      currentPage: 1,
      indeterminate: false,
      selectTable: [],
      checkboxVal: false
    }
  },
  computed: {},
  watch: {},
  mounted() {
    this.table_ref = this.$refs.tableRef.$refs.table
    // this.setMessageVal(20)
  },
  methods: {
    ...mapMutations(['setMessageVal']),
    currentChange() {},
    clickHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning('请选择模型')
        return
      }
    },
    checkboxChange(bol) {
      this.table_ref.clearSelection()
      if (bol) {
        this.table_ref.toggleAllSelection()
      }
    },
    selectionChange(params) {
      this.selectTable = params
      this.checkboxVal = this.tableData.length == params.length
      this.indeterminate = params.length > 0 && this.tableData.length > params.length
    }
  }
}
</script>

<style lang="less" scoped></style>
