<template>
  <!-- 校正 -->
  <PublicMain page="JZ"></PublicMain>
</template>

<script>
import PublicMain from './components/publicMain.vue'
export default {
  name: '',
  components: {
    PublicMain
  },
  data() {
    return {}
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {}
}
</script>

<style></style>
