<template>
  <div class="wh100 flex flex-jb">
    <div class="bgfff h100 padd20 br10 divitem">
      <p class="publicTitle">
        <img src="../../assets/image/icon-yscmxzl.png" alt="" />
        <i>已上传模型种类</i>
      </p>
      <div class="horLine mt20"></div>
      <div class="publicChart w100">
        <RingChart :legend="{ right: '2%', top: '5%', orient: 'vertical' }"></RingChart>
      </div>
    </div>
    <div class="bgfff h100 padd20 br10 divitem">
      <p class="publicTitle">
        <img src="../../assets/image/icon-sbmxtgl.png" alt="" />
        <i>设备模型通过率</i>
      </p>
      <div class="horLine mt20"></div>
      <div class="publicChart w100">
        <FunnelChart ref="FunnelChart"></FunnelChart>
      </div>
    </div>
  </div>
</template>

<script>
import RingChart from '@/components/echarts/ringChart.vue'
import FunnelChart from '@/components/echarts/funnelChart.vue'
import { deviceCountVoltage } from '../../http/api'

export default {
  name: '',
  components: {
    FunnelChart,
    RingChart
  },
  data() {
    return {}
  },
  computed: {},
  watch: {},
  mounted() {
    window.onresize = e => {
      this.$refs.FunnelChart.chart.resize()
    }
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.divitem {
  width: calc(50% - 10px);
}
</style>
