<template>
  <div id="myUpload" class="bgfff br10 padd20">
    <div class="bottomHeader">
      <ShareForm ref="ShareForm" :propsForm="propsForm" @change="shareFormChange"></ShareForm>
    </div>
    <div class="tableClass56">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData" style="width: 100%">
          <el-table-column :width="$ModelGF.selfAdaption(55)" align="center" show-overflow-tooltip label="序号" type="index" sortable="custom"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="name" label="模型名称"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_num" label="设备型号"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_voltage" label="电压等级"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_company" label="生产厂商"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="site_name" label="所属站点"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_type_name" label="分类"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip label="模型用途">
            <template slot-scope="scope">
              <span>
                {{ getfileType(scope.row.file_type) }}
              </span>
            </template>
          </el-table-column>
          <el-table-column align="center" show-overflow-tooltip label="模型类别">
            <template slot-scope="scope">
              <span>
                {{ scope.row.all_sites == 2 ? '全站模型' : '单体模型' }}
              </span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="状态">
            <template slot-scope="scope">
              <span @click="statusHandler(scope.row)">{{ getTextByStatus(scope.row.status) }}</span>
            </template>
          </el-table-column>
          <el-table-column :width="$ModelGF.selfAdaption(200)" align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation">
                <span :class="scope.row.status < 6 ? 'isdisabled' : ''" @click="pushHandlerBtn('模型详情', scope.row, scope.row.status < 6)"> 预览 </span>|<span
                  :class="scope.row.status != 1 && scope.row.status != 2 && scope.row.status != 3 ? 'isdisabled' : ''"
                  @click="pushHandlerBtn('修改模型', scope.row, scope.row.status != 1 && scope.row.status != 2 && scope.row.status != 3)"
                  >修改</span
                >|<span
                  :class="scope.row.status == 4 || scope.row.status == 5 || scope.row.status == 6 ? 'isdisabled' : ''"
                  @click="deleteHandler(scope.row, scope.row.status == 4 || scope.row.status == 5 || scope.row.status == 6)"
                  >删除</span
                >
              </div>
            </template>
          </el-table-column>
        </Table>
      </div>

      <div class="rightList_main_pagination">
        <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size="pageSize" :current-page="currentPage" :total="total"> </el-pagination>
        <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
      </div>
    </div>

    <el-dialog lock-scroll title="检验失败" :visible.sync="visible" width="30%" top="25vh">
      <div class="fileSuccess fileError">
        <i class="el-icon-error"></i>
        <div>
          <p class="a">失败原因</p>
          <p>失败时间</p>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="visible = false" type="primary">确定</el-button>
      </span>
    </el-dialog>

    <el-dialog title="模型信息修改" top="5%" width="30%" lock-scroll :visible.sync="updateVisible">
      <UpdateModelInfo category="isEquip" @updateHandler="updateHandler"></UpdateModelInfo>
    </el-dialog>
  </div>
</template>

<script>
import { getGroupsHandler } from '@/utils/shUtils.js'
import { myUploadlist, updateModel } from '@/http/api'
import UpdateModelInfo from '../resourceManage/updateModelInfo.vue'
export default {
  name: 'MyUpload',
  components: {
    UpdateModelInfo
    // ShareHeader,
    // SearchInput
  },
  data() {
    return {
      updateVisible: false,
      formData: {},
      tableData: [],
      indeterminate: false,
      visible: false,
      dropdownList: [],
      total: 0,
      errorData: {},
      selectVal: 1,
      checkboxVal: false,
      //       status 必填字段 -1=删除 1= //待校验 2 //校验失败 3 比对失败 5 待修正
      // 6 修正中 7 待待发布 8 已发布
      statusList: [
        {
          label: '待校验',
          value: 1
        },
        {
          label: '校验失败',
          value: 2
        },
        {
          label: '待比对',
          value: 4
        },
        {
          label: '比对失败',
          value: 3
        },
        {
          label: '待修正',
          value: 5
        },
        {
          label: '修正中',
          value: 6
        },
        {
          label: '待发布',
          value: 7
        },
        {
          label: '已发布',
          value: 8
        }
      ],
      userID: 1000,
      pageSize: 20,
      currentPage: 1,
      propsForm: {
        site_name: '',
        device_type: '',
        device_voltage: '',
        // file_type: '',
        status: ''
      }
    }
  },
  computed: {},
  //   watch: {
  //     form: {
  //       handler(newval) {
  //         this.myUploadlistHandler()
  //       },
  //       deep: true
  //     }
  //   },
  created() {
    getGroupsHandler().then(res => {
      this.fileTypeList = res.fileTypeList
    })
  },
  mounted() {
    this.table_ref = this.$refs.tableRef.$refs.table
    this.myUploadlistHandler()
  },
  methods: {
    updateHandler() {},
    shareFormChange(val) {
      this.formData = val
      this.myUploadlistHandler()
    },
    getfileType(file_type) {
      let par = null
      this.fileTypeList.forEach(item => {
        if (item.id == file_type) par = item.name
        if (par == '默认') par = 'FBX'
      })
      return par
    },
    pushHandlerBtn(name, params, nopush) {
      if (nopush) {
        return
      } else {
        this.updateVisible = true
      }

      // if (params) {
      //     pushHandler(name, this, {
      //       id: params.model_id,
      //       status: params.status,
      //       file_type: params.file_type
      //     })
      //   } else {
      //     pushHandler(name, this)
      //   }
    },
    deleteHandler(row, nodel) {
      if (nodel) return
      this.delmyUploadlistHandler(row)
    },
    getTextByStatus(val) {
      let label = ''
      this.statusList.forEach(item => {
        if (item.value == val) {
          label = item.label
        }
      })
      return label
    },
    delmyUploadlistHandler(row) {
      let params = {
        id: row.model_id,
        status: -1 // 状态
      }
      updateModel(params).then(res => {
        if (res.code == 0) {
          this.$message.success('删除成功')
          this.myUploadlistHandler()
        } else {
          this.$message.error('删除失败')
        }
      })
    },
    myUploadlistHandler() {
      this.tableData = []
      let params = {
        page: this.currentPage,
        page_size: this.pageSize,
        uid: this.userID
      }
      Object.assign(params, this.formData)
      myUploadlist(params).then(res => {
        this.tableData = res.list ? res.list : []
        this.total = res.pager.total_rows
      })
    },
    currentChange(currentPage) {
      this.currentPage = currentPage
      this.myUploadlistHandler()
    },
    statusHandler(row) {
      switch (row.status) {
        case 2:
          this.checkError(row)
          break

        default:
          break
      }
    },
    checkError(row) {
      this.visible = true
      this.errorData = row
    }
  }
}
</script>

<style lang="less">
#myUpload {
  width: 100%;
  height: 100%;
  //   padding: 20px;
  box-sizing: border-box;
  .smallButton {
    height: 36px;
    padding: 0 10px;
    line-height: 36px;
  }
  .searchBtn {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 5px;
  }
  .centerBtn {
    top: calc(50% - 8px);
  }
  //   .tableClass {
  //     width: 100%;
  //     height: calc(100% - 120px);
  //     // .el-table__body {
  //     //   width: 1528px !important;
  //     // }
  //     // .el-table__fixed {
  //     //   width: 365px !important;
  //     // }
  //     // .el-table__fixed-right {
  //     //   width: 280px !important;
  //     // }
  //   }

  .rightList_main_pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    .info {
      margin: 0 20px;
    }
  }
  .isdisabled {
    color: rgb(144, 147, 153);
    cursor: not-allowed;
  }
  .fileSuccess {
    display: flex;
    align-items: center;
    background: rgb(240, 249, 235);
    padding: 10px;
    i {
      font-size: 30px;
      color: var(--shareColor);
      margin: 0 10px;
    }
    p {
      font-size: 14px;
      color: var(--shareColor);
    }
    .a {
      font-size: 16px;

      font-weight: bold;
    }
  }
  .fileError {
    i {
      color: red;
    }
  }
}
.dropdownCustom {
  left: 440px !important;
  top: 360px !important;
}
</style>
