<template>
  <div class="wh100">
    <div class="threeWrapClass wh100">
      <div id="MainRoot" class="wh100 relative">
        <!-- <ThreeView class="absolute wh100" :sceneConfig="sceneConfig" ref="WebGlView"></ThreeView> -->
        <div class="topTabWrap absolute w100 flex flex-jc flex-ac">
          <div class="shareTab flex">
            <div :class="{ shareTabActive: item.id == topTabIndex }" v-for="item in topTabData" :key="item.id" @click="shareTabHandler(item, index)">{{ item.name }}</div>
          </div>
        </div>
        <div class="leftTabWrap absolute h100 flex flex-jc flex-ac">
          <div class="leftTab flex flex-column flex-ac">
            <div class="flex flex-column flex-ac relative pointer" :class="{ leftTabActive: item.isCheck }" v-for="item in leftTabData" :key="item.id" @click="leftTabHandler(item)">
              <div class="imgWH_24">
                <img class="wh100 mr10" :src="item.icon" alt="" />
              </div>
              <span class="F14">{{ item.name }}</span>
              <div v-show="item.name == '点云透明' && item.isCheck" class="absolute dytm flex flex-ac">
                <el-slider class="customSlider" v-model="dytmd" :show-tooltip="false" :step="10"> </el-slider>
                <span>{{ dytmd }}%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="botTabWrap absolute w100 flex flex-jc flex-ac">
          <div class="shareTab flex">
            <div class="flex flex-ac" :class="{ leftTabActive: item.id == leftTabIndex }" v-for="item in botTabData" :key="item.id" @click="shareTabHandler(item, index)">
              <img class="imgWH_24 mr10" :src="item.icon" alt="" />
              <span class="F14">{{ item.name }}</span>
            </div>
          </div>
        </div>

        <div class="rightWrap absolute h100 flex flex-column flex-ac flex-jc">
          <div class="rightTop w100">
            <p class="rightTitle">
              <img class="mr10" src="../../assets/image/icon_dxsx.png" alt="" />
              <span>对象属性</span>
            </p>
            <div class="rightTopCon flex flex-column flex-ja">
              <p>模型名称：变压器</p>
              <p>所属站点：成都1站</p>
              <p>电压等级：220KV</p>
              <p>生产厂商：成都</p>
              <p>所属地区：成都</p>
              <p>设备型号：SN-1234</p>
              <p>设备分类：1</p>
              <p>上传版本：20220111</p>
            </div>
          </div>
          <div class="rightbottom w100 mt20">
            <p class="rightTitle">
              <img class="mr10" src="../../assets/image/icon_dxsx.png" alt="" />
              <span>部件信息</span>
            </p>
            <div class="rightTopCon paddb20">
              <div class="tableQP">
                <el-table
                  class="w100"
                  height="100%"
                  fit
                  :header-cell-style="{ background: '#666', border: 0 }"
                  :header-row-style="{ background: '#666' }"
                  :data="tableData"
                  :row-class-name="tableRowClassName"
                >
                  <el-table-column align="center" type="index" show-overflow-tooltip label="序号"></el-table-column>
                  <el-table-column align="center" show-overflow-tooltip label="模型名称"></el-table-column>
                  <el-table-column align="center" show-overflow-tooltip label="三角面"></el-table-column>
                  <el-table-column align="center" show-overflow-tooltip label="长/宽/高(m)"></el-table-column>
                </el-table>
              </div>
              <div class="rightList_main_pagination">
                <el-pagination :pager-count="3" @current-change="currentChange" layout="prev, pager, next" :page-size.sync="pageSize" :current-page.sync="currentPage" :total="total"> </el-pagination>
                <span class="totalcla">共{{ total }}条</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ThreeView from '@/components/Web3D/ThreeView'
import { auditStanDetail, modeldetails } from '@/http/api'
import { getGroupsHandler } from '../../utils/shUtils'
export default {
  name: 'ModelPreview',
  components: {
    ThreeView
  },
  data() {
    return {
      sceneConfig: {
        url: '/api/v1/getmodeldata',
        isDebug: true
      },
      row: {},
      tableData: [1, 2, 9, 3, 4, 5, 6, 7, 8],
      total: 900,
      pageSize: 20,
      currentPage: 1,
      fileTypeText: [],
      fileTypeListh: [],
      breadcrumbData: '',
      bData: [],
      list: [],
      strData: '',
      //   ------------
      topTabData: [
        { id: 9, name: '默认' },
        { id: 1, name: '数字化移交' },
        { id: 2, name: '精细化模型' },
        { id: 3, name: '实景三维点云' }
      ],
      botTabData: [
        { id: 9, name: '移动', icon: require('../../assets/image/icon_yd.png') },
        { id: 1, name: '复位', icon: require('../../assets/image/icon_fw.png') },
        { id: 2, name: '隐藏', icon: require('../../assets/image/icon_yc.png') },
        { id: 3, name: '显隐', icon: require('../../assets/image/icon_xy.png') },
        { id: 3, name: '全屏', icon: require('../../assets/image/icon_qp.png') },
        { id: 3, name: '透明', icon: require('../../assets/image/icon_tm.png') }
      ],
      leftTabData: [
        { id: 9, isCheck: false, name: '背景', icon: require('../../assets/image/icon_yd.png') },
        { id: 1, isCheck: false, name: '测距', icon: require('../../assets/image/icon_fw.png') },
        { id: 2, isCheck: false, name: '位置标签', icon: require('../../assets/image/icon_yc.png') },
        { id: 3, isCheck: false, name: '点云透明', icon: require('../../assets/image/icon_xy.png') },
        { id: 3, isCheck: false, name: '拆分/复位', icon: require('../../assets/image/icon_qp.png') },
        { id: 3, isCheck: false, name: '旋转/取消', icon: require('../../assets/image/icon_tm.png') }
      ],
      topTabIndex: 9,
      leftTabIndex: 0,
      dytmd: 0
    }
  },
  computed: {},
  watch: {},
  created() {
    // getGroupsHandler().then(res => {})
    // this.row = this.$route.query.query ? JSON.parse(this.$route.query.query) : {}
    // this.bData = [this.row.name, '模型查看']
    // let modelBaseGroups = JSON.parse(sessionStorage.getItem('MODELBASEGROUPS'))
    // let arr = modelBaseGroups.fileTypeList
    // arr.forEach(item => {
    //   if (item.name == '默认') {
    //     item.name = '优化格式'
    //   }
    // })
    // this.fileTypeText = arr
  },
  mounted() {
    // if (this.row.isVerHistory) {
    //   let str = this.row.model_id + '|' + this.row.vid
    //   this.$refs.WebGlView.LoadMesh(str)
    // } else if (this.row.id) {
    //   this.modeldetailsHandler()
    //   //   this.$refs.WebGlView.LoadMesh(
    //   //     "3546a4a1-62a6-41e4-8eec-7965e34f2d15|6168"
    //   //   );
    // }
  },
  beforeDestroy() {
    this.$refs.WebGlView.ClearScene()
  },
  methods: {
    currentChange(val) {
      this.currentPage = val
    },
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex % 2 == 0) {
        return 'tablec1'
      } else {
        return 'tablec2'
      }
    },
    leftTabHandler(item) {
      item.isCheck = !item.isCheck
    },
    shareTabHandler(item) {
      this.topTabIndex = item.id
    },
    tabHandler(params) {
      //   this.$refs.WebGlView.ClearScene();
      console.log(this.strData)
      if (this.strData && this.strData != '') {
        this.$refs.WebGlView.RemoveMesh(this.strData)
      }
      this.list.forEach(item => {
        let str = item.model_id + '|' + item.id
        if (params.id == item.file_type) {
          this.strData = str
          this.$refs.WebGlView.LoadMesh(str)
        } else {
          //   this.$refs.WebGlView.RemoveMesh(item.file_path);
        }
      })
    },
    auditStanDetailHandler() {
      auditStanDetail({ id: this.row.id, status: 8 }).then(res => {})
    },
    modeldetailsHandler() {
      modeldetails({ id: this.row.id, status: this.row.status }).then(res => {
        let data = res.data ? res.data.ModelVersionList : []
        this.$nextTick(() => {
          let arr = []
          this.fileTypeText.forEach(item => {
            data.forEach((m, n) => {
              if (item.id == m.file_type) {
                arr.push(item)
              }
            })
            if (this.row.file_type && item.id == this.row.file_type) {
              this.$refs.taBar.setIndex(item)
            }
          })
          if (!this.row.file_type) {
            this.$refs.taBar.setIndex(arr[0])
          }
          this.list = data
          this.fileTypeListh = arr
          data.forEach(it => {
            if (it.file_type == this.row.file_type) {
              let str = it.model_id + '|' + it.id
              this.strData = str
              this.$refs.WebGlView.LoadMesh(str)
            }
          })
        })
      })
    },
    API_Function: function (type) {
      switch (type) {
        case 0: // 加载模型
          this.$refs.WebGlView.LoadMesh('480a9e78-09d9-4ef8-b8c2-388246312b58|4803')
          break

        case 1: // 添加节点
          this.$refs.WebGlView.AddMesh('480a9e78-09d9-4ef8-b8c2-388246312b58|4803', '/0/1/2', '4d1be200-ddf7-407d-abf4-6f6b82a94385|5947')
          break

        case 3: // 清除场景
          this.$refs.WebGlView.ClearScene()
          break

        case 4: // 卸载模型
          this.$refs.WebGlView.RemoveMesh('480a9e78-09d9-4ef8-b8c2-388246312b58|4803')
          break

        case 5: // 卸载节点
          this.$refs.WebGlView.RemoveNodeList('480a9e78-09d9-4ef8-b8c2-388246312b58|4803', ['/0/1/2/3/13/14/15'])
          break

        default:
          break
      }
    }
  }
}
</script>

<style lang="less" scoped>
.tabBar {
  margin: 0 0 20px 0;
  justify-content: center;
}
#MainRoot {
  background: #292929;
  .shareTab {
    // top: 20px;
    // height: 100%;
    font-size: 14px;
    color: #fff;

    div {
      padding: 0 20px;
      line-height: 40px;
      background: #484848;
      cursor: pointer;
      border-left: 1px solid #686869;
    }
    > div:first-child {
      padding: 0 30px;
      border-radius: 25px 0 0 25px;
      border-left: 0;
    }
    > div:last-child {
      border-radius: 0 25px 25px 0;
    }
    div:hover,
    .shareTabActive {
      background: var(--shareColor);
    }
  }
  .topTabWrap {
    top: 20px;
    height: 40px;
  }
  .leftTabWrap {
    width: 65px;
    left: 20px;
    color: #fff;
    .leftTab {
      width: 100%;
      > div {
        width: 100%;
        margin: 10px 0;
      }
      .F14 {
        white-space: nowrap;
      }
      .imgWH_24 {
        width: 49px;
        height: 49px;
        padding: 15px;
        border-radius: 50%;
        background: #666666;
        margin-bottom: 5px;
      }
      .dytm {
        width: 200px;
        top: 10%;
        right: -210px;
        color: var(--shareColor);
        font-size: 12px;
        .customSlider {
          width: 150px;
          margin-right: 10px;
          /deep/.el-slider__bar {
            background: var(--shareColor);
          }
          /deep/.el-slider__button {
            border: 0;
          }
        }
      }
    }
    .leftTabActive {
      color: var(--shareColor);
      .imgWH_24 {
        background: var(--shareColor);
      }
    }
  }
  .botTabWrap {
    bottom: 20px;
    height: 40px;
  }
  .rightWrap {
    width: 360px;
    right: 20px;
    .rightTop {
      height: 35%;
      border-radius: 5px;
      background: #666666;
      color: rgba(255, 255, 255, 0.5);
      .rightTopCon {
        padding: 20px 20px 20px 30px;
      }
    }
    .rightbottom {
      height: 60%;
      border-radius: 5px;
      background: #666666;
      color: rgba(255, 255, 255, 0.5);
      .rightTopCon {
        th,
        tr {
          text-align: center;
        }
      }
    }
    .rightTitle {
      color: #fff;
      font-size: 14px;
      padding: 10px 20px;
      border-bottom: 1px solid rgba(238, 238, 238, 0.2);
      img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
    }
    .rightTopCon {
      height: calc(100% - 40px);
    }
  }
}
.threeWrapClass {
//   border: 1px solid var(--borderColor); /*no*/
  .tableC {
    position: absolute;
    top: 0;
    right: 0;
    width: 460px;
  }
}
.el-table {
  background: transparent;
  /deep/thead {
    .el-table__cell {
      background: #666 !important;
    }
  }
}
.el-table::before {
  background-color: transparent;
}
.el-pagination .btn-next,
.el-pagination .btn-prev {
  background: transparent !important;
}
.totalcla {
  margin: 0 10px;
}
/deep/.el-pager li {
  background: transparent !important;
  color: #fff;
}
/deep/.el-pager li.active {
  color: var(--shareColor);
}
.el-pagination /deep/ .btn-next,
.el-pagination /deep/ .btn-prev {
  background: transparent;
  color: #fff;
}
</style>
<style lang="less">
.tablec1 {
  background: rgba(51, 51, 51, 0.3) !important;
  color: #fff !important;
  td.el-table__cell {
    border: 0 !important;
  }
}

.tablec2 {
  background: #666 !important;
  color: #fff !important;
  td.el-table__cell {
    border: 0 !important;
  }
}
.tablec1:hover > td.el-table__cell {
  background: rgba(51, 51, 51, 0.3) !important;
}
.tablec2:hover > td.el-table__cell {
  background: #666 !important;
}
</style>
