<template>
  <div id="modelupload" class="wh100 oauto bgfff br10 padd20">
    <div class="wh100" v-show="!isAllowNext">
      <div class="w100 flex flex-jc">
        <TabBar class="tabBar" ref="taBar" :data="tabData" @change="tabHandler"></TabBar>
      </div>
      <div class="formWrap">
        <UploadForm :formData="formData" :category="all_sites == 1 ? 'isEquip' : 'isAll'" @formChange="formChange"></UploadForm>
      </div>
    </div>
    <div class="wh100" v-if="isAllowNext">
      <div class="uploadItemClass">
        <p>
          <span class="formlabel F14"><i class="star">*</i>文件上传:</span>
          <span class="waringClass"> 数字化移交/精细化模型/实景三维点云必须都上传才能发布 </span>
        </p>
        <div class="uploadItemClass_div">
          <Upload
            ref="upload_dianyun"
            :all_sites="all_sites"
            :model_id="uploadModeId"
            fileTypeName="实景三维点云"
            fileTypes="las,laz,pcl,e57l"
            @success="successHandler($event, 0)"
            @error="errorHandler($event, 0)"
            @process="processHandler"
            @processMd5="processHandler($event, 'md5')"
            :isAllowUpload="isAllowUpload"
          ></Upload>
          <Upload
            ref="upload_jingxihua"
            :all_sites="all_sites"
            :model_id="uploadModeId"
            fileTypeName="精细化模型"
            fileTypes="max"
            @process="processHandler"
            @processMd5="processHandler($event, 'md5')"
            @success="successHandler($event, 1)"
            @error="errorHandler($event, 1)"
            :isAllowUpload="isAllowUpload"
          ></Upload>
          <Upload
            ref="upload_shuzihua"
            :all_sites="all_sites"
            :model_id="uploadModeId"
            fileTypeName="数字化移交"
            @process="processHandler"
            @processMd5="processHandler($event, 'md5')"
            fileTypes="gim"
            @success="successHandler($event, 2)"
            @error="errorHandler($event, 2)"
            :isAllowUpload="isAllowUpload"
          ></Upload>
        </div>
        <div class="mt20">
          <el-button class="bgButton mr20" @click="backHandler($event, 'next')">继续上传</el-button>
          <el-button @click="backHandler">返回</el-button>
        </div>
      </div>
    </div>
    <el-dialog class="ediatt" lock-scroll title="模型上传" :visible.sync="visible" @close="closeHandler" width="30%" top="25vh">
      <div class="fileSuccess" v-if="fileStatus == 'success'">
        <i class="el-icon-success"></i>
        <div>
          <p class="a">上传成功</p>
          <p>进入审核阶段，请注意查收审核邮件！</p>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button class="bgButton" @click="visible = false" type="primary">{{ okBtnText }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Upload from '@/components/other/upload.vue'
import UploadForm from './components/uploadForm'
import { createEquipModel, checkUpload, modeldetails, createAllModel } from '@/http/api'
// import { getGroupsHandler } from '../../utils/shUtils'
export default {
  name: 'Modelupload',
  components: {
    Upload,
    UploadForm
  },
  data() {
    return {
      isAllowNext: false,
      visible: false,
      tabData: [
        { id: 2, name: '全站模型' },
        { id: 1, name: '设备模型' }
      ],
      fileStatus: '',
      okBtnText: '确定',
      fileSuccessList: ['', '', ''],
      uploadModeId: null,
      //   isDisableduploadArr: [false, false, false],
      //   isDisableduploadR: true,
      all_sites: 2,
      isAllowUpload: false,
      upload_dianyun: null,
      upload_jingxihua: null,
      upload_shuzihua: null,
      userId: 1000,
      fileTypeList: [],
      disaBack: false,
      formData: { name: '', area: '', site_name: '', voltage: '', describe: '' }
    }
  },
  computed: {},
  watch: {},
  created() {},
  mounted() {
    this.$refs.taBar.setIndex(this.tabData[0])
  },
  destroyed() {
    if (this.upload_dianyun) {
      this.upload_dianyun.cancel()
    }
    if (this.upload_jingxihua) {
      this.upload_jingxihua.cancel()
    }
    if (this.upload_shuzihua) {
      this.upload_shuzihua.cancel()
    }
  },
  methods: {
    formChange(val) {
      if (this.all_sites == 1) {
        //   设备模型
        this.createEquipModelHandler(val)
      }
      //   创建全站
      if (this.all_sites == 2) {
        this.createAllModelHandler(val)
      }
    },
    processHandler(val, type) {
      if (type == 'md5' || (parseInt(val) >= 0 && parseInt(val) < 99)) {
        this.disaBack = true
      }
    },
    createAllModelHandler(value) {
      let obj = {
        // all_sites: this.all_sites,
        // area: this.form.area,
        user_id: this.$ModelGF.storage.get('USERINFO') || 1000,
        status: 2
      }
      Object.assign(obj, value)
      createAllModel(obj).then(res => {
        if (res.data) {
          this.$message.success('模型信息保存成功，请上传文件')
          this.uploadModeId = res.model_id
          this.isAllowUpload = true
          this.isAllowNext = true
          this.$nextTick(() => {
            this.upload_dianyun = this.$refs.upload_dianyun.$refs.uploaderRef.uploader
            this.upload_jingxihua = this.$refs.upload_dianyun.$refs.uploaderRef.uploader
            this.upload_shuzihua = this.$refs.upload_dianyun.$refs.uploaderRef.uploader
          })
        } else {
          this.$message.error('模型信息保存失败')
        }
      })
    },
    createEquipModelHandler(value) {
      let obj = {
        // all_sites: this.all_sites,
        // area: this.form.area,
        uid: this.$ModelGF.storage.get('USERINFO') || 1000,
        status: 2,
        form_type: 1
      }
      Object.assign(obj, value)
      createEquipModel(obj).then(res => {
        if (res.model_id) {
          this.$message.success('模型信息保存成功，请上传文件')
          this.uploadModeId = res.model_id
          this.isAllowUpload = true
          this.isAllowNext = true
          this.$nextTick(() => {
            this.upload_dianyun = this.$refs.upload_dianyun.$refs.uploaderRef.uploader
            this.upload_jingxihua = this.$refs.upload_dianyun.$refs.uploaderRef.uploader
            this.upload_shuzihua = this.$refs.upload_dianyun.$refs.uploaderRef.uploader
          })
        } else {
          this.$message.error('模型信息保存失败')
        }
      })
    },
    // checkUploadHandler() {
    //   let params = {
    //     site_name: this.form.site_name, // 站点名称
    //     device_num: this.form.device_num, // 设备型号
    //     device_company: this.form.device_company, // 厂商
    //     all_sites: this.all_sites, // 模型的分类 1- 单体模型 2-全站模型
    //     device_voltage: this.form.device_voltage // 设备电压等级
    //   }
    //   checkUpload(params).then(res => {
    //     if (!res.data || res.data == '') {
    //       this.isDisableduploadR = true
    //       this.uploadModeId = ''
    //       this.form.device_space = ''
    //       this.form.device_type = ''
    //       this.form.name = ''
    //       this.form.describe = ''
    //       this.form.voltage = ''
    //       this.$nextTick(() => {
    //         this.$refs.form.clearValidate()
    //       })
    //     } else {
    //       this.modeldetailsHandler(res.data)
    //     }
    //   })
    // },
    closeHandler() {
      this.fileStatus = ''
      this.okBtnText = '确 定'
    },
    // continueUpload() {
    //   if (this.disaBack) {
    //     this.$confirm('文件上传中,此操作将取消当前正在上传的文件！', '提示', {
    //       confirmButtonText: '确定',
    //       cancelButtonText: '取消',
    //       type: 'warning'
    //     })
    //       .then(() => {
    //         this.upload_dianyun.cancel()
    //         this.upload_jingxihua.cancel()
    //         this.upload_shuzihua.cancel()
    //         this.$message({
    //           type: 'success',
    //           message: '已取消上传文件!'
    //         })
    //         this.csd()
    //       })
    //       .catch(() => {})
    //   } else {
    //     // this.csd()
    //     this.isAllowNext = false
    //   }
    // },
    backHandler(e, isNext) {
      if (this.disaBack) {
        this.$confirm('文件上传中,此操作将取消当前正在上传的文件！', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        })
          .then(() => {
            this.upload_dianyun.cancel()
            this.upload_jingxihua.cancel()
            this.upload_shuzihua.cancel()
            this.upload_dianyun = null
            this.upload_jingxihua = null
            this.upload_shuzihua = null
            this.$message({
              type: 'success',
              message: '已取消上传文件!'
            })
            if (isNext) {
              this.isAllowNext = false
              this.uploadModeId = null
            } else {
              this.$router.back(-1)
            }
          })
          .catch(() => {})
      } else {
        if (isNext) {
          this.isAllowNext = false
          this.uploadModeId = null
        } else {
          this.$router.back(-1)
        }
      }
    },
    successHandler(params, type) {
      let { file, response } = { ...params }
      if (response) {
        this.fileSuccessList[type] = JSON.parse(response)
      }
      this.disaBack = false
      this.visible = true
      this.fileStatus = 'success'
    },
    errorHandler(params, type) {
      this.disaBack = false
    },
    tabHandler(params) {
      console.log(params)
      let index = params.id
      // 2全站模型  1设备模型
      if (params.id == 2) {
        this.formData = { name: '', area: '', site_name: '', voltage: '', describe: '' }
      } else {
        this.formData = { area: '', site_name: '', device_num: '', device_voltage: '', device_company: '', name: '', voltage: '', device_space: '', describe: '', device_type: '' }
      }
      //   this.tabIndex = index
      this.all_sites = index
      //   this.clearData()
    }
  }
}
</script>

<style lang="less" scoped>
#modelupload {
  .tabBar {
    margin: 0 0 20px 0;
    justify-content: center;
  }
  .uploadItemClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
      margin: 10px 0;
      .formlabel {
        margin-right: 100px;
      }
    }
  }
  .waringClass {
    color: #666;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 200px;
  }
}
.formWrap {
  height: calc(100% - 56px);
}
</style>
<style lang="less">
.ediatt {
  .el-dialog__body {
    padding: 20px 20px 10px 20px !important;
    .fileSuccess {
      display: flex;
      align-items: center;
      background: rgb(240, 249, 235);
      padding: 10px;
      i {
        font-size: 30px;
        color: var(--shareColor);
        margin: 0 10px;
      }
      p {
        font-size: 14px;
        color: var(--shareColor);
      }
      .a {
        font-size: 16px;

        font-weight: bold;
      }
    }
  }
}
</style>
