<template>
  <div class="wh100 paddl20 paddr20 paddb20">
    <div class="topTab flex flex-jc F16">
      <div v-for="item in file_type_list" :class="{ activeClass: activeIndex == item.id }" @click="clickHandler(item.id)" :key="item.id">
        {{ item.name }}
      </div>
    </div>
    <div class="centerMain flex flex-jb mt20">
      <div class="centerMain_left">
        <div class="toptitle">{{ data.name ? data.name : '' }}</div>
        <div class="centercc">
          <div>
            上传版本：<span>{{ data.SceneInfo ? data.SceneInfo.upload_time : data.upload_time || '-' }}</span>
          </div>
          <div>
            审核结果：<span>{{ getname(data.SceneInfo ? data.SceneInfo.status : data.status) }}</span>
          </div>
          <div>报告时间：<span>-</span></div>
          <div v-if="category == 'isAll'">
            所属地区：<span>{{ data.SceneInfo ? data.SceneInfo.area : data.area || '-' }}</span>
          </div>
          <div v-if="category == 'isEquip'">
            所属站点：<span>{{ data.device_num ? data.device_num : '-' }}</span>
          </div>
          <div>
            电压等级：<span>{{ data.SceneInfo ? data.SceneInfo.voltage : data.voltage || '-' }}</span>
          </div>
          <div v-if="category == 'isEquip'">
            生产厂商：<span>{{ data.device_company ? data.device_company : '-' }}</span>
          </div>
          <div v-if="category == 'isAll'">
            设备模型共计：<span>{{ data.device_sum }}个</span>
          </div>
          <div v-if="category == 'isAll'">
            通过率：<span>{{ data.pass_rate }}%</span>
          </div>
          <div v-if="category == 'isAll'">
            通过审核：<span>{{ data.device_release_num }}个</span>
          </div>
          <div v-if="category == 'isAll'">
            未通过审核：<span>{{ data.device_sum - data.device_release_num }}个</span>
          </div>
        </div>
        <div v-if="category == 'isEquip'">
          <div class="horLine"></div>
          <div class="mt20">
            <span class="formlabel F16 FB mr15"><i class="star">*</i>审核标准</span>
            <el-select clearable v-model="standard" placeholder="请选择">
              <el-option v-for="item in typeList" :label="item.name" :value="item.id" :key="item.id"></el-option>
            </el-select>
          </div>
        </div>
      </div>
      <div class="imgWHa">
        <img class="imgWHa" v-show="dataFileInfo.thumbnail_url == 'none'" src="@/assets/image/max.jpg" alt="" />
        <el-image class="imgWHa" v-show="dataFileInfo.thumbnail_url !== 'none'" :src="dataFileInfo.thumbnail_url" style="cursor: pointer">
          <div slot="error" class="image-slot">
            <i class="el-icon-picture-outline"></i>
            <span>暂无图片</span>
          </div>
        </el-image>
      </div>
    </div>

    <div class="bottomMain mt20">
      <div class="toptitle">详细信息</div>
      <div v-if="category == 'isAll'" class="paddt20">
        <div class="tableClass56">
          <div class="tableQP">
            <Table ref="tableRef" :data="tableData">
              <el-table-column :width="$ModelGF.selfAdaption(55)" align="center" type="index" show-overflow-tooltip label="序号"></el-table-column>
              <el-table-column align="center" show-overflow-tooltip prop="name" label="模型名称"> </el-table-column>
              <el-table-column align="center" show-overflow-tooltip prop="device_num" label="设备型号"> </el-table-column>
              <el-table-column align="center" show-overflow-tooltip prop="device_voltage" label="电压等级"></el-table-column>
              <el-table-column align="center" show-overflow-tooltip prop="device_company" label="生产厂商"></el-table-column>
              <el-table-column align="center" show-overflow-tooltip prop="device_type_name" label="设备分类"></el-table-column>
              <el-table-column align="center" show-overflow-tooltip prop="create_time" label="创建时间"> </el-table-column>
              <el-table-column align="center" label="操作">
                <template slot-scope="scope">
                  <div class="operation"><model-preview-btn :modelId="scope.row">预览</model-preview-btn>|<span>通过</span></div>
                </template>
              </el-table-column>
            </Table>
          </div>
          <div class="rightList_main_pagination">
            <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size.sync="pageSize" :current-page.sync="currentPage" :total="total"> </el-pagination>
            <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
          </div>
        </div>
      </div>
      <div v-if="category == 'isEquip'" class="resultDiv padd20 oauto">
        <div v-if="detailData.audit_json_msg">
          <p
            class="mb10"
            v-for="(p, t) in detailData.audit_json_msg.data"
            :key="t + 909"
            :style="{
              color: p.result == 'ok' ? '#00A187' : '#FF715E'
            }"
          >
            <span v-show="p.item" style="color: #333">{{ p.item }}:</span>
            <span v-show="p.result">{{ p.result }}</span>
            <span v-show="p.result && p.result !== 'ok'">原因：{{ p.descript }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="paddt20" style="text-align: center">
      <el-button @click="btnHandler" type="primary">预 览</el-button>
      <el-button @click="btnHandler('pass')" class="bgButton">通 过</el-button>
      <el-button @click="btnHandler" type="danger">拒 绝</el-button>
      <el-button @click="btnHandler('back')">返 回</el-button>
    </div>
  </div>
</template>

<script>
import { getAuditStand, updateDeviceCreate } from '@/http/api'
import { statusHandler } from '../../../utils/shUtils'
export default {
  name: '',
  props: {
    category: {
      type: String,
      default: () => {
        return 'isEquip'
      }
    },
    data: {
      type: Object
    }
  },
  data() {
    return {
      file_type_list: [
        { id: 1, name: '数字化移交' },
        { id: 2, name: '精细化模型' },
        { id: 3, name: '实景三维点云' }
      ],
      detailData: {},
      centerList: {},
      typeList: [],
      listAll: [],
      tableData: [],
      total: 0,
      pageSize: 20,
      currentPage: 1,
      activeIndex: 1,
      standard: '',
      aduitStandList: {}
    }
  },
  computed: {
    dataFileInfo() {
      let obj = {}
      if (this.category == 'isAll') {
        obj = this.data.SceneInfo.file_id.filter(item => {
          return item.file_type == this.activeIndex
        })
      }
      return obj
    }
  },
  watch: {},
  created() {
    this.getAuditStandHandler()
    console.log(this.data, this.$ModelGF.storage.get('USERINFO'), '-=-=-=-')
  },
  mounted() {
    // this.auditStandardHandler()
  },
  methods: {
    getname(id) {
      return statusHandler.getNameById(id)
    },
    btnHandler(params) {
      if (params == 'pass') {
        if (this.category == 'isEquip') {
          this.updateDeviceCreateHandler()
        }
      }
      this.$emit('bthHandler', params)
    },
    updateDeviceCreateHandler() {
      let params = {
        device_voltage: '',
        device_num: '',
        device_company: '',
        device_type: '',
        desc: '',
        name: '',
        id: ''
      }
      for (const key in params) {
        params[key] = this.data[key]
      }
      params.status = 4
      params.user_id = this.$ModelGF.storage.get('USERINFO') || 1000
      console.log(params, '-=-=-=-')
      updateDeviceCreate(params).then(res => {
        if (res.code == 0) {
          this.$message.success('保存成功')
        }
      })
    },
    currentChange(val) {
      this.currentPage = val
    },
    clickHandler(id) {
      this.activeIndex = id
      this.typeList = this.aduitStandList[id]
    },
    getAuditStandHandler() {
      getAuditStand().then(res => {
        this.aduitStandList = res.list
        this.typeList = res.list['1']
      })
    }
  }
}
</script>

<style lang="less" scoped>
.topTab {
  border-bottom: 1px solid var(--borderColor);
  div {
    padding: 15px 40px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }
  div:hover,
  .activeClass {
    color: #00a187;
    border-bottom: 2px solid #00a187;
  }
}
.toptitle {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  background: rgba(0, 161, 128, 0.1);
  border-radius: 4px 4px 0px 0px;
  padding: 10px 20px;
  height: 45px;
}
.centerMain {
  width: 100%;
  height: 220px;
  .centerMain_left {
    width: calc(100% - 240px);
    height: 100%;
    background: rgba(54, 161, 135, 0.04);

    .centercc {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0 10px 20px;
      font-size: 16px;
      color: #666;
      div {
        width: 33.3%;
        margin: 10px 0;
      }
      span {
        color: #333;
      }
    }
  }
  .imgWHa {
    width: 220px;
    height: 220px;
  }
}
.bottomMain {
  //   background: rgba(54, 161, 135, 0.04);
}
.resultDiv {
  background: rgba(54, 161, 135, 0.04);
  font-size: 16px;
  max-height: 360px;
}
.el-button--danger,
.el-button--danger:hover,
.el-button--danger:focus {
  color: #fff;
  background-color: #ff715e;
  border-color: #ff715e;
}
.el-button--primary,
.el-button--primary:hover,
.el-button--primary:focus {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
</style>
