<template>
  <div class="wh100 flex flex-column bgfff br10 padd20 relative">
    <TabBar class="tabBar tabtoggle" ref="taBar" :index="2" :data="tabData" @change="tabHandler"></TabBar>
    <ShareForm ref="ShareForm" :statusList="statusList" :searchStatus="tabIndex" :propsForm="propsForm" @change="shareFormChange"></ShareForm>
    <div v-if="aginrender" class="w100 flex1">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData" @selectionChange="selectionChange">
          <el-table-column width="55" align="center" type="index" show-overflow-tooltip label="序号"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="name" label="模型名称"> </el-table-column>
          <el-table-column v-if="tabIndex == 1" align="center" show-overflow-tooltip prop="device_num" label="设备型号"> </el-table-column>
          <el-table-column v-if="tabIndex == 2" align="center" show-overflow-tooltip prop="area" label="所属地区"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_voltage" label="电压等级"></el-table-column>
          <el-table-column v-if="tabIndex == 1" align="center" show-overflow-tooltip prop="device_company" label="生产厂商"></el-table-column>
          <el-table-column v-if="tabIndex == 1" align="center" show-overflow-tooltip prop="site_name" label="所属站点"></el-table-column>
          <el-table-column v-if="tabIndex == 1" align="center" show-overflow-tooltip prop="device_type" label="设备分类">
            <template slot-scope="scope">
              <span>{{ getdeviceType(scope.row.device_type) }}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="file_type" label="模型用途"> </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="create_time" label="上传时间"> </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="status" label="状态">
            <template slot-scope="scope">
              <span>{{ getTextByStatus(scope.row.status) }}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation">
                <model-preview-btn :modelId="scope.row">预览</model-preview-btn>
                <span v-if="page == 'SH' && scope.row.status == 2" @click="shbgHandler(scope.row)">| <span>审核报告</span></span
                ><span v-if="page == 'JZ' && scope.row.status == 4" @click="jzbgHandler(scope.row)">| <span>校正报告</span></span>
              </div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div class="botClass">
        <!-- <div>
          <el-checkbox @change="checkboxChange" :indeterminate="indeterminate" class="checkclass" v-model="checkboxVal"></el-checkbox>
          <span class="jyClass" @click="clickHandler">批量定价</span>
        </div> -->
        <div></div>
        <div class="rightList_main_pagination">
          <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size.sync="pageSize" :current-page.sync="currentPage" :total="total"> </el-pagination>
          <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
        </div>
      </div>
    </div>
    <el-dialog title="审核报告" class="detailVisibleClass" top="3%" width="65%" lock-scroll :visible.sync="detailVisible">
      <AuditReport :category="tabIndex == 1 ? 'isEquip' : 'isAll'" :data="currRowInfo" @bthHandler="bthHandler"></AuditReport>
    </el-dialog>
    <el-dialog title="校正报告" class="detailVisibleClass" top="3%" width="65%" lock-scroll :visible.sync="jzVisible">
      <CorrectRobot :category="tabIndex == 1 ? 'isEquip' : 'isAll'" :data="currRowInfo" @bthHandler="jzbthHandler"></CorrectRobot>
    </el-dialog>
  </div>
</template>

<script>
import AuditReport from './auditReport.vue'
import CorrectRobot from './correctReport.vue'
import {
  modelAdminList,
  updateModel,
  getModelList,
  modelIndex,
  // new
  getSHJZlist,
  getFBlist,
  getQZlist,
  getEquipInfo,
  getAuditStand,
  getAllAuditInfo
} from '@/http/api'

import { statusHandler, getGroupsHandler } from '@/utils/shUtils'
import statisticsVue from '../statistics.vue'

export default {
  name: 'WaitingRelease',
  components: {
    AuditReport,
    CorrectRobot
  },
  props: {
    /**
     * SC 上传
     * SH 审核
     * JZ 校正
     * FB 发布
     */
    page: {
      type: String,
      default: () => {
        return 'SC'
      }
    }
  },
  data() {
    return {
      jzVisible: false,
      detailVisible: false,
      aginrender: true,
      checkboxVal: false,
      tableData: [],
      table_ref: null,
      total: 0,
      tabData: [
        { id: 2, name: '全站模型' },
        { id: 1, name: '单体模型' }
      ],
      props: {
        expandTrigger: 'hover',
        children: 'sub_list',
        label: 'name',
        value: 'id',
        emitPath: false,
        checkStrictly: true
      },
      tabIndex: 2,
      indeterminate: false,
      selectTable: [],
      userID: 1000,
      pageSize: 20,
      currentPage: 1,
      inputOptions: [
        {
          value: 1,
          label: '模型'
        }
      ],
      allsPForm: {
        area: '',
        device_voltage: '',
        file_type: '',
        status: this.page == 'SH' ? 2 : this.page == 'JZ' ? 4 : 5
      },
      singPForm: {
        site_name: '',
        device_type: '',
        device_voltage: '',
        file_type: '',
        status: this.page == 'SH' ? 2 : this.page == 'JZ' ? 4 : 5
      },
      propsForm: {},
      formData: {},
      statusList: [],
      device_typeList: [],
      currRowInfo: {}
    }
  },
  computed: {},
  created() {
    getGroupsHandler().then(res => {
      this.getNameFor(res.device_typeList)
    })
    this.propsForm = JSON.parse(JSON.stringify(this.allsPForm))
    this.statusList = statusHandler.getStatusByKey(this.page)
  },
  mounted() {
    this.$refs.taBar.setIndex(this.tabData[0])
    this.tabIndex = this.tabData[0].id
    this.table_ref = this.$refs.tableRef.$refs.table
    window.onresize = e => {
      this.aginrenderHandler()
    }
  },
  beforeDestroy() {
    window.onresize = null
  },
  methods: {
    routerTo(row) {
      return {
        name: 'modelPreview',
        query: { id: row.id }
      }
    },
    getEquipInfoHandler(id) {
      getEquipInfo(id).then(res => {
        this.currRowInfo = res.data
        this.detailVisible = true
      })
    },
    getNameFor(arr) {
      arr.forEach(item => {
        this.device_typeList.push(item)
        if (item.sub_list) {
          this.getNameFor(item.sub_list)
        }
      })
    },
    getdeviceType(id) {
      let str = null
      this.device_typeList.forEach(item => {
        if (item.id == id) {
          str = item.name
        }
      })
      return str
    },
    init() {
      if (this.tabIndex == 1) {
        if (this.page == 'SH' || this.page == 'JZ') {
          this.getSHJZlistHandler()
        }
        if (this.page == 'FB') {
          this.getFBlistHandler()
        }
      }
      if (this.tabIndex == 2) {
        this.getQZlistHandler()
      }
    },

    // 单体  审核校正列表
    getSHJZlistHandler() {
      let params = {
        page: this.currentPage,
        page_size: this.pageSize
        // uid: this.userID
        // all_sites: this.tabIndex
      }
      Object.assign(params, this.formData)
      getSHJZlist(params).then(res => {
        console.log(res, '-==-==-=-=')
        this.tableData = res.list ? res.list : []
        this.total = res.pager.total_rows
      })
    },
    // 单体 发布待发布了列表
    getFBlistHandler() {
      let params = {
        page: this.currentPage,
        page_size: this.pageSize
        // uid: this.userID
        // all_sites: this.tabIndex
      }
      Object.assign(params, this.formData)
      getFBlist(params).then(res => {
        this.tableData = res.list ? res.list : []
        this.total = res.pager.total_rows
      })
    },
    // 全站模型
    getQZlistHandler() {
      let params = {
        // page: this.currentPage,
        // page_size: this.pageSize
        // uid: this.userID
        // all_sites: this.tabIndex
      }
      Object.assign(params, this.formData)
      getQZlist(params).then(res => {
        this.tableData = res.list ? res.list : []
        this.total = res.pager.total_rows
      })
    },
    getDTNameById() {
      this.device_typeList.forEach
    },
    getAllAuditInfoHandler(id) {
      getAllAuditInfo(id).then(res => {
        this.currRowInfo = res.data
        this.detailVisible = true
      })
    },

    jzbgHandler(row) {
      if (this.tabIndex == 1) {
        this.currRowInfo = row
        this.jzVisible = true
      } else {
        this.getAllAuditInfoHandler(row.id)
      }
    },
    shbgHandler(row) {
      if (this.tabIndex == 1) {
        // this.getEquipInfoHandler(row.id)
        this.currRowInfo = row
        this.detailVisible = true
      } else {
        this.getAllAuditInfoHandler(row.id)
      }
    },
    bthHandler(params) {
      this.detailVisible = false
    },
    jzbthHandler(params) {
      this.jzVisible = false
    },
    getTextByStatus(val) {
      return statusHandler.getNameById(val)
    },

    aginrenderHandler() {
      this.aginrender = false
      this.$nextTick(() => {
        this.aginrender = true
      })
    },
    shareFormChange(val) {
      this.formData = val
      this.init()
    },

    checkboxChange(bol) {
      this.table_ref.clearSelection()
      if (bol) {
        this.table_ref.toggleAllSelection()
      }
    },
    modelAdminListHandler() {
      //   this.total = 0;
      this.tableData = []
      const params = {
        // file_type: 1,
        // status: this.form.status,
        // // uid: this.userID,
        // site_name: this.form.site_name,
        // // device_num: this.form.device_num,
        // device_type: this.form.device_type,
        // device_voltage: this.form.device_voltage,
        // name: this.selectVal == 1 ? this.searchValue : '',
        // company: this.searchValueCompany,
        // // desc: this.searchValueCompany,
        page: this.currentPage,
        page_size: this.pageSize,
        // uid: this.userID
        all_sites: this.tabIndex
      }
      Object.assign(params, this.formData)
      getModelList(params).then(res => {
        this.tableData = res.list ? res.list : []
        this.total = res.pager.total_rows
        // this.norun = false
      })
    },
    // inputHandler(text, params, type) {
    //   const param = {
    //     area: params.area,
    //     voltage: params.voltage,
    //     site_name: params.site_name,
    //     device_space: params.device_space,
    //     device_voltage: params.device_voltage,
    //     device_type: params.device_type,
    //     name: params.name,
    //     device_company: params.device_company,
    //     device_num: params.device_num,
    //     describe: params.describe,
    //     id: params.id
    //   }
    //   param[type] = text
    //   if (param[type] == '') {
    //     this.$warning('模型名称/设备型号不能为空')
    //   } else if (param[type].length > 39) {
    //     this.$warning('文本长度不能超过40个字符')
    //   } else {
    //     this.updateModelHandler(param)
    //   }
    // },
    // updateModelHandler(params) {
    //   updateModel(params).then(res => {
    //     if (res.code == 0) {
    //       this.$message.success('修改成功')
    //       this.modelAdminListHandler()
    //     } else {
    //       this.$message.error('修改失败')
    //     }
    //   })
    // },
    selectionChange(params) {
      this.selectTable = params
      this.checkboxVal = this.tableData.length == params.length
      this.indeterminate = params.length > 0 && this.tableData.length > params.length
    },

    clickHandler() {
      if (this.selectTable.length <= 0) {
        this.$message.warning('请选择模型')
        return
      }
    },
    clearData() {
      this.currentPage = 1
      this.total = 0
      this.table_ref.clearSelection()
      this.tableData = []
      this.formData = {}
    },
    tabHandler(params) {
      let index = params.id
      this.clearData()
      this.currRowInfo = {}
      this.tabIndex = index
      // 1-单体模型 2- 全站模型
      if (params.id == 2) {
        this.propsForm = JSON.parse(JSON.stringify(this.allsPForm))
      }
      if (params.id == 1) {
        this.propsForm = JSON.parse(JSON.stringify(this.singPForm))
      }
      //   重新渲染高度
      this.aginrenderHandler()
      //   this.modelAdminListHandler()
    },
    currentChange(currentPage) {
      this.currentPage = currentPage
      this.table_ref.clearSelection()
      this.modelAdminListHandler()
    },
    pushHandlerBtn(name, params) {
      this.$ModelGF.pushHandler(name, params)
    }
  }
}
</script>

<style lang="less" scoped>
.el-table--enable-row-transition .el-table__body td.el-table__cell {
  padding: 2px 0;
}
.el-table__body-wrapper {
  overflow: auto;
}
.tabtoggle {
  top: -70px;
}
</style>
