<template>
  <div class="wh100 bgfff br10 padd20">
    <div class="tableClass42">
      <Table ref="tableRef" :data="tableData" style="width: 100%">
        <el-table-column align="center" show-overflow-tooltip prop="name" label="模型名称"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="device_num" label="设备型号"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="device_num" label="模型类别"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="device_voltage" label="电压等级"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="device_company" label="生产厂商"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="site_name" label="模型用途"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="price" label="价格">
          <template slot-scope="scope">
            <span style="color: red"> {{ scope.row.price ? '￥' : '' }}{{ scope.row.price }} </span>
          </template>
        </el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="site_name" label="销量"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="site_name" label="上传ID"></el-table-column>
        <el-table-column align="center" show-overflow-tooltip prop="site_name" label="上传用户"></el-table-column>
      </Table>
    </div>
    <div class="rightList_main_pagination">
      <el-pagination background @current-change="currentChange" layout="prev, pager, next" :total="total"> </el-pagination>
      <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
    </div>
  </div>
</template>

<script>
export default {
  name: '',
  data() {
    return {
      tableData: [],
      total: 0
    }
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    currentChange(currentPage) {}
  }
}
</script>

<style></style>
