<template>
  <div class="wh100">
    <div class="flex flex-ac mt20 mb20">
      <span class="mr15">模型合规</span>
      <el-select v-model="value" placeholder="请选择">
        <el-option label="合规" :value="1"> </el-option>
        <el-option label="不合规" :value="1"> </el-option>
      </el-select>
      <span class="mr15 ml20">模型来源</span>
      <el-select v-model="value" placeholder="请选择">
        <el-option label="资源" :value="1"> </el-option>
        <el-option label="原生" :value="1"> </el-option>
      </el-select>
    </div>
    <div class="tableClass56">
      <div class="tableQP">
        <Table ref="tableRef" :data="tableData">
          <el-table-column width="55" align="center" type="index" show-overflow-tooltip label="序号"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="name" label="模型名称">
            <!-- <template slot-scope="scope">
              <el-input class="tableInput" v-model="scope.row.name" @change="inputHandler($event, scope.row, 'name')" placeholder=""></el-input>
            </template> -->
          </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_num" label="型号">
            <!-- <template slot-scope="scope">
                <el-input class="tableInput" v-model="scope.row.device_num" @change="inputHandler($event, scope.row, 'device_num')" placeholder=""></el-input>
              </template> -->
          </el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_voltage" label="电压等级"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="device_company" label="生产厂商"></el-table-column>
          <!-- <el-table-column align="center" show-overflow-tooltip prop="site_name" label="所属站点"></el-table-column> -->
          <el-table-column align="center" show-overflow-tooltip prop="device_type_name" label="设备分类"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="create_time" label="创建时间"></el-table-column>
          <!-- <el-table-column align="center" show-overflow-tooltip prop="device_company" label="浏览"></el-table-column> -->
          <!-- <el-table-column align="center" show-overflow-tooltip prop="site_name" label="下载"></el-table-column> -->
          <el-table-column align="center" show-overflow-tooltip prop="device_type_name" label="价格"></el-table-column>
          <el-table-column align="center" show-overflow-tooltip prop="site_name" label="状态"></el-table-column>
          <el-table-column align="center" label="操作">
            <template slot-scope="scope">
              <div class="operation">
                <model-preview-btn :modelId="scope.row">预览</model-preview-btn>
              </div>
            </template>
          </el-table-column>
        </Table>
      </div>
      <div class="rightList_main_pagination">
        <el-pagination background @current-change="currentChange" layout="prev, pager, next" :page-size.sync="pageSize" :current-page.sync="currentPage" :total="total"> </el-pagination>
        <span class="info">当前显示{{ tableData.length }}条，当前记录共{{ total }}条</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModeldetaBotTable',
  data() {
    return {
      tableData: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      total: 0,
      pageSize: 10,
      currentPage: 1,
      value: ''
    }
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    preview(params) {},
    currentChange(val) {
      this.currentPage = val
    }
  }
}
</script>

<style></style>
