<template>
  <div class="w100">
    <p class="mt20 mb20 FB">模型简介</p>
    <div id="modelInfo">
      <div class="modelInfotr" v-for="(item, index) in modelInfoList" :key="index + 77">
        <div>
          <p>{{ item.name }}</p>
        </div>
        <div class="contentDiv">
          <span v-show="item.name != '所属站点名称'">{{ item.content }}</span>
          <span v-show="item.name == '所属站点名称' && isShowMore">
            <i class="siteNameClass" v-for="(m, n) in siteName" :key="n + 1456">{{ m }}</i>
          </span>
          <span v-show="item.name == '所属站点名称' && isShowMore" class="moreClass" @click="moreHandler">{{ moreText }}</span>
          <span v-show="item.name == '所属站点名称' && !isShowMore">
            <i class="siteNameClass">{{ siteName }}</i>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModelInfo',
  props: {
    // data: {
    //   type: Array,
    //   default: function () {
    //     return []
    //   }
    // }
  },
  data() {
    return {
      moreText: '更多',
      isShowMore: false,
      siteNameArr: [],
      siteName: [],
      modelInfoList: []
    }
  },
  computed: {},
  //   watch: {
  //     data: {
  //       handler(newval) {
  //         this.$nextTick(() => {
  //           this.splitContent()
  //         })
  //       },
  //       deep: true,
  //       immediate: true
  //     }
  //   },
  mounted() {
    let { modelInfoList } = { ...this.$attrs }
    if (modelInfoList) {
      this.modelInfoList = this.splitContent(modelInfoList)
    }
  },
  created() {},
  methods: {
    splitContent(arr) {
      let width = document.getElementById('modelInfo').clientWidth / 2 - 50
      arr.forEach(item => {
        if (item.name == '所属站点名称') {
          let wid = item.content.length * 16 - width
          let len = Math.ceil((item.content.length * 16) / (width + 50))
          if (wid >= 50) {
            this.isShowMore = true
            let str = this.insertStr(item.content, Math.ceil((width - 50) / 16), '&', len)
            this.siteNameArr = str.split('&')
            this.siteName = this.siteNameArr.filter((item, index) => {
              return index == 0
            })
          } else {
            this.siteName = item.content
            this.isShowMore = false
          }
        }
      })
      return arr
    },
    insertStr(soure, end, newStr, i) {
      let en = end
      let str = ''
      let index = 1
      aa(soure, end, newStr, i)
      function aa(soure, end, newStr, i) {
        str = soure.slice(0, end) + newStr + soure.slice(end)
        index += 1
        end += en
        if (index <= i) {
          aa(str, end + 1, '&', i)
        }
      }
      return str
    },
    moreHandler() {
      let contentDiv = document.getElementsByClassName('contentDiv')
      if (this.moreText == '收起') {
        this.moreText = '更多'
        this.siteHeight = 'auto'
        this.siteName = this.siteNameArr.filter((item, index) => {
          return index == 0
        })
      } else {
        this.moreText = '收起'
        this.siteName = this.siteNameArr.filter((item, index) => {
          return true
        })
      }
    }
  }
}
</script>

<style lang="less">
#modelInfo {
  border-radius: 10px;
  border: 1px solid var(--borderColor);
  .modelInfotr {
    display: flex;
    text-align: center;
    //   align-items: center;
    height: 45px;
    line-height: 45px;
    height: auto;
    > div {
      width: 50%;
      height: auto;
      // padding: 5px 0;
      border-bottom: 1px solid var(--borderColor);
    }
    > div:first-child {
      border-right: 1px solid var(--borderColor);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .moreClass {
      color: var(--shareColor);
      margin-left: 10px;
      cursor: pointer;
    }
    .siteNameClass {
      display: block;
      // padding: 5px 0;
    }
    .siteNameClass:last-child {
      display: inline-block;
    }
  }
  .modelInfotr:last-child {
    > div {
      border-bottom: none;
    }
  }
}
</style>
