<template>
  <div class="modeldetaTop">
    <div class="imgWHa" @click="lookHandler">
      <img class="imgWHa" v-show="$attrs.dataInfo.thumbnail_url == 'none'" src="@/assets/image/max.jpg" alt="" />
      <el-image class="imgWHa" v-show="$attrs.dataInfo.thumbnail_url !== 'none'" :src="$attrs.dataInfo.thumbnail_url" style="cursor: pointer">
        <div slot="error" class="image-slot">
          <i class="el-icon-picture-outline"></i>
          <span>暂无图片</span>
        </div>
      </el-image>
    </div>
    <div class="rightContent">
      <p class="rightContentp flex">
        <span style="width: 33.3%">{{ $attrs.dataInfo.name }}</span>
        <span class="price">￥{{ $attrs.dataInfo.price ? $attrs.dataInfo.price : '-' }}</span>
      </p>
      <div class="rightContentCenter F16">
        <div v-for="(item, index) in keysName[$attrs.category]" :key="index + 33" v-show="!item.norender">
          <span style="color: #666666">
            {{ item.name }}： <i style="color: #333">{{ $attrs.dataInfo[item.key] }}</i>
          </span>
          <span class="more" @click="visible = true" v-show="item.key == 'uploadTime'"> 更多 </span>
        </div>
        <div>
          <span>模型用途:</span>
          <span class="ml15 pointer filetypeClass" :class="{ activeClass: activeIndex == m.id }" v-for="(m, n) in file_type_list" @click="filetypeHandler(m)" :key="n + 88">{{ m.name }}</span>
        </div>
      </div>
      <div class="horLine"></div>
      <div class="rightContentBottom paddl20">
        <el-button v-if="$attrs.category == 'isEquip'" class="bgButton" @click="quyuHandler">区域分布</el-button>
        <div v-else class="flex">
          <div class="flex flex-ac mr20 ml20" v-for="(item, index) in hglist" :key="index + 99">
            <div class="textcenter pathname F16 mr10">
              <p style="color: #666666">{{ item.name }}</p>
              <p style="color: #999999">{{ item.value }}</p>
            </div>
            <div v-show="item.process">
              <el-progress type="circle" color="#00a187" :percentage="item.process" :stroke-width="10"></el-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-dialog append-to-body lock-scroll title="历史版本" :visible.sync="visible" width="60%" top="15vh">
      <div class="padd20">
        <Table ref="tableRef" :data="tableData" style="width: 100%">
          <el-table-column prop="name" label="版本号"></el-table-column>
          <el-table-column prop="name" label="生成时间"></el-table-column>
          <el-table-column prop="name" label="默认"></el-table-column>
          <el-table-column prop="name" label="数字化移交"></el-table-column>
          <el-table-column prop="name" label="精细化模型"></el-table-column>
          <el-table-column prop="name" label="实景三维点云"></el-table-column>
        </Table>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'ModeldetaTop',
  inheritAttrs: false,
  props: {},
  data() {
    return {
      keylist: [],
      visible: false,
      tableData: [],
      activeIndex: 0,
      file_type_list: [
        { id: 9, name: '全部' },
        { id: 1, name: '数字化移交' },
        { id: 2, name: '精细化模型' },
        { id: 3, name: '实景三维点云' }
      ],
      hglist: [
        { name: '设备模型', value: 518 },
        { name: '合规模型', value: 518, process: 90 },
        { name: '资源模型', value: 518, process: 90 }
      ],
      keysName: {
        isEquip: [
          { key: 'device_type_name', name: '模型分类' },
          { key: '', name: '数据来源' },
          { key: 'fileformat', name: '文件格式' },
          { key: 'device_num', name: '设备型号' },
          { key: 'uploadTime', name: '最新版本' },
          { key: 'name', norender: true },
          { key: 'price', norender: true },
          { key: 'thumbnail_url', norender: true }
        ],
        isAll: [
          { key: 'area', name: '所属地区' },
          { key: '', name: '数据来源' },
          { key: 'voltage', name: '电压等级' },
          { key: 'fileformat', name: '文件格式' },
          { key: 'uploadTime', name: '最新版本' },
          { key: 'name', norender: true },
          { key: 'price', norender: true },
          { key: 'thumbnail_url', norender: true }
        ]
      }
    }
  },
  computed: {},
  watch: {},
  created() {
    console.log(this.$attrs, '-=-------')
  },
  mounted() {},
  methods: {
    quyuHandler() {
      this.$parent.$parent.$parent.quyuVisible = true
      //   console.log(this.$parent.$parent.$parent.quyuVisible, '0-0-0-')
    },
    filetypeHandler(params) {
      this.$emit('fileTypeHandler', params)
    },
    lookHandler() {
      //   if (this.$attrs.dataInfo.ModelVersionList && this.$attrs.dataInfo.ModelVersionList.length > 0) {
      //     this.$ModelGF.pushHandler('模型查看', {
      //       id: this.$attrs.dataInfo.id,
      //       file_type: this.$attrs.dataInfo.file_type,
      //       file_path: this.$attrs.dataInfo.file_path,
      //       status: this.$attrs.dataInfo.status,
      //       name: '发布管理'
      //     })
      //   }
    }
  }
}
</script>

<style lang="less" scoped>
.modeldetaTop {
  height: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  .filetypeClass:hover,
  .activeClass {
    color: #00a187;
  }
  .imgWHa {
    width: 220px;
    height: 220px;
  }
  img {
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    cursor: pointer;
  }
  .rightContent {
    flex: 1;
    height: 220px;
    margin-left: 20px;
    .price {
      color: #00a187;
      font-size: 18px;
    }
    .rightContentp {
      line-height: 50px;
      font-weight: bold;
      font-size: 18px;
      padding-right: 40px;
      background: rgba(0, 161, 128, 0.1);
      border-radius: 4px 4px 0px 0px;
      padding: 0 20px;
    }
    .rightContentCenter {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0 10px 20px;
      background: rgba(54, 161, 135, 0.04);
      div {
        width: 33.3%;
        overflow: hidden;
        margin: 10px 0;
      }
      .more {
        color: #2c9ed1;
        margin-left: 20px;
        cursor: pointer;
      }
    }
    .rightContentBottom {
      padding: 10px 20px;
      font-size: 16px;
      background: rgba(54, 161, 135, 0.04);
      /deep/.el-progress-circle {
        width: 34px !important;
        height: 34px !important;
      }
      /deep/.el-progress__text {
        font-size: 12px !important;
        transform: scale(0.9);
        top: 32%;
      }
    }
  }
}
</style>
