<template>
  <div class="wh100 ohidden">
    <GW v-if="WHICHUNIT == 'GW'"></GW>
    <SC v-else></SC>
  </div>
</template>

<script>
import GW from './layout/GW/index.vue'
import SC from './layout/SC/index.vue'
export default {
  name: 'APP',
  components: {
    GW,
    SC
  },
  data() {
    return {
      WHICHUNIT: WHICHUNIT
    }
  },
  mounted() {}
}
</script>

<style lang="less" src="./assets/css/style.less"></style>
