<template>
  <div id="divider">
    <!-- <div id="wheelId" style="display: flex; justify-content: space-between"> -->
    <div :class="index == data.length - 1 ? 'dividerMainWrap width18' : 'dividerMainWrap width292'" v-for="(item, index) in data" :key="item">
      <div :class="routeTitle == item ? 'dividerMain active' : 'dividerMain'" @click="pushHandlerBtn(item)">
        <p>{{ item }}</p>
        <div class="dividerCircle"><span></span></div>
      </div>
      <div class="line" :style="{ width: index == data.length - 1 ? '0' : '100%' }"></div>
    </div>
    <!-- </div> -->
  </div>
</template>

<script>
export default {
  name: 'Divider',
  props: {
    data: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data() {
    return {
      active: 2,
      routeTitle: '',
      routePtitle: null,
      dom: null
    }
  },
  computed: {},
  created() {
    this.activeHandler()
  },
  beforeRouteUpdate(to, from) {
    console.log(to, from, '00000000')
  },
  mounted() {
    // this.dom = document.getElementById('divider')
    // this.dom.scrollLeft = sessionStorage.getItem('DIVIDERSCROLL')
    // this.dom.addEventListener('DOMMouseScroll', this.handleScroll)
    // this.dom.addEventListener('mousewheel', this.handleScroll)
  },
  watch: {
    $route: {
      handler(newval) {
        this.activeHandler(newval)
      }
    },
    deep: true
  },

  methods: {
    activeHandler(newval) {
      if (newval) {
        this.routeTitle = newval.meta.pname || newval.meta.name
      }
    },
    pushHandlerBtn(name) {
      this.$ModelGF.pushHandler(name)
    }
  }
}
</script>

<style lang="less" scoped>
#divider::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
}
.width18 {
  width: 18px;
}
.width292 {
  //   width: 292px;
  width: 100%;
}
#divider {
  width: 100%;
  box-sizing: border-box;
  padding: 50px 40px 20px 40px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  scrollbar-width: none;
  .el-divider__text {
    padding: 0;
  }
  .dividerMainWrap {
    position: relative;
  }
  .line {
    position: absolute;
    background: #eeeeee;
    width: 100%;
    height: 1px;
    left: 16px;
    top: 50%;
  }
  .dividerMain {
    width: 20px;
    .dividerCircle {
      width: 16px;
      height: 16px;
      border: 1px solid rgb(236, 236, 236); /*no*/
      border-radius: 50%;
      display: flex;
      justify-content: center;
      background: rgb(236, 236, 236);
      align-items: center;
      cursor: pointer;
      span {
        display: block;
        border-radius: 50%;
        background: var(--borderColor);
        width: 10px;
        height: 10px;
      }
    }
    p {
      width: 70px;
      height: 50px;
      white-space: nowrap;
      position: absolute;
      text-align: center;
      top: -30px;
      left: -30px;
      cursor: pointer;
      font-size: 16px;
      color: #666666;
    }
  }
  .dividerMain.active,
  .dividerMain:hover {
    .dividerCircle {
      background: rgb(204, 236, 231);
      border: 1px solid rgb(204, 236, 231); /*no*/
      span {
        background: var(--shareColor);
      }
    }
    p {
      color: var(--shareColor);
      font-weight: bold;
    }
  }
}
</style>
