<template>
  <div class="inlineblock">
    <router-link v-if="$props.modelId && $props.modelId.id" custom v-slot="{ navigate, href }" :to="toHandler()">
      <a :href="href" @click="navigate" target="_blank">
        <slot></slot>
      </a>
    </router-link>
    <span v-else>
      <slot></slot>
    </span>
  </div>
</template>

<script>
export default {
  name: 'ModelPreviewBtn',
  props: {
    modelId: {
      required: true
    }
  },
  data() {
    return {}
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    toHandler() {
      let id = this.$ModelGF.AES.encode(this.$props.modelId.id)
      return {
        name: 'modelPreview',
        query: {
          s: id
        }
      }
    }
  }
}
</script>

<style></style>
