<template>
  <div class="form">
    <SearchInput ref="SearchInput" :status="searchStatus" @change="InputChange"></SearchInput>
    <div v-if="form.site_name == '' || form.site_name">
      <span class="formlabel">所属站点</span>
      <el-select clearable v-model="form.site_name" placeholder="请选择">
        <el-option v-for="item in site_nameList" :label="item.name" :value="item.name" :key="item.name"></el-option>
      </el-select>
    </div>
    <div v-if="form.area == '' || form.area">
      <span class="formlabel">所属地区</span>
      <el-select clearable v-model="form.area" placeholder="请选择">
        <el-option v-for="item in areaList" :label="item.name" :value="item.name" :key="item.name"></el-option>
      </el-select>
    </div>
    <div v-if="form.device_type == '' || form.device_type">
      <span class="formlabel">设备分类</span>
      <el-cascader @change="aaaaaaa" clearable v-model="form.device_type" :options="device_typeList" :props="props" :show-all-levels="false"></el-cascader>
    </div>
    <div v-if="form.device_voltage == '' || form.device_voltage">
      <span class="formlabel">电压等级</span>
      <el-select clearable v-model="form.device_voltage" placeholder="请选择">
        <el-option v-for="item in device_voltageList" :label="item.name" :value="item.name" :key="item.name"></el-option>
      </el-select>
    </div>
    <div v-if="form.file_type == '' || form.file_type || form.file_type == 0">
      <span class="formlabel">模型用途</span>
      <el-select clearable v-model="form.file_type" placeholder="请选择">
        <el-option v-for="item in fileTypeList" :label="item.name" :value="item.name" :key="item.name"></el-option>
      </el-select>
    </div>
    <div v-if="form.status == '' || form.status || form.status == 0">
      <span class="formlabel">模型状态</span>
      <el-select v-model="form.status" placeholder="请选择">
        <el-option v-for="(m, n) in statusList" :label="m.label" :value="m.value" :key="n + 989"></el-option>
      </el-select>
    </div>
  </div>
</template>

<script>
import { getGroupsHandler } from '@/utils/shUtils.js'
export default {
  name: 'ShareForm',
  props: {
    propsForm: {
      type: Object,
      default: () => {
        return {
          site_name: '',
          device_type: '',
          device_voltage: '',
          area: '',
          file_type: '',
          status: ''
        }
      }
    },
    searchStatus: {},
    statusList: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      form: {},
      areaList: [],
      site_nameList: [],
      device_voltageList: [],
      device_typeList: [],
      fileTypeList: [],
      props: {
        expandTrigger: 'hover',
        children: 'sub_list',
        label: 'name',
        value: 'id',
        emitPath: false,
        checkStrictly: true
      }
    }
  },
  computed: {},
  watch: {
    propsForm: {
      handler(newval) {
        this.$nextTick(() => {
          this.$refs.SearchInput.clear()
          this.form = JSON.parse(JSON.stringify(newval))
        })
      },
      deep: true,
      immediate: true
    },
    form: {
      handler(newval) {
        this.$emit('change', newval)
      },
      deep: true
    },
    searchStatus: {
      handler(newval) {}
    }
  },
  created() {
    getGroupsHandler().then(res => {
      this.areaList = res.areaList
      this.site_nameList = res.site_nameList
      this.device_voltageList = res.device_voltageList
      this.device_typeList = res.device_typeList
      this.fileTypeList = res.fileTypeList
    })
  },
  mounted() {},
  methods: {
    aaaaaaa(a) {
      //   console.log(this.form.device_type, a, '9999999')
      if (!a) this.form.device_type = ''
    },
    InputChange(params) {
      const name = params.selectVal == 1 ? params.searchValue : ''
      const company = this.searchValueCompany || ''
      this.$set(this.form, 'name', name)
      this.$set(this.form, 'company', company)
    }
  }
}
</script>

<style lang="less" scoped>
.form {
  border-radius: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  > div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  .example {
    font-size: 16px;
    margin-left: 20px;
  }
  .el-input,
  .el-cascader {
    width: 210px;
    line-height: 36px;
  }
  /deep/.el-input__inner {
    line-height: 36px;
  }
  .formlabel {
    font-size: 16px;
    text-align: right;
    color: #333;
    width: 70px;
    // max-width: 100px;
    display: inline-block;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
</style>
