<template>
  <div id="tabBar">
    <div class="tabBarItemWrap">
      <div :key="index + 101" v-for="(item, index) in data" @click="tabHandler(item)" :class="(activeIndex_btn == item.id ? 'active_btn' : '') + ' ' + borderRadius(index)">
        {{ item.name }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TabBar',
  props: {
    data: {
      type: Array,
      default: function () {
        return []
      }
    },
    index: {
      default: function () {
        return 0
      }
    }
  },
  data() {
    return {
      activeIndex_btn: 0
    }
  },
  computed: {},
  watch: {
    index: {
      handler(newval) {
        this.activeIndex_btn = newval
      },
      immediate: true
    }
  },
  mounted() {},
  methods: {
    borderRadius(index) {
      const len = this.data.length
      if (this.data.length > 1) {
        if (index == 0) {
          return 'borderRadius0'
        } else if (index == len - 1) {
          return 'borderRadiuslen-1'
        }
      } else {
        return 'borderRadius4444'
      }
      return 'borderRadius0000'
    },
    setIndex(item) {
      this.activeIndex_btn = item.id
      //   this.$emit("change", item);
    },
    tabHandler(item) {
      this.activeIndex_btn = item.id
      this.$emit('change', item)
    }
  }
}
</script>

<style lang="less" scoped>
#tabBar {
  width: fit-content;
  font-size: 14px;
  .tabBarItemWrap {
    width: fit-content;
    > div {
      display: inline-block;
      padding: 7px 30px;
      border: 1px solid var(--shareColor);
      color: var(--shareColor);
      cursor: pointer;
      transition: all 0.5s;
    }
    //   > div:first-child {
    //     border-radius: 4px 0 0 4px;
    //   }
    //   > div:last-child {
    //     border-radius: 0 4px 4px 0;
    //   }
    > div:hover {
      color: #fff;
      background: var(--shareColor);
    }
    .active_btn {
      color: #fff;
      background: var(--shareColor);
    }
  }
}
.borderRadius0000 {
  border-radius: 0 0 0 0;
}
.borderRadius0 {
  border-radius: 4px 0 0 4px;
}
.borderRadiuslen-1 {
  border-radius: 0 4px 4px 0;
}
.borderRadius4444 {
  border-radius: 4px 4px 4px 4px;
}
</style>
