<template>
  <el-table
    ref="table"
    fit
    class="shareTable"
    header-row-class-name="headerRowclassName"
    :data="data"
    size="small"
    :highlight-current-row="true"
    height="100%"
    :row-style="rowStyle"
    @sort-change="sortChange"
    @selection-change="selectionChange"
    :row-key="rowKey"
    default-expand-all
    :tree-props="{ children: 'sub_list', hasChildren: 'hasChildren' }"
  >
    <slot></slot>
  </el-table>
</template>

<script>
export default {
  name: 'Table',
  props: {
    data: {
      type: Array,
      default: function () {
        return []
      }
    },
    rowKey: {
      type: String,
      default: function () {
        return 'id'
      }
    },
    height: {
      type: String,
      default: function () {
        return '100%'
      }
    }
  },
  data() {
    return {}
  },
  computed: {},
  watch: {
    data: {
      handler(newval) {
        this.$nextTick(() => {
          this.$refs.table.doLayout()
        })
      },
      deep: true
    }
  },
  mounted() {},
  methods: {
    sortChange({ column, prop, order }) {
      this.$emit('sortChange', { column, prop, order })
    },
    selectionChange(selection) {
      this.$emit('selectionChange', selection)
    },
    rowStyle({ row, rowIndex }) {
      const num = rowIndex / 2
      return parseInt(num) == num ? { background: '#fff' } : { background: 'rgb(245, 251, 250)' }
    }
  }
}
</script>

<style></style>
